<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="page-body">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>파비콘</strong></h4>
                    </div>
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-lg-6 mb-3 ">
                                <div class="row mb-0 form-group required">
                                    <div class="col-12 banner-preview text-center">
                                        <img th:if="${favicon eq null}" class="thumbnail-img" id="faviconPreview" src="/files/assets/images/noimg.png" alt="logo image">
                                        <img th:if="${favicon ne null and favicon.savedName != null}" class="thumbnail-img" id="faviconPreview" th:src="@{/admin/setting/favicon}" alt="logo image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 ">
                                <form id="faviconForm" name="faviconForm" enctype="multipart/form-data">
                                    <button type="button" class="btn btn-transparent btn-sm-1" onclick="document.getElementById('faviconFile').click()">파일선택</button>
                                    <input type="file" name="faviconFile" id="faviconFile" style="display:none" onchange="readURL(this, 'faviconPreview');"/>
                                    <input type="hidden" name="faviconFileGroupId" id="faviconFileGrouopId" th:value="${favicon ne null ? favicon.groupId : '' }">
                                </form>
                                <div class="row mt-3">
                                    <p class="col-sm text-muted m-b-0">파비콘은 브라우저 주소 탭 좌측에 표시 됩니다.
                                        ICO 파일을 업로드해 주세요.
                                    </p>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-right">
                                <button type="button" class="btn btn-primary" onclick="saveFavicon()">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>카카오톡 미리보기</strong></h4>
                    </div>
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="row mb-0 form-group required">
                                    <div class="col-12 banner-preview text-center">
                                        <img th:if="${kakaoThumbnail eq null}" class="thumbnail-img" id="kakaoThumbnailPreview" src="/files/assets/images/noimg.png" alt="logo image">
                                        <img th:if="${kakaoThumbnail ne null and kakaoThumbnail.savedName != null}" class="thumbnail-img" id="kakaoThumbnailPreview" th:src="@{/admin/setting/kakaoThumbnail}"
                                             alt="logo image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <form id="kakaoThumbnailForm" name="kakaoThumbnailForm" enctype="multipart/form-data">
                                    <button type="button" class="btn btn-transparent btn-sm-1" onclick="document.getElementById('kakaoThumbnail').click()">파일선택</button>
                                    <input type="file" name="kakaoThumbnail" id="kakaoThumbnail" style="display:none" onchange="readURL(this, 'kakaoThumbnailPreview');"/>
                                    <input type="hidden" name="kakaoThumbnailGroupId" id="kakaoThumbnailGroupId" th:value="${kakaoThumbnail != null ? kakaoThumbnail.groupId : '' }">
                                </form>

                                <div class="row mt-3">
                                    <p class="col-sm text-muted m-b-0">카카오톡에 새식일기 링크 공유 시, 출력되는 썸네일 이미지입니다.</p>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-right">
                                <button type="button" class="btn btn-primary" onclick="saveKakaoThumbnail()">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function readURL(input, previewId) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(previewId).src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById(previewId).src = "";
            }
        }

        function saveKakaoThumbnail() {
            const form = $('#kakaoThumbnailForm')[0];
            const formData = new FormData(form);
            $.ajax({
                type: 'post',
                enctype: 'multipart/form-data',
                url: '/admin/setting/kakaoThumbnail',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                cache: false
            }).done((response) => {
                alert('등록 되었습니다.');
            }).fail((response) => {
            })
        }

        function saveFavicon() {
            const form = $('#faviconForm')[0];
            const formData = new FormData(form);

            $.ajax({
                type: 'post',
                enctype: 'multipart/form-data',
                url: '/admin/setting/favicon',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                cache: false
            }).done((response) => {
                alert('등록 되었습니다.');
            }).fail((response) => {
                alert(JSON.stringify(response, null, 4 ));
            })
        }

    </script>
</div>
</html>