<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="page-body">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>파비콘</strong></h4>
                    </div>
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-lg-6 mb-3 ">
                                <!--                                <div class="col-lg-6 mt-3 mb-3">-->
                                <div class="row mb-0 form-group required">
                                    <div class="col-12 banner-preview text-center" id="file_container">
                                        <img class="thumbnail-img" id="preview" src="/files/assets/images/noimg.png" alt="logo image">
                                    </div>
                                </div>
                                <!--                                </div>-->
                                <!--<div class="mt-1 p-t-20 text-center">
                                    <button type="button" class="btn btn-primary" onclick="save()">저장</button>
                                </div>-->
                            </div>
                            <div class="col-lg-6 mb-3 ">
                                <button type="button" class="btn btn-transparent btn-sm-1" onclick="document.getElementById('bannerFile').click()">파일선택</button>
                                <input type="file" name="bannerFile" id="bannerFile" style="display:none" onchange="readURL(this);"/>

                                <div class="row mt-3">
                                    <p class="col-sm text-muted m-b-0">파비콘은 브라우저 주소 탭 좌측에 표시 됩니다.
                                        ICO 파일을 업로드해 주세요.
                                    </p>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-right">
                                <button type="button" class="btn btn-primary" onclick="save()">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>카카오톡 미리보기</strong></h4>
                    </div>
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <!--                                <div class="col-lg-6 mt-3 mb-3">-->
                                <div class="row mb-0 form-group required">
                                    <div class="col-12 banner-preview text-center" id="file_container">
                                        <img class="thumbnail-img" id="preview" src="/files/assets/images/noimg.png" alt="logo image">
                                    </div>
                                </div>
                                <!--                                </div>-->
                                <!--<div class="mt-1 p-t-20 text-center">
                                    <button type="button" class="btn btn-primary" onclick="save()">저장</button>
                                </div>-->
                            </div>
                            <div class="col-lg-6 mb-3">
                                <button type="button" class="btn btn-transparent btn-sm-1" onclick="document.getElementById('bannerFile').click()">파일선택</button>
                                <input type="file" name="bannerFile" id="bannerFile" style="display:none" onchange="readURL(this);"/>

                                <div class="row mt-3">
                                    <p class="col-sm text-muted m-b-0">카카오톡에 새식일기 링크 공유 시, 출력되는 썸네일 이미지입니다.</p>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-right">
                                <button type="button" class="btn btn-primary" onclick="save()">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
    </script>
</div>
