<form th:object="${memberDetail}" method="post" id="detailForm" name="detailForm" >
    <input type="hidden" name="id" id="id" th:value="${memberId}">
    <div class="card-header  p-b-0">
        <h3 class="sub-title"><strong>기본정보</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="row form-group required mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="email"><strong>아이디</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm form-control-round" th:field="*{email}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>가입수단</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm form-control-round" th:field="*{signupMethod.value}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <input type="hidden" id="prevNickname" name="prevNickname" th:value="*{nickname}">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="nickname"><strong>닉네임</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-round" th:field="*{nickname}" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" ><strong>회원상태</strong></label>
                    <div class="col-sm-12">
                        <select class="form-select form-control form-control-round custom-select" id="status" name="status" th:value="*{status.value}">
                            <option th:each="ms : ${memberStatus}" th:value="${ms.key}" th:text="${ms.value}">value</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="createdAt"><strong>회원가입일시</strong></label>
                    <div class="col-sm-12">
                        <input type="datetime" class="form-control form-control-sm form-control-round" th:field="*{createdAt}" readonly>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lastLoggedAt"><strong>최근접속일시</strong></label>
                    <div class="col-sm-12">
                        <input type="datetime" class="form-control form-control-sm form-control-round" th:field="*{lastLoggedAt}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="dormancyConvertedAt"><strong>휴면전환일시</strong></label>
                    <div class="col-sm-12">
                        <input type="datetime" class="form-control form-control-sm form-control-round" th:field="*{dormancyConvertedAt}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="deletedAt"><strong>회원탈퇴일시</strong></label>
                    <div class="col-sm-12">
                        <input type="datetime" class="form-control form-control-sm form-control-round" th:field="*{deletedAt}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row form-group mb-3">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>비밀번호</strong></label>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-transparent" id="temporaryPasswordBtn">임시 비밀번호 발급</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-block-small">
        <button type="button" class="btn btn-gray m-r-5" id="cancelBtn">취소</button>
        <button type="button" class="btn btn-primary" id="saveBtn">저장</button>
    </div>

    <script type="text/javascript" th:src="@{/js/custom-design.js}"></script>
    <script>
        $(function(){
            $('#temporaryPasswordBtn').on('click',function() {
                if(confirm('임시 비밀번호를 발급하시겠습니까?')) {

                }
            })

            $('#saveBtn').on('click', function () {
                if (!$('#nickname').val()) {
                    alert('닉네임을 입력해 주십시오.');
                } else {
                    const formData = $('#detailForm').serializeObject();
                    const memberId = $('#id').val();
                    $.ajax({
                        method:'patch',
                        url:`/admin/members/${memberId}`,
                        contentType:'application/json',
                        data: JSON.stringify(formData)
                    }).done(function(response){
                        alert('수정되었습니다..');
                    }).fail(function(error){
                        alert(error.responseJSON.message);
                    })
                }
            });
        })
    </script>
<!--    generateTemporaryPassword -->
</form>
