<div class="card-header p-b-0">
    <h3 class="sub-title"><strong>신고</strong></h3>
</div>
<div class="card-block-small p-t-0">
    <div class="table-responsive">
        <table id="reportTable" class="display" style="width:100%">
            <thead>
            <tr>
                <th>내용</th>
                <th>신고자</th>
                <th>신고유형</th>
                <th>내용</th>
                <th>신고일시</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="reportPopup">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content type_1">
            <div class="modal-header">
                <h4 class="modal-title">신고 내용</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-0 form-group">
                            <div class="row form-group mb-3">
                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="category"><strong>신고유형</strong></label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-sm form-control-round" id="category" name="category" readonly>
                                </div>
                            </div>
                            <div class="row form-group mb-3 m-t-10" id="reason_con">
                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="content">
                                    <strong>내용</strong>
                                </label>
                                <div class="col-sm-12">
                                    <textarea rows="5" cols="5" class="form-control form-control-sm form-control-round" name="content" id="content" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var reportController = {
        memberId: /*[[${memberId}]]*/null,
        reportTable: null,
        reportPopup: null,

        init: function () {

            if (this.reportTable != null) this.reportTable.destroy();

            this.reportTable = $('#reportTable').DataTable({
                "columnDefs": [
                    {className: "dt-center", targets: "_all"},
                    {visible: false, targets: 0},
                ],
                stripeClasses: [],
                pagingType: 'full_numbers',
                lengthChange: false,
                responsive: true,
                searching: false,
                info: false,
                destroy: true,
                ordering: false,
                paging: true,
                pageLength: 10,
                bPaginate: true,
                bAutoWidth: true, // 자동 컬럼 폭을 계산하여 반영
                serverSide: true,
                processing: true, // 값을 가져오는 등의 처리 상황에서 대기가 발생할 때, "processing"인디케이터를 보여준다.

                ajax: {
                    async: false,
                    url: `/admin/members/${reportController.memberId}/report/list?` + $('#searchForm').serialize(),
                    method: 'get',
                    "dataSrc": function (res) {
                        return res.data;
                    }
                },

                columns: [
                    {data: 'content'},
                    {
                        render: function (data, type, row) {
                            return `${row.nickname}(${row.email})`;
                        }
                    },
                    {
                        render: function (data, type, row) {
                            return `${row.category.value}`;
                        }
                    },
                    {
                        render: function (data, type, row, meta) {
                            return `<button class="btn btn-gray" onclick="reportController.showContentPopup(${meta.row})"> 확인 </button>`;
                        }
                    },
                    {data: 'reportedAt'},
                ],
                language: {
                    search: '검색',
                    emptyTable: '데이터가 없습니다.',
                    loadingRecords: '로딩중..',
                },
                drawCallback: function () {
                    var $api = this.api();
                    var pages = $api.page.info().pages;

                    if (pages === 0) {
                        $(".paginate_button").hide();
                    }
                }
            })
        },

        showContentPopup: function (row) {
            const data = reportController.reportTable.row(row).data();
            reportController.reportPopup = new bootstrap.Modal($('#reportPopup'));
            $('#reportPopup #category').val(data.category.value);
            $('#reportPopup #content').val(data.content);
            reportController.reportPopup.show();
        }
    }

    $(function () {
        reportController.init();
    })
</script>