<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <!-- 키워드 filter -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong>
                                    </div>
                                    <div class="input-group input-group-sm input-group-dropdown mb-0">
                                        <select name="filterKeywordSelect" class="form-select form-control">
                                            <option value="opt1">선택</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button" name="filterKeywordInput" id="filterKeywordInput"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>회원가입 수단</strong>
                                    </div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect"
                                                class="form-select form-select-sm form-control-sm">
                                            <option value="opt1">전체</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                            <option value="opt4">Type 4</option>
                                            <option value="opt5">Type 5</option>
                                            <option value="opt6">Type 6</option>
                                            <option value="opt7">Type 7</option>
                                            <option value="opt8">Type 8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>회원상태</strong>
                                    </div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect"
                                                class="form-select form-select-sm form-control-sm">
                                            <option value="opt1">전체</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                            <option value="opt4">Type 4</option>
                                            <option value="opt5">Type 5</option>
                                            <option value="opt6">Type 6</option>
                                            <option value="opt7">Type 7</option>
                                            <option value="opt8">Type 8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //키워드 filter -->
                        <!-- 키워드 filter-btn -->
                        <div class="mt-1 p-t-20 text-center border-top">
                            <button class="btn btn-gray m-r-5">초기화</button>
                            <button class="btn btn-primary">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>FAQ 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn btn-primary m-r-5" id="deleteBtn">삭제</button>
                            <button type="button" class="btn btn-primary" id="insertBtn">등록</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="faqListTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="allCheckBox" name="allCheckBox"></th>
                                        <th>유형</th>
                                        <th>제목</th>
                                        <th>순서</th>
                                        <th>작성자</th>
                                        <th>사용여부</th>
                                        <th>등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->

            <!-- Content Area -->
            <div class="col-12">
                <div id="contentPanel">

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const faqController = {
            faqListTable: null,

            init: function () {

                if (!!this.faqListTable) {
                    this.faqListTable.destroy();
                }

                this.faqListTable = $('#faqListTable').DataTable({
                    select: {
                        style: 'single'
                    },
                    "columnDefs": [
                        // {orderable: false, className: 'select-checkbox', targets: 0, defaultContent: ''},
                        {className: "dt-center", targets: "_all"}
                    ],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    ordering: false,
                    paging: true,
                    info: true,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: true,
                    serverSide: true,
                    processing: true,

                    ajax: {
                        async: false,
                        url: `/admin/faqs/`,
                        method: 'get',
                        "dataSrc": function (res) {
                            return res.data;
                        }
                    },

                    columns: [
                        {
                            render: function () {
                                return '<input type="checkbox" name="input_field">';
                            }
                        },
                        {data: 'category'},
                        {data: 'title'},
                        {
                            render: function (data, type, row) {
                                return `<button class="btn btn-sm">▲</button> &nbsp; <button class="btn btn-sm">▼</button>`
                            }
                        },
                        {data: 'createdBy'},
                        {
                            render: function (data, type, row) {
                                return row.isEnabled === 'Y' ? '사용' : '사용안함';
                            }
                        },
                        {data: 'createdAt'},
                    ],

                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        info: '_START_부터 _END_까지 / 총데이터 : _TOTAL_',
                        infoEmpty: '데이터 0 부터 0 까지 / 총데이터 : 0',
                        lengthMenu: '보기',
                        loadingRecords: '로딩중..',
                    },
                })

                this.faqListTable.on('select', function(e, dt, type, indexes) {
                    let rowData = faqController.faqListTable.rows(indexes).data().toArray();
                    const selectedFaqId = rowData[0].id;

                    $.ajax({
                        type: 'get',
                        url: `/admin/faqs/${selectedFaqId}/form`,
                        dataType: 'html'
                    }).done(function (response) {
                        $('#contentPanel').html(response);
                    }).fail(function (error) {
                    });
                }).on('deselect', function (e, dt, type, indexes) {
                    let rowData = faqController.faqListTable.rows(indexes).data().toArray();
                });
            }
        };

        $(function () {
            faqController.init();

            $("body").on('click', '#insertBtn', function () {
                $.ajax({
                    type: 'get',
                    url: `/admin/faqs/form`,
                    dataType: 'html'
                }).done(function (response) {
                    $('#contentPanel').html(response);
                }).fail(function (error) {
                });
            });
        })
    </script>

    <script type="text/javascript" th:src="@{/js/ckeditor/build/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/build/UploadAdapter.js}"></script>
</div>


</html>