<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="#!">
                    <img class="img-fluid" th:src="@{/files/assets/images/menu_open.png}" alt="Theme-Logo"/>
                </a>
                <a href="index.html">
                    <img class="img-fluid" th:src="@{/files/assets/images/logo.png}" alt="Theme-Logo"/>
                </a>
                <a class="mobile-options">
                    <i class="feather icon-more-horizontal"></i>
                </a>
            </div>

            <div class="navbar-container">
                <ul class="nav-left">
                    <li>
                        <a href="#!" onclick="javascript:fullScreen()" class="waves-effect waves-light">
                            <i class="full-screen feather icon-maximize"></i>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" onclick="javascript:fullScreen()" class="waves-effect waves-light"
                           style="font-size:14px; line-height:20px; color:#000">
                            전체화면 보기
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="user-profile header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="dropdown-toggle" data-bs-toggle="dropdown">
                                <span th:if="${session.member != null}" th:text="${session.member.nickname}">John Doe</span>
                                <i class="feather icon-chevron-down"></i>
                            </div>
                            <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <li sec:authorize="isAuthenticated()">
                                    This content is only shown to authenticated users.
                                </li>
                                <!--/*
                                Logged user: <span sec:authentication="name">Bob</span>
                                Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
                                */-->
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button>
                                            <i class="feather icon-log-out"></i> Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        function fullScreen() {
            var a = $(window).height() - 10;
            if (!document.fullscreenElement && // alternative standard method
                !document.mozFullScreenElement && !document.webkitFullscreenElement) { // current working methods
                if (document.documentElement.requestFullscreen) {
                    document.documentElement.requestFullscreen();
                } else if (document.documentElement.mozRequestFullScreen) {
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullscreen) {
                    document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
            }

            document.addEventListener('fullscreenchange', exitHandler);
            document.addEventListener('webkitfullscreenchange', exitHandler);
            document.addEventListener('mozfullscreenchange', exitHandler);
            document.addEventListener('MSFullscreenChange', exitHandler);
        }

        function exitHandler() {
            $('.full-screen').toggleClass('icon-maximize');
            $('.full-screen').toggleClass('icon-minimize');
        }

    </script>
</th:block>
</html>