<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <head>
        <meta charset="UTF-8">
        <title>페이지 타이틀</title>
        <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Meta -->
        <meta charset="utf-8">\
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="#">
        <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="#">
        <!-- Favicon icon -->
        <link rel="icon" th:href="@{/files/assets/images/fafvicon1.png}" type="image/x-icon">
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/bootstrap/dist/css/bootstrap.min.css}">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/themify-icons/themify-icons.css}">
        <!-- ion icon css -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/ion-icon/css/ionicons.min.css}">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/icofont/css/icofont.css}">
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/font-awesome/css/font-awesome.min.css}">
        <!-- feather Awesome -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/feather/css/feather.css}">

        <!-- Select 2 css -->
        <link rel="stylesheet" th:href="@{/files/bower_components/select2/dist/css/select2.min.css}"/>
        <!-- Multi Select css -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/multiselect/css/multi-select.css}" />
        <!-- Switch component css -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/switchery/dist/switchery.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/files/assets/css/jquery.mCustomScrollbar.css}">
        <!-- Data tables-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/datatables-select.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/nice-select/css/nice-select.css}">
        <!-- 관리자 임의 추가 css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin.common.css}">

        <script type="text/javascript" th:src="@{/files/bower_components/jquery/dist/jquery.min.js}"></script>
    </head>
</th:block>
</html>