<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" href="#!">
                    <img class="img-fluid" th:src="@{/files/assets/images/menu_open.png}" alt="Theme-Logo"/>
                </a>
                <a href="index.html">
                    <img class="img-fluid" th:src="@{/files/assets/images/logo.png}" alt="Theme-Logo"/>
                </a>
                <a class="mobile-options">
                    <i class="feather icon-more-horizontal"></i>
                </a>
            </div>

            <div class="navbar-container">
                <ul class="nav-left">
                    <li>
                        <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                            <i class="full-screen feather icon-maximize"></i>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light"
                            style="font-size:14px; line-height:20px; color:#000">
                            전체화면 보기
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="user-profile header-notification">
                        <div class="dropdown-primary dropdown">
                            <div class="dropdown-toggle" data-bs-toggle="dropdown">
                                <span>John Doe</span>
                                <i class="feather icon-chevron-down"></i>
                            </div>
                            <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <li>
                                    <a href="auth-normal-sign-in.html">
                                        <i class="feather icon-log-out"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>

