<th:block th:fragment="jsCommon">
<iframe id="hiddenFrame" name="hiddenFrame" style="display:none" width="0" height="0" title="ifrm"></iframe>
<form id="hiddenForm" name="hiddenForm" style="display:none" target="hiddenFrame"></form>

<script type="text/javascript" src="/files/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/common/jquery/jquery.form.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/common/jquery/jquery.layout-1.3.0.rc30.80.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/common/dynatree/jquery.cookie.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/common/dynatree/jquery.dynatree.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/common/dynatree/jquery.contextMenu-custom.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/common/fileDownload/jquery.fileDownload.js"></script>
<script type="text/javascript" src="/js/common/common_mng.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
<script type="text/javascript" src="/js/common/common_util.js"></script>
<script type="text/javascript" src="/js/common/common_searchForm.js"></script>
<script type="text/javascript" src="/js/common/jsgrid-master/dist/jsgrid.min.js"></script>
<script type="text/javascript" src="/js/common/jsgrid/jsgrid.helper.js"></script>
<script type="text/javascript" src="/js/validator/jquery.validate.js"></script>    
<script type="text/javascript" src="/js/validator/jquery.validate.add.js"></script>    
<script type="text/javascript" src="/js/validator/jquery.validate.setting.js"></script>

<span id="layerPopupSapn"></span>
</th:block>