<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="~{layout/head :: head}"></th:block>

<body>
<div class="theme-loader">
    <div class="ball-scale">
        <div class="contain">
            <div class="">
                <div class="frame">
                    <img style="width:80px; height:80px;" src="/files/assets/images/Loding_360x360.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>

    <div class="pcoded-container navbar-wrapper">
        <th:block th:replace="~{layout/header :: header}"></th:block>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <th:block th:replace="~{layout/nav :: nav}"></th:block>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end justify-content-between">
                                        <div class="col-lg-auto">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>메뉴명</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-auto">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item" style="float: left;">
                                                        <i class="feather icon-home"></i> 메뉴명
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                <!-- Page body start -->
                                <div layout:fragment="content">
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/files/bower_components/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- jquery slimscroll js -->
<script type="text/javascript" th:src="@{/files/bower_components/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- modernizr js -->
<script type="text/javascript" th:src="@{/files/bower_components/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/modernizr/feature-detects/css-scrollbars.js}"></script>

<!-- Accordion js -->
<script type="text/javascript" th:src="@{/files/assets/pages/accordion/accordion.js}"></script>

<!-- i18next.min.js -->
<script type="text/javascript" th:src="@{/files/bower_components/i18next/i18next.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/jquery-i18next/jquery-i18next.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js}"></script>

<!-- Switch component js -->
<script type="text/javascript" th:src="@{/files/bower_components/switchery/dist/switchery.min.js}"></script>

<!-- Select 2 js -->
<script type="text/javascript" th:src="@{/files/bower_components/select2/dist/js/select2.full.min.js}"></script>

<!-- Multiselect js -->
<script type="text/javascript" th:src="@{/files/bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/multiselect/js/jquery.multi-select.js}"></script>
<script type="text/javascript" th:src="@{/files/assets/js/jquery.quicksearch.js}"></script>

<!-- Nice Select js-->
<script type="text/javascript" th:src="@{/js/nice-select/js/jquery.nice-select.js}"></script>

<!-- Custom js -->
<script type="text/javascript" th:src="@{/files/assets/pages/advance-elements/select2-custom.js}"></script>
<script type="text/javascript" th:src="@{/js/switches.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-validation-1.19.5/dist/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/customJqueryValidationMethod.js}"></script>
<script type="text/javascript" th:src="@{/js/customJqueryValidationSetting.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.serializeObject.js}"></script>
<script type="text/javascript" th:src="@{/js/adminCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/custom-design.js}"></script>

<script th:src="@{/files/assets/js/pcoded.min.js}"></script>
<script th:src="@{/files/assets/js/vartical-layout.min.js}"></script>
<script th:src="@{/files/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" th:src="@{/files/assets/js/script.js}"></script>

<!-- Data tables-->
<script type="text/javascript" th:src="@{/files/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.select.min.js}"></script>

</body>
</html>