<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav">
    <nav class="pcoded-navbar">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigatio-lavel">회원관리</div>
            <ul class="pcoded-item pcoded-left-item">
                <li>
                    <a href="/admin/members/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">회원관리</span>
                    </a>
                </li>

                <li class="">
                    <a href="/admin/dormant-members/view">
                        <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                        <span class="pcoded-mtext">휴면회원관리</span>
                    </a>
                </li>
            </ul>

            <div class="pcoded-navigatio-lavel">새식일기</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="/admin/saesigManage/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">새식관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/diaryManage/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">일기관리</span>
                    </a>
                </li>
            </ul>

            <div class="pcoded-navigatio-lavel">서비스관리</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="/admin/inquiry/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">문의관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/faqs/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">FAQ관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/news/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">새식소식</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/policy/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">약관 및 정책관리</span>
                    </a>
                </li>
            </ul>

            <div class="pcoded-navigatio-lavel">통계관리</div>
            <ul class="pcoded-item pcoded-left-item">
                <li>
                    <a href="/admin/statistics/user/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">회원통계</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">분양통계</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">반려동물통계</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">일기통계</span>
                    </a>
                </li>
                
            </ul>
            
            <div class="pcoded-navigatio-lavel">통합관리</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="/admin/banner/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">배너관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/popup/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">팝업관리</span>
                    </a>
                </li>
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">메시지관리</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href="/admin/sendHistory/view">
                                <span class="pcoded-mtext">발송이력</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/admin/templateManage/view">
                                <span class="pcoded-mtext">템플릿관리</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/admin/managerBoard/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">관리자 게시판</span>
                    </a>
                </li>
            </ul>

            <div class="pcoded-navigatio-lavel">시스템관리</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="/admin/resources/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">자원관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/roles/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">권한관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/access-log/view">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">로그관리</span>
                    </a>
                </li>
                <li class="">
                    <a href="/admin/setting">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">설정</span>
                    </a>
                </li>

                <!--<li class="pcoded-hasmenu">
                   <a href="javascript:void(0)">
                       <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                       <span class="pcoded-mtext">Page layouts</span>
                   </a>
                   <ul class="pcoded-submenu">
                       <li class=" pcoded-hasmenu">
                           <a href="javascript:void(0)">
                               <span class="pcoded-mtext">Vertical</span>
                           </a>
                           <ul class="pcoded-submenu">
                               <li class=" ">
                                   <a href="menu-static.html">
                                       <span class="pcoded-mtext">Static Layout</span>
                                   </a>
                               </li>
                               <li class=" ">
                                   <a href="menu-header-fixed.html">
                                       <span class="pcoded-mtext">Header Fixed</span>
                                   </a>
                               </li>
                               <li class=" ">
                                   <a href="menu-compact.html">
                                       <span class="pcoded-mtext">Compact</span>
                                   </a>
                               </li>
                               <li class=" ">
                                   <a href="menu-sidebar.html">
                                       <span class="pcoded-mtext">Sidebar Fixed</span>
                                   </a>
                               </li>

                           </ul>
                       </li>
                       <li class=" pcoded-hasmenu">
                           <a href="javascript:void(0)">
                               <span class="pcoded-mtext">Horizontal</span>
                           </a>
                           <ul class="pcoded-submenu">
                               <li class=" ">
                                   <a href="menu-horizontal-static.html" target="_blank">
                                       <span class="pcoded-mtext">Static Layout</span>
                                   </a>
                               </li>
                               <li class=" ">
                                   <a href="menu-horizontal-fixed.html" target="_blank">
                                       <span class="pcoded-mtext">Fixed layout</span>
                                   </a>
                               </li>
                               <li class=" ">
                                   <a href="menu-horizontal-icon.html" target="_blank">
                                       <span class="pcoded-mtext">Static With Icon</span>
                                   </a>
                               </li>
                               <li class=" ">
                                   <a href="menu-horizontal-icon-fixed.html" target="_blank">
                                       <span class="pcoded-mtext">Fixed With Icon</span>
                                   </a>
                               </li>
                           </ul>
                       </li>
                       <li class=" ">
                           <a href="menu-bottom.html">
                               <span class="pcoded-mtext">Bottom Menu</span>
                           </a>
                       </li>
                       <li class=" ">
                           <a href="box-layout.html" target="_blank">
                               <span class="pcoded-mtext">Box Layout</span>
                           </a>
                       </li>
                       <li class=" ">
                           <a href="menu-rtl.html" target="_blank">
                               <span class="pcoded-mtext">RTL</span>
                           </a>
                       </li>
                   </ul>
               </li>-->
                <!--        <li class="pcoded-hasmenu">
                          <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                            <span class="pcoded-mtext">Basic Components</span>
                          </a>
                          <ul class="pcoded-submenu">
                            <li class=" ">
                              <a href="alert.html">
                                <span class="pcoded-mtext">Alert</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="breadcrumb.html">
                                <span class="pcoded-mtext">Breadcrumbs</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="button.html">
                                <span class="pcoded-mtext">Button</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="box-shadow.html">
                                <span class="pcoded-mtext">Box-Shadow</span>
                              </a>
                            </li>
                            <li class="active">
                              <a href="accordion.html">
                                <span class="pcoded-mtext">Accordion</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="generic-class.html">
                                <span class="pcoded-mtext">Generic Class</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="tabs.html">
                                <span class="pcoded-mtext">Tabs</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="color.html">
                                <span class="pcoded-mtext">Color</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="label-badge.html">
                                <span class="pcoded-mtext">Label Badge</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="progress-bar.html">
                                <span class="pcoded-mtext">Progress Bar</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="preloader.html">
                                <span class="pcoded-mtext">Pre-Loader</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="list.html">
                                <span class="pcoded-mtext">List</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="tooltip.html">
                                <span class="pcoded-mtext">Tooltip And Popover</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="typography.html">
                                <span class="pcoded-mtext">Typography</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="other.html">
                                <span class="pcoded-mtext">Other</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="pcoded-hasmenu">
                          <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span>
                            <span class="pcoded-mtext">Advance Components</span>
                          </a>
                          <ul class="pcoded-submenu">
                            <li class=" ">
                              <a href="draggable.html">
                                <span class="pcoded-mtext">Draggable</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="bs-grid.html">
                                <span class="pcoded-mtext">Grid Stack</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="light-box.html">
                                <span class="pcoded-mtext">Light Box</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="modal.html">
                                <span class="pcoded-mtext">Modal</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="notification.html">
                                <span class="pcoded-mtext">Notifications</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="notify.html">
                                <span class="pcoded-mtext">PNOTIFY</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="rating.html">
                                <span class="pcoded-mtext">Rating</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="range-slider.html">
                                <span class="pcoded-mtext">Range Slider</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="slider.html">
                                <span class="pcoded-mtext">Slider</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="syntax-highlighter.html">
                                <span class="pcoded-mtext">Syntax Highlighter</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="tour.html">
                                <span class="pcoded-mtext">Tour</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="treeview.html">
                                <span class="pcoded-mtext">Tree View</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="nestable.html">
                                <span class="pcoded-mtext">Nestable</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="toolbar.html">
                                <span class="pcoded-mtext">Toolbar</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="x-editable.html">
                                <span class="pcoded-mtext">X-Editable</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="pcoded-hasmenu">
                          <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-package"></i></span>
                            <span class="pcoded-mtext">Extra Components</span>
                          </a>
                          <ul class="pcoded-submenu">
                            <li class=" ">
                              <a href="session-timeout.html">
                                <span class="pcoded-mtext">Session Timeout</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="session-idle-timeout.html">
                                <span class="pcoded-mtext">Session Idle Timeout</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="offline.html">
                                <span class="pcoded-mtext">Offline</span>
                              </a>
                            </li>

                          </ul>
                        </li>
                        <li class=" ">
                          <a href="animation.html">
                                                        <span class="pcoded-micon"><i
                                                                class="feather icon-aperture rotate-refresh"></i><b>A</b></span>
                            <span class="pcoded-mtext">Animations</span>
                          </a>
                        </li>
                        <li class=" ">
                          <a href="sticky.html">
                            <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
                            <span class="pcoded-mtext">Sticky Notes</span>
                          </a>
                        </li>
                        <li class="pcoded-hasmenu">
                          <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-command"></i></span>
                            <span class="pcoded-mtext">Icons</span>
                          </a>
                          <ul class="pcoded-submenu">
                            <li class=" ">
                              <a href="icon-font-awesome.html">
                                <span class="pcoded-mtext">Font Awesome</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-themify.html">
                                <span class="pcoded-mtext">Themify</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-simple-line.html">
                                <span class="pcoded-mtext">Simple Line Icon</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-ion.html">
                                <span class="pcoded-mtext">Ion Icon</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-material-design.html">
                                <span class="pcoded-mtext">Material Design</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-icofonts.html">
                                <span class="pcoded-mtext">Ico Fonts</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-weather.html">
                                <span class="pcoded-mtext">Weather Icon</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-typicons.html">
                                <span class="pcoded-mtext">Typicons</span>
                              </a>
                            </li>
                            <li class=" ">
                              <a href="icon-flags.html">
                                <span class="pcoded-mtext">Flags</span>
                              </a>
                            </li>
                          </ul>
                        </li>-->
            </ul>

            <!--/*
            <th:block th:utext="${@menuService.menuPrint()}" />
            */-->
        </div>
    </nav>

    <form name="form_menu" id="form_menu" th:action="@{/}" method="get" onsubmit="return false;">
        <input type="hidden" name="cmkey" id="cmkey" value="" />
        <input type="hidden" name="preUrl" id="preUrl" value="" />
    </form>

    <script th:inline="javascript">
        jQuery("form").each(function(){
            if(!jQuery(this).children("*").is("#mkey")){
                jQuery("<input>",{type:'hidden',name:'mkey',id:'mkey',value:'[[${#request.getAttribute('mkey')}]]'}).appendTo(this);
            }
        });

        $(document).ready(function(){
/*            setTimeout(() => {
                var clickedMunu = $("#mCSB_1_container").children("ul").children(".active");
                var offsetTop = (-Number($(clickedMunu).offset().top -250))
                var menuzoneHeight = $("#mCSB_1_container").height();
                $("#mCSB_1_container").css({"top":(offsetTop<-250)?offsetTop: 0});
            }, 100);*/
        })

        function goMenu(url, cmkey){
            jQuery("#form_menu").attr("action",url);
            jQuery("#form_menu input[id=cmkey]").val(cmkey);
            jQuery("#form_menu")[0].submit();
        }
    </script>
</th:block>
</html>