<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <style>
        .dt-center {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <form id="searchForm" name="searchForm" onsubmit="return false;">
                <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
                <input type="hidden" id="orderField" name="orderField" value="SENDED_AT">
                <input type="hidden" id="orderDirection" name="orderDirection" value="desc">

                <!-- 필터 부분 -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-block-small">
                            <!-- 키워드 filter -->
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                        <div class="input-group input-group-dropdown mb-0">
                                            <input type="text" class="form-control form-control-round" id="searchKeyword" name="searchKeyword">
                                            <select id="searchType" name="searchType" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 선택 -</option>
                                                <option value="email">아이디</option>
                                                <option value="nickName">닉네임</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>발송유형</strong>
                                        </div>
                                        <div class="col-sm-12">
                                            <select id="searchCategory" name="searchCategory" class="form-select form-select-sm form-control-sm form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option th:each="item : ${searchSendCategory}" th:value="${item.key}" th:text="${item.value}">value</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="searchTitle"><strong>제목</strong></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control form-control-round" aria-label="Text input with dropdown button" name="searchTitle" id="searchTitle"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="searchPeriod"><strong>발송일</strong></label>
                                        <div class="col-sm-12">
                                            <input type="text"  class="form-control form-control-round" aria-label="Text input with dropdown button" value="" name="searchPeriod" id="searchPeriod" autocomplete="off">
                                            <input type="hidden" id="searchBgngDt"name="searchBgngDt" >
                                            <input type="hidden" id="searchEndDt"name="searchEndDt" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //키워드 filter -->
                            <!-- 키워드 filter-btn -->
                            <div class="mt-1 p-t-20 text-center border-top">
                                <button class="btn btn-gray m-r-5">초기화</button>
                                <button class="btn btn-primary" onclick="search();">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>발송이력 검색결과</strong></h5>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="listTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>발송수단</th>
                                        <th>제목</th>
                                        <th>발송유형</th>
                                        <th>수신자</th>
                                        <th>수신주소</th>
                                        <th>발송일시</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->

            <!-- Content Area -->
            <div class="col-12">
                <div id="contentPanel"></div>
            </div>

        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/ckeditor/build/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/build/UploadAdapter.js}"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script th:inline="javascript">
        const listController = {

            selectedRow: [],
            init: function () {
                let listTable = null;

                if (listTable != null) listTable.destroy();
                this.selectedRow = [];

                listTable = $('#listTable').DataTable({
                    select: {
                        style: 'single'
                    },
                    "columnDefs": [
                        // {orderable: false, className: 'select-checkbox', targets: 0, defaultContent: ''},
                        {className: "dt-center", targets: "_all"}
                    ],

                    stateSave: true,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: true,
                    destroy: true,
                    serverSide: true,
                    processing: true,
                    pageLength: 10,

                    ajax: {
                        async: false,
                        url:'/admin/sendHistory/selectSendHistoryList.do',
                        method: 'GET',
                        data: function(d) {
                            var formData  = $('#searchForm').serializeArray();
                            for(var i = 0; i < formData.length; i++) {
                                var formName = formData[i].name;
                                var formVal = $("#"+formName).val();

                                d[formName] = formVal;
                            }
                        },
                        "dataSrc": function (res) {
                            res.data[0].isFirst = true;
                            return res.data;
                        }
                    },

                    columns: [
                        {data : 'id'}, // 페이징 후 No. 변경
                        {
                            render: function (data, type, row) {
                                return row.method === 'EMAIL' ? '이메일' : 'SMS';
                            }
                        },
                        {data : 'title'},
                        {
                            render: function (data, type, row) {
                                return row.category === 'batch' ? '배치' : row.category === 'now' ? '즉시' : '직접';
                            }
                        },
                        {data : 'recipientNickname'},
                        {data : 'recipientEmail'},
                        {data : 'sendedAt'},
                    ],

                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        info: 'No. _START_ - _END_ / Total : _TOTAL_',
                        infoEmpty: 'No. 0 - 0 / Total : 0',
                        lengthMenu: 'No.',
                        loadingRecords: '로딩중..',
                        paginate: {
                            first:      "처음",
                            last:       "마지막",
                            next:       "다음",
                            previous:   "이전"
                        },
                        select: {
                            rows: {
                                _: '',
                                0: '',
                                1: ''
                            }
                        },
                    }
                })

                listTable.on('select', function (e, dt, type, indexes) {
                    let rowData = listTable.rows(indexes).data().toArray();
                    const selectId = rowData[0].id;

                    $.ajax({
                        type: 'get',
                        url: `/admin/sendHistory/sendHistoryForm.html?id=${selectId}`,
                        dataType: 'html'
                    }).done(function (response) {
                        $('#contentPanel').html(response);
                        const offset = $("#contentPanel").offset();
                        $('html, body').animate({scrollTop: offset.top}, 0);
                    }).fail(function (error) {
                    });
                }).on('deselect', function (e, dt, type, indexes) {
                    let rowData = listTable.rows(indexes).data().toArray();
                });
            }
        };

        $(function () {
            initDateRangePicker("searchPeriod", "searchBgngDt", "searchEndDt");

            listController.init();

            $("body").on('click', '#searchBtn', function () {
                listController.init();
            })
        })
    </script>

</div>
</html>