<div class="card">
    <form id ="templateManageForm" th:object="${sendHistory}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="card-header p-b-0">
            <h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>

        <!-- Tab Container Start -->
        <div class="card-block-small p-t-0">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="method"><strong>발송수단</strong></label>
                        <div class="col-12">
                            <select class="form-select form-select-sm form-control-sm form-control-round custom-select" th:field="*{method}" disabled>
                                <option value="">- 선택 -</option>
                                <option th:each="item2 : ${searchSendMethod}" th:value="${item2.key}" th:text="${item2.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="category"><strong>발송유형</strong></label>
                        <div class="col-12">
                            <select class="form-select form-select-sm form-control-sm form-control-round custom-select" th:field="*{category}" disabled>
                                <option value="">- 선택 -</option>
                                <option th:each="item2 : ${searchSendCategory}" th:value="${item2.key}" th:text="${item2.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="recipientNickname"><strong>수신자</strong></label>
                        <div class="col-sm-12">
                            <input type="text" th:field="*{recipientNickname}" class="form-control form-control-sm form-control-round" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="recipientEmail"><strong>수신주소</strong></label>
                        <div class="col-sm-12">
                            <input type="text" th:field="*{recipientEmail}" class="form-control form-control-sm form-control-round" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="senderNickname"><strong>발신자</strong></label>
                        <div class="col-sm-12">
                            <input type="text" th:field="*{senderNickname}" class="form-control form-control-sm form-control-round" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="senderEmail"><strong>발신주소</strong></label>
                        <div class="col-sm-12">
                            <input type="text" th:field="*{senderEmail}" class="form-control form-control-sm form-control-round" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="sendedAt"><strong>발송일시</strong></label>
                        <div class="col-sm-12">
                            <input type="text" th:field="*{sendedAt}" class="form-control form-control-sm form-control-round" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group mb-3">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="title"><strong>제목</strong></label>
                <div class="col-sm-12">
                    <input type="text" th:field="*{title}" class="form-control form-control-sm form-control-round" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="mb-0 form-group row ">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="content"><strong>내용</strong></label>
                        <div class="col-12">
                            <textarea rows="10" cols="10" th:field="*{content}" class="form-control form-control-sm form-control-round" placeholder="내용을 입력해주세요." mekc-ck-editor  disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="card-block-small">
        <button type="button" class="btn btn-gray m-r-5" onclick="fn_cancel()">취소</button>
    </div>
</div>
<!-- Tab Container End -->

<script type="text/javascript" th:src="@{/js/ckeditor/ckeditorApplication.js}"></script>
<script type="text/javascript">
    function fn_cancel() {
        listController.init();
        $("#contentPanel").children().remove();
    }
</script>