<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content type_2">
        <div class="modal-header">
            <h4 class="modal-title">회원검색</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-block-small">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                            <div class="mb-0 form-group">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <select name="searchType" class="form-select form-control form-control-round left-select custom-select">
                                        <option value="opt1">primary</option>
                                        <option value="opt2">Type 2</option>
                                        <option value="opt3">Type 3</option>
                                    </select>
                                    <input type="text" class="form-control form-control-round" name="searchKeyword" id="searchKeyword"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 p-t-20 text-center">
                        <button class="btn btn-gray m-r-5" data-bs-dismiss="modal">초기화</button>
                        <button class="btn btn-primary">검색</button>
                    </div>
                </div>
            </div>
            <div class="card m-b-10">
                <div class="card-block-small">
                    <div class="row">
                        <div class="col-12">
                            <div class="dt-responsive table-responsive">
                                <table id="memberListTable" class="display" style="width:100%;">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group">
                                                    <input type="checkbox" class="border-checkbox " id="allCheckBox" name="allCheckbox" value="All">
                                                    <label class="form-label border-checkbox-label" for="allCheckBox"></label>
                                                </div>
                                            </div>
                                        </th>
                                        <th>회원 일련번호</th>
                                        <th>이메일</th>
                                        <th>닉네임</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-effect waves-light" id="checkedMembersAddBtn">선택</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(function () {
        let memberListTable;
        let selectedRow = [];

        if (!!memberListTable) memberListTable.destroy();

        memberListTable = $('#memberListTable').DataTable({
            "columnDefs": [
                {className: "dt-center", targets: "_all"}
            ],

            stripeClasses: [],
            pagingType: 'full_numbers',
            lengthChange: false,
            responsive: true,
            searching: false,
            ordering: false,
            paging: true,
            info: false,
            pageLength: 10,
            bPaginate: true,
            bAutoWidth: true,
            serverSide: true,
            processing: true,

            ajax: {
                async: false,
                url: `/admin/roles/memberMapping/members`,
                method: 'get',
                "dataSrc": function (res) {
                    return res.data;
                }
            },

            columns: [
                {
                    render: function (data, type, row) {
                        return `<div class="border-checkbox-section">
                                    <div class="border-checkbox-group">
                                        <input type="checkbox" class="border-checkbox" data-id="${row.id}" name="tableCheckbox" id="checkbox${row.id}">
                                        <label class="form-label border-checkbox-label" for="checkbox${row.id}"></label>
                                    </div>
                                </div>`;
                    }
                },
                {data: 'id'},
                {data: 'email'},
                {data: 'nickname'}
            ],

            language: {
                search: '검색',
                emptyTable: '데이터가 없습니다.',
                lengthMenu: '보기',
                loadingRecords: '로딩중..',
            },
        });

        $('#checkedMembersAddBtn').on('click', function () {
            if (confirm('선택하신 사용자를 역할에 매핑하시겠습니까?')) {
                const checkedMembers = memberListTable.rows(function (idx, data, node) {
                    return $(node).find('input[type="checkbox"]').prop('checked');
                }).data().toArray();

                const formData = {
                    memberIds : $.map(checkedMembers,function(value) {return value.id;}).join(","),
                    roleId : roleController.selectedNode.original.id
                };

                $.ajax({
                    url: '/admin/roles/memberMapping/members',
                    type: 'post',
                    data: formData
                }).done(function(response){
                    alert('매핑 등록에 성공하였습니다.');
                    mappedUserTable.ajax.reload(null, false);
                    memberListModal.hide();
                }).fail(function(error){
                    alert('역할을 매핑하는데 실패하였습니다.');
                    console.log(JSON.stringify(error));
                })
            }
        });

        $('input[name=tableCheckbox]').on('change', function () {
            const $this = $(this)
            if ($this.is(':checked')) {
                selectedRow.push($this.data('id'));
                if (selectedRow.length === $('input[name=tableCheckbox]').length) {
                    $('#allCheckBox').prop('checked', true);
                }
            } else {
                selectedRow = $.grep(selectedRow, function (i) {
                    return i != $this.data(id);
                })

                if (selectedRow.length === 0) $('#allCheckBox').prop('checked', false);
            }
        })

        $('#allCheckBox').on('change', function () {
            const $this = $(this);

            if ($this.is(':checked')) {
                const allSelectedRow = [];
                $('input[name=tableCheckbox]').each(function () {
                    this.checked = true;
                    allSelectedRow.push($(this).data('id'));
                })
                selectedRow = allSelectedRow;
            } else {
                $('input[name=tableCheckbox]').each(function () {
                    this.checked = false;
                })
                selectedRow = [];
            }

        });
    })
</script>