<div class="row mb-3">
    <div class="col-12 col-xl-4">
        <div class="row">
            <h5 class="col-12 col-md-6 mb-3">
                <strong>역할구조</strong>
            </h5>
            <div class="col-12 col-md-6 mb-3 text-right">
                <button type="button" id='rootRoleInsertBtn' class="btn btn-primary">루트 역할 등록</button>
            </div>
        </div>
        <div class="card">
            <div class="card-block-small tree-view">
                <div id="jstree"></div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-8">
        <h5 class="mb-3">
            <strong>역할 상세정보</strong>
        </h5>
        <form id="roleForm" name="roleForm">
            <input type="hidden" name="id" id="id"/>
            <input type="hidden" name="upperId" id="upperId">

            <div class="card">
                <div class="card-block-small">
                    <div class="mb-3 form-group row">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="upperId"><strong>상위 역할명</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-round" name="upperName" id="upperName" readonly/>
                        </div>
                    </div>

                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="name"><strong>역할명</strong></label>
                        <p class="text-warning m-b-0">* 역할명은 "ROLE_"를 접두사로 가져야합니다.</p>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-round" name="name" id="name"/>
                        </div>
                    </div>

                    <div class="mb-3 form-group row">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="name"><strong>설명</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-round" name="description" id="description"/>
                        </div>
                    </div>

                    <div class="mb-3 form-group row">
                        <div class="col-sm-12">
                            <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled" checked/>
                            <label for="isEnabled" class="v-middle">사용여부</label>
                        </div>
                    </div>

                    <div class="mb-0 mt-4 form-group row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="saveBtn">
                                저장
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<link rel="stylesheet" type="text/css" th:href="@{/files/assets/pages/treeview/treeview.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/jstree/dist/themes/default/style.css}"></link>
<script type="text/javascript" th:src="@{/js/switches.js}"></script>
<script type="text/javascript" src="/files/bower_components/jstree/dist/jstree.js"></script>

<script th:inline="javascript">
    var roleController = {
        roles: [],
        parentNode: null,
        selectedNode: null,
        $jstree: $('#jstree'),

        init: function () {
            const _this = this;
            parentNode = selectedNode = null;

            $.ajax({
                url: '/admin/roles',
                type: 'get',
                async: false
            }).done(function (response) {
                response.forEach(function (element, index) {
                    _this.roles[index] = {
                        id: element.id,
                        parent: element.parentId ?? '#',
                        text: element.name,
                        description: element.description,
                        isEnabled: element.isEnabled,
                        name: element.name,
                    };
                });
            }).fail(function (error) {
                alert("역할 목록을 조회하는데 실패하였습니다.");
            });

            _this.renderJsTree();
        },

        renderJsTree: function () {
            const _this = this;

            _this.$jstree.jstree({
                "core": {
                    "animation": 50,
                    "strings": {
                        loading: "Loading ..."
                    },
                    "themes": {
                        "responsive": true,
                    },
                    'data': _this.roles,
                },
                "types": {
                    "default": {
                        "icon": "icofont icofont-user-alt-3"
                    }
                },
                'contextmenu': {
                    'items': {
                        "regist": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "하위 등록",
                            "action": function (obj) {
                                $('#roleForm')[0].reset();
                                $('#id').val('');
                                $('#upperId').val(_this.selectedNode.original.id);
                                $('#upperName').val(_this.selectedNode.original.name);
                            }
                        }
                    }
                },
                'plugins': ['types', 'contextmenu']
            }).bind("select_node.jstree", function (event, data) {
                _this.selectedNode = _this.$jstree.jstree('get_selected', true)[0];
                _this.parentNode = _this.$jstree.jstree(true).get_node(_this.selectedNode.parent);
                _this.print();
            });
        },


        save: function () {
            const id = $('#roleForm #id').val();
            !!id ? this.update(id) : this.insert(id);
        },

        update: function () {
            const _this = this;

            if (confirm('역할 정보를 수정하시겠습니까?')) {
                const formData = $('#roleForm').serializeObject();
                formData.isEnabled = formData.isEnabled ? "Y" : "N";

                $.ajax({
                    url: `/admin/roles/${formData.id}`,
                    type: 'put',
                    data: JSON.stringify(formData),
                    contentType: 'application/json'
                }).done(function (response) {
                    alert('역할이 수정되었습니다.');
                    _this.$jstree.jstree().destroy();
                    _this.init();
                    _this.$jstree.jstree(true)._open_to(_this.selectedNode.id);
                }).fail(function (error) {
                    alert('역할을 수정하는데 실패하였습니다.')
                    console.log(JSON.stringify(error));
                })
            }
        },

        insert: function () {
            const _this = this;

            if (confirm('역할 정보를 등록하시겠습니까?')) {
                const formData = $('#roleForm').serializeObject();
                formData.isEnabled = formData.isEnabled ? "Y" : "N";

                $.ajax({
                    url: '/admin/roles',
                    type: 'post',
                    data: JSON.stringify(formData),
                    contentType: 'application/json'
                }).done(function () {
                    alert('역할이 등록되었습니다.');
                    _this.$jstree.jstree().destroy();
                    _this.init();
                    _this.$jstree.jstree(true)._open_to(_this.selectedNode.id);
                }).fail(function (error) {
                    alert('역할을 등록하는데 실패하였습니다.');
                    console.log(JSON.stringify(error));
                });
            }
        },

        print: function () {
            const parentNodeOriginal = this.parentNode.original;
            const selectedNodeOriginal = this.selectedNode.original;

            $('#upperId').val(parentNodeOriginal ? parentNodeOriginal.id : '');
            $('#upperName').val(parentNodeOriginal ? parentNodeOriginal.name : '');
            $('#id').val(selectedNodeOriginal.id);
            $('#name').val(selectedNodeOriginal.name);
            $('#description').val(selectedNodeOriginal.description);
            adminCommon.toggleSwitch($('#isEnabled'), selectedNodeOriginal.isEnabled === 'Y');
        },

        insertRootForm() {
            $('#roleForm')[0].reset();
            $('#id').val('');
            $('#upperId').val();
            $('#upperName').val();
        }
    };
    $(function () {
        roleController.init();

        $('#saveBtn').on('click', function () {
            roleController.save();
        });
        $('#rootRoleInsertBtn').on('click',function(){
            roleController.insertRootForm();
        })
    });
</script>
