<!DOCTYPE html>
<html lang="en" >
<!-- css from https://freefrontend.com/css-chats/ -->
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container" style="width: 540px;">
  <section class="chat">

    <div id="chat" class="messages-chat" style="height: 620px;">
    </div>
    <div class="footer-chat">

      <input id="opinion" type="text" class="write-message" onkeyup="enterkey()" placeholder="Type your message here">
      <i class="icon send fa fa-paper-plane-o clickable" onclick="sendMessage()" aria-hidden="true"></i>
    </div>
  </section>
</div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script type="text/javascript" src='/js/chattingList.js'></script>
<script th:inline="javascript">
  const memberList = [[${memberList}]];
</script>
</html>
