<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <style>
        .dt-responsive {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
<!--    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>-->
    <script th:inline="javascript">
        const inquiryList = {
            AnswerData : null,
            init: function () {
                this.inquiryListLoad()
                this.registEvent()
            },

            registEvent: function () {
                const _this = this;
                $('#searchBtn').on('click', function () {
                    _this.inquiryListLoad()
                })

                $('#searchInit').on('click', function () {
                    $('#searchKeyword, #searchKeywordSelect, #searchTitle, #searchStatus, #searchCategory').val('');
                    $('select').niceSelect('update');
                });

                $(document).on('click', '#inquiryListTable tbody tr', function () {
                    _this.selectItem(this);
                })

                $('#checkboxAll').on('change',function () {
                    if ($(this).is(':checked')){
                        $('#inquiryListTable').find('input[type=checkbox]').prop('checked',true)
                    }else{
                        $('#inquiryListTable').find('input[type=checkbox]').prop('checked',false)
                    }
                })

                $(document).on('change','input[name=rowCheckbox]',function () {
                    if ($(this).is(':checked')){
                    }else{
                        $('#checkboxAll').prop('checked',false)
                    }
                })
                $('#answerDate').val();

                $(document).on('click','#answerInsert',function () {
                    _this.answerInsert();
                })

                $(document).on('click','#answerCancel',function (){
                    if (confirm('작성된 내용이 사라집니다. 취소하시겠습니까?')){
                        $('#contentPanel').empty();
                    }
                })


            },

            inquiryListLoad: function () {
                const _this = this;
                _this.table = null
                if (_this.table != null) {
                    _this.table.destroy();
                }
                _this.table = $("#inquiryListTable").DataTable({
                    select: {
                        selector: 'td:not(:first-child)',
                        style: 'single'
                    },
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    paging: true,
                    info: false,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: false,
                    serverSide: true,
                    processing: true,
                    ajax: {
                        async: false,
                        method: 'GET',
                        url: '/admin/inquiry/getInquiryList.do',
                        data: function(d) {
                            var formData  = $('#searchForm').serializeArray();
                            for(var i = 0; i < formData.length; i++) {
                                var formName = formData[i].name;
                                var formVal = $("#"+formName).val();
                                d[formName] = formVal;
                            }
                        },
                        "dataSrc": function (res) {
                            console.log(res)
                            if (res.data.length > 0){
                                return res.data;
                            }else{
                                return false;
                            }
                        }
                    },
                    columns: [
                        {width:70,
                            render: function (data, type, row) {
                                return ` <div class="border-checkbox-section">
                                                <div class="border-checkbox-group">
                                                    <input type="checkbox" class="border-checkbox" data-id="${row.id}" name="tableCheckbox" id="checkbox${row.id}">
                                                    <label class="form-label border-checkbox-label" for="checkbox${row.id}"></label>
                                                </div>
                                            </div>`;
                            }
                        },
                        {width:120,render : function (data,type,row) {
                                return `${row.category.value}`
                            }},
                        {data: "title"},
                        {width:120,data: "nickname"},
                        {width:120,render : function (data,type,row) {
                                return `${row.status.value}`
                            }},
                        {width:100,data: "createdAt"}
                    ],
                    "columnDefs": [
                        {className: "dt-center", targets: "_all"}
                    ],
                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        info: '_START_부터 _END_까지 / 총데이터 : _TOTAL_',
                        infoEmpty: '데이터 0 부터 0 까지 / 총데이터 : 0',
                        lengthMenu: '보기',
                        loadingRecords: '로딩중..',
                    },
                    drawCallback: function () {
                        var $api = this.api();
                        var pages = $api.page.info().pages;

                        if (pages === 0) {
                            $(".paginate_button").hide();
                        }
                    }
                })

                _this.table.on('select', function (e, dt, type, indexes) {
                    const targetData = _this.table.rows(indexes).data().toArray();
                    const targetId = targetData[0].id;
                    // $('.InquiryTitle').text('[' + targetData[0].category.value + '] ' + targetData[0].title)
                    // $('.InquiryCreatedMemberName').text(targetData[0].nickname + '(' + targetData[0].memberId + ')')
                    // $('.InquiryCreatedDate').text(targetData[0].modifiedAt)
                    // $('.InquiryContentCon').text(targetData[0].content)
                    // $('.targetInquiryCon').attr('mekc-inquiry-id', targetId)

                    $.ajax({
                        type: 'get',
                        url: `/admin/inquiry/getInquiryById.do?id=+`+targetId,
                        enctype: 'multipart/form-data',
                        async: false,
                        cache: false,
                        dataType: 'html'
                    }).done(function (response) {
                        $('#contentPanel').html(response);
                        let offset = $("#contentPanel").offset(); //해당 위치 반환
                        $("html, body").animate({scrollTop: offset.top - 80},400);
                        $.ajax({
                            type: "post",
                            async: false,
                            enctype: 'multipart/form-data',
                            url: "/admin/inquiry/getAnswerById.do",
                            dataType: 'json',
                            data: JSON.stringify(targetId), // 객체를 JSON 문자열로 변환하여 전달
                            contentType: 'application/json', // 전달하는 데이터의 타입을 명시
                            cache: false,
                            success: function (result) {
                                if (result.length != 0){
                                    $('#answerStatus').val('1')
                                    $('select').niceSelect('update');
                                    $('#answerTitle').val(result[0]['title'])
                                    $('#answerContents').val(result[0]['content'])
                                    $('#answerManagerId').val(result[0]['createdBy'])
                                    $('#answerDate').val(result[0]['createdAt'])
                                    if(result.length > 1){
                                        $('#answerManager').val(result[0]['createdByNickName']+'(수정됨)')
                                    }else{
                                        $('#answerManager').val(result[0]['createdByNickName'])
                                    }
                                }else{
                                    $('#answerTitle').val('RE: '+targetData[0].title)
                                    var currentDate = new Date();
                                    var yyyy = currentDate.getFullYear();
                                    var mm = String(currentDate.getMonth() + 1).padStart(2, '0');
                                    var dd = String(currentDate.getDate()).padStart(2, '0');
                                    var formattedDate = yyyy + '-' + mm + '-' + dd;
                                    $('#answerDate').val(formattedDate)
                                    $('#answerStatus').val('0')
                                    $('select').niceSelect('update');
                                    $('#answerContents').val('')
                                    $('#answerManagerId').val([[${loginSession.id}]])
                                    $('#answerManager').val([[${loginSession.nickname}]])
                                }
                            },
                            error: function (e) {
                                console.log(e)
                            }
                        })
                    }).fail(function (error) {
                    });

                }).on('deselect', function (e, dt, type, indexes) {
                    let rowData = _this.table.rows(indexes).data().toArray();
                });
            },

            selectItem: function (el) {

            },

            answerInsert : function () {
                param = {};
                param.status = null;
                param.title = null;
                param.content = null;
                param.createdBy = null;
                param.createdAt = null;
                param.inquiryId = null;

                param.inquiryId = $(document).find("[mekc-inquiry-id]").attr("mekc-inquiry-id")
                if (param.inquiryId == '' || param.inquiryId == undefined || param.inquiryId == null){
                    alert("답변할 문의를 선택해 주세요")
                    return false;
                }
                if ($('#answerStatus').val() != '' && $('#answerStatus').val() != null && $('#answerStatus').val() != undefined) {
                    param.status = $('#answerStatus').val()
                }
                if ($('#answerTitle').val() != '' && $('#answerTitle').val() != null && $('#answerTitle').val() != undefined) {
                    param.title = $('#answerTitle').val()
                }else{
                    alert("제목을 입력해주세요");
                    return false;
                }
                if ($('#answerContents').val() != '' && $('#answerContents').val() != null && $('#answerContents').val() != undefined) {
                    param.content = $('#answerContents').val()
                }else{
                    alert("답변 내용을 입력해주세요")
                }
                if ($('#answerManagerId').val() != '' && $('#answerManagerId').val() != null && $('#answerManagerId').val() != undefined) {
                    param.createdBy = $('#answerManagerId').val();
                }else{
                    alert("답변자의 정보가 정확하지 않습니다.")
                }

                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/inquiry/insertAnswer.do",
                    dataType: 'json',
                    data: JSON.stringify(param), // 객체를 JSON 문자열로 변환하여 전달
                    contentType: 'application/json', // 전달하는 데이터의 타입을 명시
                    cache: false,
                    success: function (result) {
                        if (result){
                            alert("답변이 등록되었습니다.")
                           $("#answerStatus").val(1)
                            let currentPage = inquiryList.table.page.info().page
                            inquiryList.inquiryListLoad()
                            inquiryList.table.page(currentPage).draw('page');

                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            },
            
            deleteInquiry : function () {
                deleteRowArray = []
                $(document).find('input[type=checkbox][data-id]:checked').each(function (){
                    deleteRowArray.push($(this).attr('data-id'))
                })
                console.log(deleteRowArray)
                $.ajax({
                    type : "DELETE",
                    async:false,
                    encrtpe : 'multipart/form-data',
                    url: "/admin/inquiry/deleteInquiry.do",
                    dataType : 'json',
                    data : JSON.stringify(deleteRowArray),
                    contentType:'application/json',
                    ccache:false,
                    success: function (result) {
                        if (result){
                            alert("삭제되었습니다.")
                            window.location.reload()
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            }
        }
        $(document).ready(function () {
            inquiryList.init();
        });
    </script>

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <form name="searchForm" id="searchForm" action="" onsubmit="return false;" class="card">
                <div class="card-block-small">
                    <!-- 키워드 filter -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <select name="searchKeywordSelect" id="searchKeywordSelect"
                                            class="form-select form-control custom-select form-control-round left-select">
                                        <option value="">- 선택 -</option>
                                        <option value="m.email">아이디</option>
                                        <option value="nickname">닉네임</option>
                                    </select>
                                    <input type="text" class="form-control form-control-round" name="searchKeyword"
                                           id="searchKeyword"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>문의유형</strong></div>
                                <div class="col-sm-12">
                                    <select name="searchCategory" id="searchCategory"
                                            class="form-select form-control form-control-round custom-select">
                                        <option value="">- 전체 -</option>
                                        <option th:each="category : ${categoryList}" th:value="${category.key}" th:text="${category.value}">value</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>제목</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <input type="text" class="form-control form-control-round" name="searchTitle"
                                           id="searchTitle"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>답변 상태</strong></div>
                                <div class="col-sm-12">
                                    <select name="searchStatus"
                                            class="form-select form-control form-control-round custom-select"
                                            id="searchStatus">
                                        <option value="">- 전체 -</option>
                                        <option th:each="status : ${statusList}" th:value="${status.key}" th:text="${status.value}">value</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //키워드 filter -->
                    <!-- 키워드 filter-btn -->
                    <div class="mt-1 p-t-20 text-center">
                        <button class="btn btn-disabled m-r-5" id="searchInit">초기화</button>
                        <button class="btn btn-primary" id="searchBtn">검색</button>
                    </div>
                </div>
            </form>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>1:1 문의 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn-delete" id="deleteBtn" onclick="inquiryList.deleteInquiry()">삭제</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="inquiryListTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group">
                                                    <input type="checkbox" class="border-checkbox " id="checkboxAll" name="rowCheckbox" value="All">
                                                    <label class="form-label border-checkbox-label" for="checkboxAll"></label>
                                                </div>
                                            </div>
                                            <!--<input type="checkbox" id="allCheckBox" name="allCheckBox">-->
                                        </th>
                                        <th>문의유형</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>답변상태</th>
                                        <th>등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>
        <div id="contentPanel">

        </div>
    </div>

</div>
</html>
