<div class="row">
    <div class="col-12 col-lg-6 targetInquiryCon" th:attr="mekc-inquiry-id=${inquiry.id}">
        <div class="card">
            <div class="card-header p-b-0">
                <h4 class="sub-title"><strong>문의</strong></h4>
            </div>
            <div class="card-block-small p-t-0">
                <p class="InquiryTitleCon">
                    <strong class="InquiryTitle">[[${inquiry.title}]]</strong>
                </p>
                <p>
                    <span class="InquiryCreatedMemberName">[[${inquiry.nickname}]]([[${inquiry.memberId}]])</span><br/>
                    <span class="InquiryCreatedDate">[[${inquiry.modifiedAt}]]</span>
                </p>
            </div>
            <div class="card-header p-t-0 p-b-0">
                <h4 class="sub-title"><strong>문의 내용</strong></h4>
            </div>
            <div class="card-block-small p-t-0">
                <p class="InquiryContentCon">
                    [[${inquiry.content}]]
                </p>
                <!--                        <div class="mt-2 row"> 첨부파일이라 주석처리 해놓음.-->
                <!--                            <ul>-->
                <!--                                <li><a href="javascript:void(0)"><i class="ion-paperclip f-18"></i> Cum sociis natoque.pptx</a></li>-->
                <!--                                <li><a href="javascript:void(0)"><i class="ion-paperclip f-18"></i> Cum sociis natoque.xlsx</a></li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header p-b-0">
                <h4 class="sub-title"><strong>답변</strong></h4>
            </div>
            <div class="card-block-small p-t-0">
                <div class="mb-3 form-group row required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                    <div class="col-sm-12">
                        <select name="answerStatus"
                                class="form-select form-control form-control-round custom-select"
                                id="answerStatus" disabled >
                            <option value="0">답변대기</option>
                            <option value="1">답변완료</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 form-group row">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                           for="answerTitle"><strong>답변 제목</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-round"
                               name="answerTitle" id="answerTitle"
                               placeholder="Text Input Validation"/>
                    </div>
                </div>
                <div class="mb-3 form-group row">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                           for="answerContents"><strong>답변 내용</strong></label>
                    <div class="col-sm-12">
                                                                <textarea rows="5" cols="5"
                                                                          class="form-control form-control-sm"
                                                                          placeholder="Default textarea"
                                                                          id="answerContents"
                                                                          name="answerContents"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                        <div class="mb-0 form-group">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="answerManager"><strong>답변자</strong></label>
                            <div class="col-sm-12">
                                <input type="hidden" name="answerManagerId" id="answerManagerId" value="1"
                                       placeholder="Text Input Validation" readonly/>
                                <input type="text" class="form-control form-control-round"
                                       name="answerManager" id="answerManager" value=""
                                       placeholder="Text Input Validation" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-0 form-group">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="answerDate"><strong>답변일자</strong></label>
                            <div class="col-sm-12">
                                <input type="text"
                                       class="form-control form-control-round"
                                       name="answerDate" id="answerDate" placeholder="Text Input Validation"
                                       readonly/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block-small">
                <button class="btn btn-gray m-r-5" id="answerCancel">취소</button>
                <button class="btn btn-primary" id="answerInsert">저장</button>
            </div>
        </div>
    </div>
</div>