<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <style>
        .dt-responsive {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
<!--    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>-->
    <script th:inline="javascript">
        const inquiryList = {
            InquiryData: null,
            AnswerData : null,
            init: function () {
                this.setFilter()
                this.inquiryListLoad()
                this.registEvent()
            },

            registEvent: function () {
                const _this = this;
                $('#searchBtn').on('click', function () {
                    _this.inquiryListLoad()
                })

                $(document).on('click', '#inquiryListTable tbody tr', function () {
                    _this.selectItem(this);
                })

                $('#checkboxAll').on('change',function () {
                    if ($(this).is(':checked')){
                        $('#inquiryListTable').find('input[type=checkbox]').prop('checked',true)
                    }else{
                        $('#inquiryListTable').find('input[type=checkbox]').prop('checked',false)
                    }
                })

                $(document).on('change','input[name=rowCheckbox]',function () {
                    if ($(this).is(':checked')){
                    }else{
                        $('#checkboxAll').prop('checked',false)
                    }
                })
                $('#answerDate').val();

                $('#answerInsert').on('click',function () {
                    _this.answerInsert();
                })


            },

            setFilter: function () {
                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/inquiry/getFilterData.do",
                    ContentType: 'application/json',
                    dataType: 'json',
                    cache: false,
                    success: function (result) {
                        const categoryList = Object.keys(result['InquiryCategory']);
                        let categoryOption = '';
                        for (let i = 0; i < categoryList.length; i++) {
                            categoryOption += '<option value="' + categoryList[i] + '">' + result['InquiryCategory'][categoryList[i]]['title'] + '</option>'
                        }
                        $('#searchCategory').append(categoryOption)

                        const statusList = Object.keys(result['InquiryStatus']);
                        let statusOption = '';
                        for (let i = 0; i < statusList.length; i++) {
                            statusOption += '<option value="' + statusList[i] + '">' + result['InquiryStatus'][statusList[i]]['title'] + '</option>'
                        }
                        $('#searchStatus').append(statusOption)
                        $('select').niceSelect('update');
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            },

            inquiryListLoad: function () {
                const _this = this;
                let params = _this.getFilterParam();
                let table = null
                if (table != null) {
                    table.destroy();
                }
                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/inquiry/getInquiryList.do",
                    dataType: 'json',
                    data: params,
                    cache: false,
                    success: function (result) {
                        _this.InquiryData = result.data;
                        table = $("#inquiryListTable").DataTable({
                            ordering: false,
                            data: result.data,
                            columns: [
                                {data: null},
                                {data: "categoryStr"},
                                {data: "title"},
                                {data: "nickname"},
                                {data: "statusStr"},
                                {data: "createdAt"}
                            ],
                            columnDefs: [{
                                'targets': 0,
                                'searchable': false,
                                'orderable': false,
                                'width': '30px',
                                'className': 'dt-body-center',
                                'render': function (data, type, full, meta) {
                                    // return '<input type="checkbox" name="rowCheckbox" value="' + $('<div/>').text(data.id).html() + '">';
                                    return '<div class="border-checkbox-section"><div class="border-checkbox-group"><input type="checkbox" class="border-checkbox " id="checkbox' + $('<div/>').text(data.id).html() + '" name="rowCheckbox" value="' + $('<div/>').text(data.id).html() + '"><label class="form-label border-checkbox-label" for="checkbox' + $('<div/>').text(data.id).html() + '"></label></div></div>'

                                }
                            }
                                , {'targets': 1, 'width': '70px'}
                                , {'targets': 2, 'width': 'auto'}
                                , {'targets': 3, 'width': '70px'}
                                , {'targets': 4, 'width': '70px'}
                                , {'targets': 5, 'width': '70px'}
                            ],
                            destroy: true,
                            language: {
                                paginate: {
                                    previous: 'Prev'
                                }
                            }
                        })
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            },

            getFilterParam: function () {
                let param = {};
                param.orderColumn = null;
                param.orderColumnSort = null;
                param.searchCategory = null;
                param.searchStatus = null;
                param.searchTitle = null;
                param.searchKeywordSelect = null;
                param.searchKeyword = null;

                if ($('#searchStatus').val() != '' && $('#searchStatus').val() != null && $('#searchStatus').val() != undefined) {
                    param.searchStatus = $('#searchStatus').val()
                }
                if ($('#searchTitle').val() != '' && $('#searchTitle').val() != null && $('#searchTitle').val() != undefined) {
                    param.searchTitle = $('#searchTitle').val()
                }
                if ($('#searchCategory').val() != '' && $('#searchCategory').val() != null && $('#searchCategory').val() != undefined && $('#searchCategory').val() != 'all') {
                    param.searchCategory = $('#searchCategory').val()
                }
                if ($('#searchKeywordSelect').val() != '' && $('#searchKeywordSelect').val() != null && $('#searchKeywordSelect').val() != undefined) {
                    param.searchKeywordSelect = $('#searchKeywordSelect').val()
                }
                if ($('#searchKeyword').val() != '' && $('#searchKeyword').val() != null && $('#searchKeyword').val() != undefined) {
                    param.searchKeyword = $('#searchKeyword').val()
                }
                return param
            },

            selectItem: function (el) {
                let _this = this;
                const row = $(el).closest('tr');
                row.closest('tbody').find('tr').css('background-color', 'white');
                row.css('background-color', '#F8F7F7')
                const targetId = $(el).closest('tr').find('[name=rowCheckbox]').val();
                const targetData = this.InquiryData.find(e => e.id === parseInt(targetId));
                $('.InquiryTitle').text('[' + targetData.categoryStr + '] ' + targetData.title)
                $('.InquiryCreatedMemberName').text(targetData.nickname + '(' + targetData.memberId + ')')
                $('.InquiryCreatedDate').text(targetData.modifiedAt)
                $('.InquiryContentCon').text(targetData.content)
                $('.targetInquiryCon').attr('mekc-inquiry-id', targetId)
                $('#answerTitle').val('RE: '+targetData.title)
                $('#answerDate').val(_this.getDateStr())
                $('#answerStatus').val('0')
                $('select').niceSelect('update');
                $('#answerContents').val('')
                $('#answerManagerId').val('1')
                $('#answerManager').val('이동헌')

                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/inquiry/getAnswerById.do",
                    dataType: 'json',
                    data: JSON.stringify(targetId), // 객체를 JSON 문자열로 변환하여 전달
                    contentType: 'application/json', // 전달하는 데이터의 타입을 명시
                    cache: false,
                    success: function (result) {
                        if (result.length != 0){
                            $('#answerStatus').val('1')
                            $('select').niceSelect('update');
                            $('#answerTitle').val(result[0]['title'])
                            $('#answerContents').val(result[0]['content'])
                            $('#answerManagerId').val(result[0]['createdBy'])
                            $('#answerDate').val(_this.getDateStr(result[0]['createdAt']))
                            if(result.length > 1){
                                $('#answerManager').val(result[0]['createdByStr']+'(수정됨)')
                            }else{
                                $('#answerManager').val(result[0]['createdByStr'])
                            }
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            },

            answerInsert : function () {
                param = {};
                param.status = null;
                param.title = null;
                param.content = null;
                param.createdBy = null;
                param.createdAt = null;
                param.inquiryId = null;

                param.inquiryId = $(document).find("[mekc-inquiry-id]").attr("mekc-inquiry-id")
                if (param.inquiryId == '' || param.inquiryId == undefined || param.inquiryId == null){
                    alert("답변할 문의를 선택해 주세요")
                    return false;
                }
                if ($('#answerStatus').val() != '' && $('#answerStatus').val() != null && $('#answerStatus').val() != undefined) {
                    param.status = $('#answerStatus').val()
                }
                if ($('#answerTitle').val() != '' && $('#answerTitle').val() != null && $('#answerTitle').val() != undefined) {
                    param.title = $('#answerTitle').val()
                }else{
                    alert("제목을 입력해주세요");
                    return false;
                }
                if ($('#answerContents').val() != '' && $('#answerContents').val() != null && $('#answerContents').val() != undefined) {
                    param.content = $('#answerContents').val()
                }else{
                    alert("답변 내용을 입력해주세요")
                }
                if ($('#answerManagerId').val() != '' && $('#answerManagerId').val() != null && $('#answerManagerId').val() != undefined) {
                    param.createdBy = $('#answerManagerId').val();
                }else{
                    alert("답변자의 정보가 정확하지 않습니다.")
                }

                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/inquiry/insertAnswer.do",
                    dataType: 'json',
                    data: JSON.stringify(param), // 객체를 JSON 문자열로 변환하여 전달
                    contentType: 'application/json', // 전달하는 데이터의 타입을 명시
                    cache: false,
                    success: function (result) {
                        if (result){
                            ("#answerStatus").val(1)
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            },
            getDateStr : function (date = null, format = null) {
                if (date == null){
                    date = new Date();
                }else{
                    date = new Date(date)
                }
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');

                let str
                if (format == null){
                    str = `${year}-${month}-${day}`
                }else{
                    str = `${year}-${month}-${day}`
                }
                return str
            }
        }
        $(document).ready(function () {
            inquiryList.init();
        });

        const loginSession = [[${loginSession}]]
    </script>

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
                <div class="card-block-small">
                    <!-- 키워드 filter -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <select name="searchKeywordSelect" id="searchKeywordSelect"
                                            class="form-select form-control custom-select form-control-round left-select">
                                        <option value="">- 선택 -</option>
                                        <option value="m.email">아이디</option>
                                        <option value="nickname">닉네임</option>
                                    </select>
                                    <input type="text" class="form-control form-control-round" name="searchKeyword"
                                           id="searchKeyword"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>문의유형</strong></div>
                                <div class="col-sm-12">
                                    <select name="searchCategory" id="searchCategory"
                                            class="form-select form-control form-control-round custom-select">
                                        <option value="all">전체</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>제목</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <input type="text" class="form-control form-control-round" name="searchTitle"
                                           id="searchTitle"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>답변 상태</strong></div>
                                <div class="col-sm-12">
                                    <select name="searchStatus"
                                            class="form-select form-control form-control-round custom-select"
                                            id="searchStatus">
                                        <option value="all">전체</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //키워드 filter -->
                    <!-- 키워드 filter-btn -->
                    <div class="mt-1 p-t-20 text-center border-top">
                        <button class="btn btn-disabled m-r-5">초기화</button>
                        <button class="btn btn-primary" id="searchBtn">검색</button>
                    </div>
                </div>
            </form>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>1:1 문의 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn-inverse">삭제</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <table id="inquiryListTable"
                                   class="col-12 hover nowrap row-border"
                                   role="grid" style="width: 100%">
                                <thead>
                                <tr role="row">
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        <div class="border-checkbox-section mt20">
                                            <div class="border-checkbox-group">
                                                <input type="checkbox" class="border-checkbox " id="checkboxAll" name="rowCheckbox" value="All">
                                                <label class="form-label border-checkbox-label" for="checkboxAll"></label>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        문의유형
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        제목
                                    </th>
                                    <th tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        작성자
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        답변상태
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        등록일
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="border-bottom: 1px solid #dddddd">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 targetInquiryCon" mekc-inquiry-id="">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>문의</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <p class="InquiryTitleCon">
                            <strong class="InquiryTitle"></strong>
                        </p>
                        <p>
                            <span class="InquiryCreatedMemberName"></span><br/>
                            <span class="InquiryCreatedDate"></span>
                        </p>
                    </div>
                    <div class="card-header p-t-0 p-b-0">
                        <h4 class="sub-title"><strong>문의 내용</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <p class="InquiryContentCon">

                        </p>
                        <!--                        <div class="mt-2 row"> 첨부파일이라 주석처리 해놓음.-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="javascript:void(0)"><i class="ion-paperclip f-18"></i> Cum sociis natoque.pptx</a></li>-->
                        <!--                                <li><a href="javascript:void(0)"><i class="ion-paperclip f-18"></i> Cum sociis natoque.xlsx</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>답변</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <div class="mb-3 form-group row required">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                            <div class="col-sm-12">
                                <select name="answerStatus"
                                        class="form-select form-control form-control-round custom-select"
                                        id="answerStatus" disabled>
                                    <option value="0">답변대기</option>
                                    <option value="1">답변완료</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="answerTitle"><strong>답변 제목</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round"
                                       name="answerTitle" id="answerTitle"
                                       placeholder="Text Input Validation"/>
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="answerContents"><strong>답변 내용</strong></label>
                            <div class="col-sm-12">
                                                                <textarea rows="5" cols="5"
                                                                          class="form-control form-control-sm"
                                                                          placeholder="Default textarea"
                                                                          id="answerContents"
                                                                          name="answerContents"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                           for="answerManager"><strong>답변자(세션생성시 수정)</strong></label>
                                    <div class="col-sm-12">
                                        <input type="hidden" name="answerManagerId" id="answerManagerId" value="1"
                                               placeholder="Text Input Validation" readonly/>
                                        <input type="text" class="form-control form-control-round"
                                               name="answerManager" id="answerManager" value=""
                                               placeholder="Text Input Validation" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                           for="answerDate"><strong>답변일자</strong></label>
                                    <div class="col-sm-12">
                                        <input type="text"
                                               class="form-control form-control-round"
                                               name="answerDate" id="answerDate" placeholder="Text Input Validation"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <button class="btn btn-disabled m-r-5" id="answerCancel">취소</button>
                        <button class="btn btn-primary" id="answerInsert">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>
