<form id ="templateManageForm">
    <!-- INSERT -->
    <div class="card-header p-b-0">
        <h3 class="sub-title"><strong>기본정보</strong></h3>
    </div>

    <!-- Tab Container Start -->
    <div class="card-block-small p-t-0">
        <div class="row mb-3">
            <div class="col-lg-6">
                <div class="mb-2 form-group required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>발송수단</strong></div>
                    <div class="col-sm-12">
                        <select id="subjectSelect1" name="eduSbjctCds" class="form-select form-select-sm" onchange="duplCheck('1')">
                            <option value="" >- 선택 -</option>
                            <option th:each="item : ${sbjctCdLsit}"   th:value="${item.CD}"> <th:block th:text="${item.CD_NM}" /> </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2 form-group required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>발송유형</strong></div>
                    <div class="col-sm-12">
                        <select id="subjectSelect1" name="eduSbjctCds" class="form-select form-select-sm" onchange="duplCheck('1')">
                            <option value="" >- 선택 -</option>
                            <option th:each="item : ${sbjctCdLsit}"   th:value="${item.CD}"> <th:block th:text="${item.CD_NM}" /> </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                <div class="col-12">
                    <div class="form-radio">
                        <div class="radio radio-inline">
                            <label class="mb-0 form-label">
                                <input type="radio" name="typeCd" id="typeCd1" value="HTML" checked/>
                                <i class="helper"></i>사용
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="mb-0 form-label">
                                <input type="radio" name="typeCd" id="typeCd2" value="URL"/>
                                <i class="helper"></i>사용안함
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="ttl"><strong>제목</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="ttl" id="ttl" placeholder="제목">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="mb-0 form-group row ">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="cn"><strong>내용</strong></label>
                    <div class="col-12">
                        <textarea class="form-control form-control-sm" name="cn" id="cn"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block-small">
        <button type="button" class="btn btn-disabled m-r-5" id="cancelInsertMmnws" onclick="fn_cancelReg()">취소</button>
        <th:block sec:authorize-url="/mng/mmnws/insertMmnws.do">
            <button type="button" class="btn btn-primary" id="insertMmnws" onclick="fn_insertMmnws()">저장</button>
        </th:block>
    </div>
    <!-- Tab Container End -->
</form>

<script type="text/javascript">
    function fn_cancelReg() {
        $("#contentPanel").hide();
    }
    var validator= $("#mmnwsInsertForm").validate({
        rules: {
            clsfCd		:	{ required: true }
            ,oxprNm		:	{ required: true }
            ,ttl		:	{ required: true }
            ,url		:	{ required: true }
        },
        messages: {
            clsfCd		:   { required: "분류를 선택해주십시오." }
            ,oxprNm		:   { required: "언론사를 입력해주십시오." }
            ,ttl		:   { required: "제목을 입력해주십시오." }
            ,url		:   { required: "링크주소를 입력해주십시오." }
        }
    })

    function fn_insertMmnws(){
        if(!($("#mmnwsInsertForm").valid())) return;

        if(!confirm("저장하시겠습니까?")) return;

        var data =  $("#mmnwsInsertForm").serialize();
        if(displayWorkProgress()){
            $.ajax({
                url : contextpath + "mng/mmnws/insertMmnws.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){
                    if(data.result=="success"){
                        alert(data.msg);
                        gridHelper1.resetListContent();
                    }else{
                        alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
    }
</script>