<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saesig.diaryManage.DiaryManageMapper">
    <select id="selectDiaryList" resultType="com.saesig.diaryManage.DiaryManageDto" parameterType="com.saesig.diaryManage.DiaryManageDto">
        <include refid="PaginationMapper.header"/>
        SELECT
        D.ID,
        D.TITLE,
        D.IMAGE_FILE_GROUP_ID,
        D.WEATHER_CATEGORY,
        D.CATEGORY as diaryCategory,
        D.STATUS as diaryStatus,
        D.IS_SECRET,
        D.IS_DELETED,
        D.HITS,
        D.CREATED_AT,
        D.CREATED_BY,
        D.MODIFIED_AT,
        D.MODIFIED_BY,
        M.nickname as createdByName,
        IFNULL(C.cnt,0) as commentCnt,
        IFNULL(L.cnt,0) as likeCnt
        FROM DIARY D
        LEFT JOIN MEMBER M ON D.modified_by = M.id
        LEFT JOIN (SELECT diary_id, count(*) AS cnt FROM diary_comment WHERE depth = 1 AND IS_DELETED = 'N' GROUP BY diary_id) C ON D.id = C.diary_id
        LEFT JOIN (SELECT diary_id, count(*) AS cnt FROM diary_interest GROUP BY diary_id) L ON D.id = L.diary_id
        WHERE 1=1
        <if test="searchType != '' and searchKeyword != '' and searchType != null and searchKeyword != null">
            and #{searchType} LIKE CONCAT('%',#{searchKeyword},'%')
        </if>
        <if test="searchTitle != '' and searchTitle != null">
            and D.title LIKE CONCAT('%',#{searchTitle},'%')
        </if>
        <if test="searchStatus != '' and searchStatus != null and searchStatus != 'all'">
            and D.status = #{searchStatus}
        </if>
        <if test="searchCategory != '' and searchCategory != null and searchCategory != 'all'">
            and D.category = #{searchCategory}
        </if>
        <include refid="PaginationMapper.footer"/>
    </select>

    <select id="selectDiaryCntData" resultType="com.saesig.diaryManage.DiaryManageDto" parameterType="com.saesig.diaryManage.DiaryManageDto">
        SELECT
            D.ID,
            IFNULL(C.cnt,0) as commentCnt
            FROM DIARY D
                 LEFT JOIN MEMBER M ON D.modified_by = M.id
                 LEFT JOIN (SELECT diary_id, count(*) as cnt from diary_comment WHERE DEPTH = 1 and IS_DELETED = 'N' group by diary_id) C ON D.id = C.diary_id
    </select>

    <select id="selectDiaryById" resultType="com.saesig.diaryManage.DiaryManageDto" parameterType="com.saesig.diaryManage.DiaryManageDto">
        SELECT
        D.ID,
        D.TITLE,
        D.CONTENT,
        D.IMAGE_FILE_GROUP_ID,
        D.WEATHER_CATEGORY,
        D.CATEGORY as diaryCategory,
        D.STATUS as diaryStatus,
        D.IS_SECRET,
        D.IS_DELETED,
        D.HITS,
        D.CREATED_AT,
        D.CREATED_BY,
        D.MODIFIED_AT,
        D.MODIFIED_BY,
        CONCAT(M.nickname,'(',M.email,')') as createdByName,
        CONCAT(M2.nickname,'(',M2.email,')') as modifiedByName,
        IFNULL(L.cnt,0) as likeCnt
        FROM DIARY D
        LEFT JOIN MEMBER M ON D.CREATED_BY = M.id
        LEFT JOIN MEMBER M2 ON D.MODIFIED_BY = M2.id
        LEFT JOIN (SELECT diary_id, count(*) as cnt from diary_interest group by diary_id) L ON D.id = L.diary_id
        where D.id = #{id}
    </select>

    <select id="selectDiaryTagListById" resultType="com.saesig.diaryManage.DiaryTagDto" parameterType="com.saesig.diaryManage.DiaryManageDto">
        SELECT
            DT.*, T.NAME AS tagName
            FROM DIARY_TAG DT LEFT JOIN TAG T ON DT.TAG_ID = T.ID
        WHERE DT.diary_id = #{id}
    </select>

    <update id="updateDiaryInfo" parameterType="com.saesig.diaryManage.DiaryManageDto">
        UPDATE DIARY
        SET
            TITLE = #{title},
            CONTENT = #{content},
            STATUS = #{diaryStatus},
            IS_DELETED = #{isDeleted},
            MODIFIED_AT = now(),
            MODIFIED_BY = #{member.id}
        WHERE
            id = #{id}
    </update>

    <select id="selectDiaryCommentById" parameterType="com.saesig.diaryManage.DiaryManageDto" resultType="com.saesig.diaryManage.DiaryCommentDto">
        SELECT DC.*,DCI.CNT as likeCnt, CONCAT(M.NICKNAME,'(',M.EMAIL,')') AS createdByName, IFNULL(DCU.CNT,0) AS replyCnt
        FROM DIARY_COMMENT DC
            LEFT JOIN (SELECT COMMENT_ID, COUNT(*) as CNT FROM DIARY_COMMENT_INTEREST GROUP BY COMMENT_ID) DCI ON DC.id = DCI.COMMENT_ID
            LEFT JOIN MEMBER M ON DC.CREATED_BY = M.ID
            LEFT JOIN (SELECT UPPER_ID, COUNT(*) AS CNT FROM DIARY_COMMENT WHERE UPPER_ID IS NOT NULL AND IS_DELETED = 'N' GROUP BY UPPER_ID) DCU ON DC.ID = DCU.UPPER_ID
        WHERE DIARY_ID = #{id}
        AND IS_DELETED = 'N'
        ORDER BY DC.DEPTH,DC.UPPER_ID DESC, DC.CREATED_AT DESC
    </select>

    <update id="deleteDiary" parameterType="com.saesig.diaryManage.DiaryManageDto">
        UPDATE DIARY SET IS_DELETED = 'Y',STATUS = 'DELETE' WHERE ID IN
        <foreach item="item" collection="ids" open="("  separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="deleteDiaryComment" parameterType="com.saesig.diaryManage.DiaryCommentDto">
        UPDATE DIARY_COMMENT SET IS_DELETED = 'Y' WHERE ID = #{id} OR UPPER_ID = #{id}
    </update>

</mapper>

