<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saesig.news.NewsMapper">

    <select id="getNewsList" resultType="com.saesig.news.NewsDto" parameterType="hashMap">
        <include refid="PaginationMapper.header"/>
        select
        n.id,
        n.category,
        n.title,
        n.is_deleted,
        n.created_at,
        n.created_by,
        n.modified_at,
        n.is_fixed,
        m.modified_by,
        m.nickname,
        m.email as memberId
        from post n
        LEFT JOIN member m ON n.created_by = m.id
        where 1=1
        and is_deleted = 'N'
        and board_id = 1
        <if test="searchCategory != '' and searchCategory != null and searchCategory != 'all'">
            and n.category = #{searchCategory}
        </if>
        <if test="searchTitle != '' and searchTitle != null">
            and n.title LIKE CONCAT('%',#{searchTitle},'%')
        </if>
        <include refid="PaginationMapper.footer"/>
    </select>

    <insert id="insertNews">
        INSERT INTO post (board_id,category, title, content, created_at, created_by, modified_at, modified_by,is_fixed)
        VALUES (1,#{category}, #{title}, #{content}, now(), #{createdBy}, now(), #{modifiedBy}, #{isFixed})
    </insert>

    <update id="updateNews" parameterType="com.saesig.news.NewsDto">
        UPDATE post
        SET category    = #{category},
            title       = #{title},
            content     = #{content},
            is_fixed    = #{isFixed},
            created_by  = #{createdBy},
            modified_at = now(),
            modified_by = #{modifiedBy}
        WHERE id = #{id}
    </update>

    <update id="deleteNews">
        UPDATE post SET is_deleted = 'Y' where id IN
   <foreach item="item" collection="ids" open="("  separator="," close=")">
        #{item}
    </foreach>
    </update>

    <select id="selectNewsById" parameterType="com.saesig.news.NewsDto" resultType="com.saesig.news.NewsDto">
        SELECT n.*, m.nickname, m.email as memberId FROM post n LEFT JOIN member m ON n.modified_by = m.id
        WHERE n.id = #{id}
    </select>


</mapper>