<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saesig.saesigManage.SaesigManageMapper">

    <select id="selectAdoptList" resultType="com.saesig.saesigManage.AdoptListDto" parameterType="com.saesig.saesigManage.AdoptListDto">
        <include refid="PaginationMapper.header"/>
        SELECT a.*, ad1.category as animalDivision1Category, ad2.category as animalDivision2Category, reportCnt ,  likeCnt, chattingCnt
        from adopt a
            LEFT JOIN (select adopt_id, IFNULL(count(*),0) as reportCnt from adopt_report group by adopt_id) ar ON a.id = ar.adopt_id
            LEFT JOIN (select adopt_id, IFNULL(count(*),0) as likeCnt from adopt_interest group by adopt_id) ai ON a.id = ai.adopt_id
            LEFT JOIN (select adopt_id, IFNULL(count(*),0) as chattingCnt from (select * from chatting_room group by chat_id) cr group by adopt_id) ch ON a.id = ch.adopt_id
            LEFT JOIN animal_division1 ad1 ON a.animal_division1_id = ad1.id
            LEFT JOIN animal_division2 ad2 ON a.animal_division2_id = ad2.id
            LEFT JOIN member m ON a.created_by = m.id
          WHERE 1=1
        <if test="searchType != '' and searchKeyword != '' and searchType != null and searchKeyword != null">
            and #{searchType} LIKE CONCAT('%',#{searchKeyword},'%')
        </if>
        <if test="searchTitle != '' and searchTitle != null">
            and a.title LIKE CONCAT('%',#{searchTitle},'%')
        </if>
        <if test="searchStatus != '' and searchStatus != null and searchStatus != 'all'">
            and a.status = #{searchStatus}
        </if>
        <if test="searchAnimalDivision1Category != '' and searchAnimalDivision1Category != null and searchAnimalDivision1Category != 'all'">
            and ad1.id = #{searchAnimalDivision1Category}
        </if>
        <if test="searchAnimalDivision2Category != '' and searchAnimalDivision2Category != null and searchAnimalDivision2Category != 'all'">
            and ad2.id = #{searchAnimalDivision2Category}
        </if>
        <if test="searchGender != '' and searchGender != null and searchGender != 'all'">
            and a.gender = #{searchGender}
        </if>
        <if test="searchReportCnt != '' and searchReportCnt != null and searchReportCnt != 'all'">
            <if test="searchReportCnt == 1">
                and ar.reportCnt != 0
            </if>
            <if test="searchReportCnt == 0">
                and ar.reportCnt = 0
            </if>
        </if>
        <if test="searchIsDeleted != '' and searchIsDeleted != null and searchIsDeleted != 'all'">
            and a.is_deleted = #{searchIsDeleted}
        </if>
        ORDER BY a.id DESC
        <include refid="PaginationMapper.footer"/>
    </select>

    <select id="selectAdoptById" resultType="com.saesig.saesigManage.AdoptListDto" parameterType="hashMap">
        SELECT a.*, ad1.category as animalDivision1Category, ad2.category as animalDivision2Category,IFNULL(reportCnt,0) as reportCnt , IFNULL(likeCnt,0) as likeCnt, m.nickname as createdName, m.email as createdMail
            from adopt a
            LEFT JOIN (select adopt_id,count(*) as reportCnt from adopt_report group by adopt_id) ar ON a.id = ar.adopt_id
            LEFT JOIN (select adopt_id,count(*) as likeCnt from adopt_interest group by adopt_id) ai ON a.id = ai.adopt_id
            LEFT JOIN animal_division1 ad1 ON a.animal_division1_id = ad1.id
            LEFT JOIN animal_division2 ad2 ON a.animal_division2_id = ad2.id
            LEFT JOIN member m ON m.id = a.created_by
            WHERE a.id = #{id}
        ORDER BY a.id DESC
    </select>

    <select id="selectAnimalDivision1List" resultType="com.saesig.saesigManage.animalDivisionCategoryDto" parameterType="hashMap">
        SELECT id as animalDivision1Id, category as animalDivision1Category  FROM animal_division1
    </select>

    <select id="selectAnimalDivision2List" resultType="com.saesig.saesigManage.animalDivisionCategoryDto" parameterType="hashMap">
        SELECT animal_division1_id as animalDivision1Id, id as animalDivision2Id, category as animalDivision2Category  FROM animal_division2 where animal_division1_id = #{id}
    </select>


</mapper>