<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saesig.templateManage.TemplateManageMapper">

    <select id="selectTemplateList" resultType="com.saesig.templateManage.TemplateManageDto">
        <include refid="PaginationMapper.header"/>
        SELECT
            id
            , method
            , title
            , time_point
            , category
            , is_enabled
            , created_at
        FROM
            SEND_TEMPLATE
        WHERE
            1 = 1
        <!-- 발송수단 -->
        <if test="searchMethod != null and searchMethod != ''">
            AND method = #{searchMethod}
        </if>
        <!-- 발송유형 -->
        <if test="searchCategory != null and searchCategory != ''">
            AND category = #{searchCategory}
        </if>
        <!-- 제목 -->
        <if test="searchTitle != null and searchTitle != ''">
            AND title LIKE CONCAT('%',#{searchTitle},'%')
        </if>
        <!-- 사용여부 -->
        <if test="searchIsEnabled != null and searchIsEnabled != ''">
            AND is_enabled = #{searchIsEnabled}
        </if>
        <include refid="PaginationMapper.footer"/>
    </select>

    <select id="selectTemplate" resultType="com.saesig.templateManage.TemplateManageDto">
        SELECT
            *
        FROM
            SEND_TEMPLATE
        where
            id = #{id}
    </select>

    <select id="selectTemplateListByCategory" resultType="com.saesig.templateManage.TemplateManageDto">
        SELECT
            id
            , category
            , title
            , content
        FROM
            send_template
        WHERE
            category = #{category}
            AND is_enabled = 'Y'
    </select>

    <insert id="insertForm">
        INSERT INTO send_template(
            method
            , title
            , content
            , category
            , is_enabled
            , time_point
            , created_at
            , created_by
            , modified_at
            , modified_by
        )VALUES (
            #{method}
            , #{title}
            , #{content}
            , #{category}
            , #{isEnabled}
            , '-'
            , NOW()
            , #{member.id}
            , NOW()
            , #{member.id}
        )
    </insert>

    <update id="updateForm">
        UPDATE send_template
        SET
            method      = #{method}
          , title       = #{title}
          , content     = #{content}
          , category    = #{category}
          , is_enabled  = #{isEnabled}
          , modified_at = NOW()
          , modified_by = #{member.id}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteItems">
        DELETE FROM send_template
        WHERE id IN
        <foreach item="item" collection="ids" open="("  separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>