<html lang="en-us" class="no-js">
<head>
    <meta charset="utf-8">
    <title>404 페이지 </title>
    <meta name="description" content="Flat able 404 Error page design">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codedthemes">

    <link rel="shortcut icon" href="/files/assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/files/extra-pages/404/1/css/style.css"/>
</head>

<body>

<div class="content">
    <div class="content-box text-center">
        <div class="big-content" style="width:auto; min-height:10px;">
            <img src="/css/images/400.png" alt="400" style="max-width:100%; height:auto;">
        </div>

        <h1>권한 또는 세션이 존재하지 않습니다.</h1>
        <button id="moveToLoginBtn"> 로그인 화면 이동 </button>
    </div>
</div>

<script type="text/javascript" src="/files/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#moveToLoginBtn').on('click', function () {
            // logout 호출
        });
    });
</script>
</body>
</html>