<html lang="en-us" class="no-js">
<head>
    <meta charset="utf-8">
    <title>404 페이지 </title>
    <meta name="description" content="Flat able 404 Error page design">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codedthemes">

    <link rel="shortcut icon" href="/files/assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/files/extra-pages/404/1/css/style.css"/>
</head>

<body>

<div class="content">
    <div class="content-box text-center">
        <div class="big-content" style="width:auto; min-height:10px;">
            <img src="/css/images/404image.png" alt="404" style="max-width:100%; height:auto;">
        </div>

        <h1>죄송합니다. 요청하신 페이지를 찾을 수 없어요.</h1>
        <h1>입력하신 주소가 정확한지 다시 한번 확인해주세요.</h1>
        <button id="prevBtn"> 이전으로</button>
    </div>
</div>

<script type="text/javascript" src="/files/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#prevBtn').on('click', function () {
            history.back();
        });
    });
</script>
</body>
</html>