<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title> 관리자 로그인 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="icon" th:href="@{/files/assets/images/fafvicon1.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/themify-icons/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/files/assets/icon/icofont/css/icofont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/files/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.common.css}">
</head>
<body class="fix-menu">

<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>

<section class="login-block" style="display:flex;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" id="loginForm" name="loginForm" th:action="@{/login_proc}" method="post">
                    <div class="text-center">
                        <img th:src="@{/files/assets/images/logo.png}" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">로그인</h3>
                                </div>
                            </div>
                            <p th:if="${failureMessage != null}" class="text-muted text-center p-b-5" style="color:red;" th:text="${failureMessage}">failureMessage</p>
                            <div class="form-group form-primary">
                                <input type="text" name="username" id="username" class="form-control form-control-round" required="" autofocus autocomplete="false">
                                <span class="form-bar"></span>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="password" id="password" class="form-control form-control-round" required="" >
                                <span class="form-bar"></span>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-md btn-block m-b-20"> 로그인 </button>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" th:src="@{/files/bower_components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/jquery-slimscroll/jquery.slimscroll.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/modernizr/feature-detects/css-scrollbars.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/i18next/i18next.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js}"></script>
<script type="text/javascript" th:src="@{/files/bower_components/jquery-i18next/jquery-i18next.min.js}"></script>
<script type="text/javascript" th:src="@{/files/assets/js/common-pages.js}"></script>

<script th:inline="javascript">
    $(function(){
        $('#username').val('wjm358@naver.com');
        $('#password').val('1234');
    })
</script>

</body>
</html>