<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul>
                    <li class="d-inline-block m-r-10">
                        디렉토리 : <i class="icofont  icofont-folder"></i>
                    </li>
                    <li class="d-inline-block m-r-10">
                        메뉴 : <i class="icofont icofont-file-alt"></i>
                    </li>
                    <li class="d-inline-block m-r-10">
                        상세 메뉴 : <i class="icofont icofont-copy-black"></i>
                    </li>
                    <li class="d-inline-block m-r-10">
                        기능 : <i class="icofont icofont-tools-alt-2"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="mb-0 form-group row">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1 "><strong>분류선택</strong></div>
                        <div class="col-12">
                            <select name="searchType" id="searchType" class="form-select form-control form-control-round left-select custom-select">
                                <option value="ADMIN" selected>ADMIN</option>
                                <option value="FRONT">FRONT</option>
                                <option value="API">API</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header p-b-0">
                    <h4 class="sub-title"><strong>자원구조</strong></h4>
                </div>
                <div class="card-block-small">
                    <div class="col-12">
                        <div id="jstree"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header p-b-0">
                    <h4 class="sub-title"><strong>자원구조</strong></h4>
                </div>
                <div class="card-block-small">
                    <form id="resourceForm" name="resourceForm">
                        <input type="hidden" name="id" id="id"/>
                        <input type="hidden" name="depth" id="depth">
                        <input type="hidden" name="upperId" id="upperId"/>

                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="upperName"><strong>상위자원명</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="upperName" id="upperName" readonly/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="upperUrl"><strong>상위 자원 URL</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="upperUrl" id="upperUrl" readonly/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="httpMethod"><strong>Http Method Type</strong></label>
                            <div class="col-sm-12">
                                <select name="httpMethod" id="httpMethod" class="form-select form-control form-control-round">
                                    <option value="">- 선택 -</option>
                                    <option value="PUT">PUT</option>
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="DELETE">DELETE</option>
                                    <option value="PATCH">PATCH</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="name"><strong>자원명</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="name" id="name"/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="url"><strong>URL</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="url" id="url"/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="styleClass"><strong>Style Class</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="styleClass" id="styleClass"/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="ord"><strong>순서</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="ord" id="ord" readonly/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="category"><strong>분류</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="category" id="category" readonly/>
                            </div>
                        </div>

                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>자원 유형</strong></label>
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="mb-0">
                                        <input type="radio" id="type3" name="type" value="DIRECTORY">
                                        <i class="helper"></i>디렉토리
                                    </label>
                                </div>

                                <div class="radio radio-inline">
                                    <label class="mb-0">
                                        <input type="radio" id="type1" name="type" value="MENU">
                                        <i class="helper"></i>메뉴
                                    </label>
                                </div>

                                <div class="radio radio-inline">
                                    <label class="mb-0">
                                        <input type="radio" id="type4" name="type" value="MENU_DETAIL">
                                        <i class="helper"></i>상세 메뉴
                                    </label>
                                </div>

                                <div class="radio radio-inline">
                                    <label class="mb-0">
                                        <input type="radio" id=type2 name="type" value="FUNCTION">
                                        <i class="helper"></i>기능
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 form-group row">
                            <div class="col-sm-6">
                                <input type="checkbox" class="js-single-small" name="isLoginDisallowed" id="isLoginDisallowed" checked/>
                                <label for="isLoginDisallowed" class="v-middle">비로그인 허용 여부 </label>
                            </div>

                            <div class="col-sm-6">
                                <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled" checked/>
                                <label for="isEnabled" class="v-middle">사용여부</label>
                            </div>
                        </div>

                        <div class="mb-0 mt-4 form-group row">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-primary" id="saveBtn">
                                    저장
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" th:href="@{/files/assets/pages/treeview/treeview.css}"></link>
    <script type="text/javascript" src="/files/bower_components/jstree/dist/jstree.js"></script>
    <script th:inline="javascript">
        const resourceController = {
            resources: [],
            parentNode: null,
            selectedNode: null,
            $jstree: $('#jstree'),

            init: function () {
                this.parentNode = this.parentNode ?? null;
                this.selectedNode = this.selectedNode ?? null;
                this.resources = [];
                const _this = this;

                $('#resourceForm').validate({
                    ignore: []
                    , rules: {
                        httpMethod: {required: true}
                        , name: {required: true}
                        , url: {required: true}
                        , category: {required: true}
                        , type: {required: true}
                    },
                    messages: {
                        httpMethod: {required: "Http Method Type을 입력해 주십시오."}
                        , name: {required: "자원명을 입력해 주십시오."}
                        , url: {required: "URL을 입력해 주십시오."}
                        , category: {required: "분류를 입력해 주십시오."}
                        , type: {required: "자원 유형을 선택해 주십시오."}
                    }
                });

                $('#resourceForm').validate().resetForm();

                $.ajax({
                    url: '/admin/resources',
                    type: 'get',
                    async: false,
                    data: {category: $('#searchType').val()}
                }).done(function (response) {
                    response.forEach(function (element, index) {
                        _this.resources[index] = {
                            id: element.id,
                            parent: element.id === 0 ? '#' : element.upperId,
                            text: element.name,
                            type: element.type.key,
                            styleClass: element.styleClass,
                            httpMethod: element.httpMethod,
                            url: element.url,
                            isEnabled: element.isEnabled,
                            name: element.name,
                            depth: element.depth,
                            ord: element.ord,
                            category: element.category,
                            isLoginDisallowed: element.isLoginDisallowed
                        };
                    });
                }).fail(function (error) {
                    alert("자원 목록을 조회하는데 실패하였습니다.");
                });

                _this.renderJsTree();
            },

            renderJsTree: function () {
                const _this = this;
                _this.$jstree.jstree('destroy');

                _this.$jstree.jstree({
                    "core": {
                        "animation": 50,
                        "strings": {
                            loading: "Loading ..."
                        },
                        "themes": {
                            "responsive": true,
                        },
                        'data': _this.resources,
                        'check_callback': true
                    },
                    "types": {
                        "DIRECTORY": {
                            "icon": "icofont  icofont-folder"
                        },
                        "MENU": {
                            "icon": "icofont icofont-file-alt"
                        },
                        "MENU_DETAIL": {
                            "icon": "icofont icofont-copy-black"
                        },
                        "FUNCTION": {
                            "icon": "icofont icofont-tools-alt-2"
                        }

                    },
                    'contextmenu': {
                        'items': {
                            "regist": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "하위 등록",
                                "action": function (obj) {
                                    const selectedNode = $.jstree.reference(obj.reference).get_node(obj.reference).original;
                                    /*if (selectedNode.type != 'MENU' && selectedNode.type != 'MENU_DETAIL') {
                                        alert('프로그램 유형이 메뉴인 경우에만 하위 등록이 가능합니다.')
                                    } else {*/
                                    $('#resourceForm')[0].reset();
                                    $('#id').val('');
                                    $('#upperId').val(_this.selectedNode.original.id);
                                    $('#upperUrl').val(_this.selectedNode.original.url);
                                    $('#httpMethod').val('');
                                    $('#category').val($('#searchType').val());
                                    $('input[name=type]').prop('checked',false);
                                    $('select').niceSelect('update');
                                    // }
                                }
                            }, "delete": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "삭제",
                                "icon" : false,
                                "action": function (obj) {
                                    const selectedNode = $.jstree.reference(obj.reference).get_node(obj.reference).original;
                                    resourceController.delete(selectedNode.id);
                                }
                            }
                        }
                    },
                    'plugins': ['types', 'dnd', 'contextmenu']
                }).bind("move_node.jstree", function (event, data) {
                    const originalParentIdOfSelectedNode = _this.$jstree.jstree(true).get_node(data.old_parent).id;
                    const originalOrdOfSelectedNode = data.node.original.ord;
                    const newParentIdOfSelectedNode = _this.$jstree.jstree(true).get_node(data.parent).id;
                    const depthOfNewParentId = _this.$jstree.jstree(true).get_node(data.parent).depth;
                    const newOrdOfSelectedNode = data.position + 1;
                    const idOfSelectedNode = data.node.original.id;

                    const param = {
                        originalParentIdOfSelectedNode: originalParentIdOfSelectedNode,
                        originalOrdOfSelectedNode: originalOrdOfSelectedNode,
                        newParentIdOfSelectedNode: newParentIdOfSelectedNode,
                        newOrdOfSelectedNode: newOrdOfSelectedNode,
                        depthOfNewParentId: depthOfNewParentId,
                        idOfSelectedNode: idOfSelectedNode
                    }

                    _this.moveNode(param);

                }).bind("select_node.jstree", function (event, data) {
                    _this.selectedNode = _this.$jstree.jstree('get_selected', true)[0];
                    _this.parentNode = _this.$jstree.jstree(true).get_node(_this.selectedNode.parent);
                    _this.print();
                }).bind("dblclick.jstree", function (event) {

                }).bind("open_node.jstree", function (event, data) {
                }).bind('loaded.jstree', function () {
                    _this.$jstree.jstree('open_all');
                });
            },

            save: function () {
                if(!this.selectedNode) {
                    alert('자원이 선택되지 않았습니다.');
                    return;
                }

                const id = $('#resourceForm #id').val();

                if($('#resourceForm').valid()) {
                    if (!!id) {
                        this.update(id);
                    } else {
                        this.insert(id);
                    }
                }
            },

            delete : function(id) {
                const _this = this;

                if(confirm('하위 자원도 모두 삭제됩니다. 삭제하시겠습니까?')) {
                    $.ajax({
                        url: `/admin/resources/${id}`,
                        type: 'delete',
                        data: id,
                        contentType: 'application/json'
                    }).done(function(response){
                        alert('삭제 되었습니다.');
                        _this.$jstree.jstree().destroy();
                        _this.init();
                    })
                }
            },

            update: function () {
                const _this = this;

                if (confirm('자원 정보를 수정하시겠습니까?')) {
                    const formData = $('#resourceForm').serializeObject();
                    formData.isEnabled = formData.isEnabled ? "Y" : "N";
                    formData.isLoginDisallowed = formData.isLoginDisallowed ? "Y" : "N";

                    $.ajax({
                        url: `/admin/resources/${formData.id}`,
                        type: 'put',
                        data: JSON.stringify(formData),
                        contentType: 'application/json'
                    }).done(function (response) {
                        alert('자원이 수정되었습니다.');
                        _this.$jstree.jstree().destroy();
                        _this.init();
                        _this.$jstree.jstree(true)._open_to(_this.selectedNode.id);
                    }).fail(function (error) {
                        alert('자원을 수정하는데 실패하였습니다.')
                        console.log(JSON.stringify(error));
                    });
                }
            },

            insert: function () {
                const _this = this;

                if (confirm('자원 정보를 등록하시겠습니까?')) {
                    const formData = $('#resourceForm').serializeObject();
                    formData.depth = this.selectedNode.original.depth + 1;
                    formData.ord = this.selectedNode.children.length + 1;
                    formData.isEnabled = formData.isEnabled ? "Y" : "N";
                    formData.isLoginDisallowed = formData.isLoginDisallowed ? "Y" : "N";

                    $.ajax({
                        url: '/admin/resources',
                        type: 'post',
                        data: JSON.stringify(formData),
                        contentType: 'application/json'
                    }).done(function () {
                        alert('자원이 등록되었습니다.');
                        _this.$jstree.jstree().destroy();
                        _this.init();
                        _this.$jstree.jstree(true)._open_to(_this.selectedNode.id);
                    }).fail(function (error) {
                        alert('자원을 등록하는데 실패하였습니다.');
                        console.log(JSON.stringify(error));
                    });
                }
            },

            print: function () {
                const parentNodeOriginal = this.parentNode.original;
                const selectedNodeOriginal = this.selectedNode.original;

                $('#resourceForm').validate().resetForm();
                /*if (selectedNodeOriginal.id === 0) {
                    $('#saveBtn').prop('disabled', true);
                    $('#httpMethod').prop('disabled', true);
                    $('#name, #url').prop('readonly', true);
                } else {*/
                $('#saveBtn').prop('disabled', false);
                $('#httpMethod').prop('disabled', false);
                $('#name, #url').prop('readonly', false);
                // }

                $('#upperId').val(parentNodeOriginal ? parentNodeOriginal.id : '');
                $('#upperName').val(parentNodeOriginal ? parentNodeOriginal.name : '')
                $('#upperUrl').val(parentNodeOriginal ? parentNodeOriginal.url : '');

                $('#ord').val(selectedNodeOriginal.ord);
                $('#depth').val(selectedNodeOriginal.depth);
                $('#id').val(selectedNodeOriginal.id);
                $('#name').val(selectedNodeOriginal.name);
                $('#styleClass').val(selectedNodeOriginal.styleClass);
                $('#url').val(selectedNodeOriginal.url);
                $('#category').val(selectedNodeOriginal.category);
                adminCommon.toggleSwitch($('#isEnabled'), selectedNodeOriginal.isEnabled === 'Y');
                adminCommon.toggleSwitch($('#isLoginDisallowed'), selectedNodeOriginal.isLoginDisallowed === 'Y');
                $(`input[name=type]:input[value=${selectedNodeOriginal.type}]`).prop('checked', true);
                $('#httpMethod').val(selectedNodeOriginal.httpMethod).niceSelect('update');
            },

            moveNode: function (param) {
                const _this = this;

                $.ajax({
                    url: '/admin/resources/move',
                    method: 'post',
                    data: JSON.stringify(param),
                    contentType: 'application/json',
                    dataType: 'json'
                }).done(function () {
                    alert('자원이 이동되었습니다.')
                    _this.$jstree.jstree().destroy();
                    _this.init();
                }).fail(function (error) {
                    alert('자원을 이동하는데 실패하였습니다.');
                    console.log(JSON.stringify(error));
                })
            }
        };

        $(function () {
            resourceController.init();

            $('#saveBtn').on('click', function () {
                resourceController.save();
            });

            $('#searchType').on('change',function () {
                resourceController.init();
            })

        });
    </script>
</div>