<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    <!-- Page-body start -->
    <style>
        .dataTables_paginate {
            text-align: center !important;
            width: 100% !important;
        }

        .paginate_button.previous {
            border: 0px !important;
            background: white !important;
        }

        .paginate_button.next {
            border : 0px !important;
            background: white !important;
        }

        .paginate_button.current {
            background: #ff8031 !important;
        }
    </style>
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <!-- 키워드 filter -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                    <div class="input-group input-group-dropdown mb-0">
                                        <input type="text" class="form-control form-control-round" name="filterKeywordInput" id="filterKeywordInput"/>
                                        <select name="filterKeywordSelect" class="form-select form-control form-control-round" >
                                            <option value="opt1">primary</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>분류</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterCategorySelect" class="form-select form-control form-control-round">
                                            <option value="opt1">전체</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect" class="form-select form-control form-control-round">
                                            <option value="opt1">Select One Value Only</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect" class="form-select form-control form-control-round">
                                            <option value="opt1">Select One Value Only</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect" class="form-select form-control form-control-round">
                                            <option value="opt1">Select One Value Only</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect" class="form-select form-control form-control-round">
                                            <option value="opt1">Select One Value Only</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect" class="form-select form-control form-control-round">
                                            <option value="opt1">Select One Value Only</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="filterStatusSelect" class="form-select form-control form-control-round">
                                            <option value="opt1">Select One Value Only</option>
                                            <option value="opt2">Type 2</option>
                                            <option value="opt3">Type 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //키워드 filter -->
                        <!-- 키워드 filter-btn -->
                        <div class="mt-1 p-t-20 text-center">
                            <button class="btn btn-gray m-r-5">초기화</button>
                            <button class="btn btn-primary">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>1:1 문의 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn-transparent" data-bs-toggle="modal" data-bs-target="#managerSearchPopup" >모달</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="exampleTable" class="display" style="width:100%;">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>문의</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <p>
                            <strong>[분류] Cum sociis natoque penatibus et magnis dis
                                parturient montes</strong>
                        </p>
                        <p>
                            기관명 홍길동(아이디)<br/>
                            YYYY-MM-DD
                        </p>
                    </div>
                    <div class="card-header p-t-0 p-b-0">
                        <h4 class="sub-title"><strong>문의 내용</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <p>
                            문의 내용
                        </p>
                        <div class="mt-2 row">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="ion-paperclip f-18"></i> Cum sociis natoque.pptx</a></li>
                                <li><a href="javascript:void(0)"><i class="ion-paperclip f-18"></i> Cum sociis natoque.xlsx</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>답변</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <div class="mb-3 form-group row required">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                            <div class="col-sm-12">
                                <select name="answerStatus" class="form-select form-control form-control-round" id="answerStatus">
                                    <option value="0">답변대기</option>
                                    <option value="1">답변완료</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="answerTitle"><strong>답변 제목</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="answerTitle" id="answerTitle" placeholder="Text Input Validation"/>
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="answerContents"><strong>답변 내용</strong></label>
                            <div class="col-sm-12">
                                <textarea rows="5" cols="5" class="form-control" id="answerContents" name="answerContents" placeholder="Text Input Validation"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                           for="answerManager"><strong>답변자</strong></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control form-control-round" name="answerManager" id="answerManager" placeholder="Text Input Validation"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                           for="answerDate"><strong>답변일자</strong></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control form-control-round" name="answerDate" id="answerDate" placeholder="Text Input Validation"/></div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-0 form-group row">
                            <div class="col-12 mb-3">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="atchFile"><strong>첨부파일</strong></label>

<!--                                    <div class=" input-group-button">
                                        <input type="file" name="atchFile" id="atchFile" multiple="" accept="*/*" class="form-control form-control-sm" style="opacity:0 !important; position:absolute">
                                        <div class="input-file-container">
                                            <div style="position:relative;" class="form-control form-control-sm form-control-round">파일선택</div>
                                            <button> 파일 선택</button>
                                        </div>
                                    </div>-->

                                    <div class="mt-2 row">
                                        <div class="col-auto">
                                            <div id="atchFileUploadSuccess">
                                                <span class="label label-yellow" id="42008"> 슬랙 (1).png
                                                    <a class="text-yellow" href="javascript:void(0)" name="42008" onclick="deleteFile(this.name, this.dataset.idntfcKey)" data-idntfc-key="155254744532866413812830686042667176820">X
                                                    </a>
                                                </span>

                                                    <span class="label label-yellow" id="42027"> 환경·경제 통합분석을 위한 환경가치 종합연구_통합분석 시스템 구축.pdf
                                                    <a class="text-yellow" href="javascript:void(0)" name="42027" onclick="deleteFile(this.name, this.dataset.idntfcKey)" data-idntfc-key="187729746533770933651671500955560289682">X
                                                    </a>
                                                </span>
                                            </div>
                                            <input type="hidden" id="atchFilegrpid" name="atchFilegrpid" value="20799">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-0 form-group row">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>답변공개</strong></div>
                            <div class="col-12">
                                <div class="border-checkbox-section">
                                    <div class="border-checkbox-group">
                                        <input type="radio" name="rlsYn" id="rlsYn1" value="Y" checked="" style="display:none;">
                                        <label class="form-label border-checkbox-label" for="clsfCds1">공기</label>
                                    </div>
                                    <div class="border-checkbox-group">
                                        <input type="radio" name="rlsYn" id="rlsYn2" value="Y" checked="" style="display:none;">
                                        <label class="form-label border-checkbox-label" for="clsfCds2">기후변화</label>
                                    </div>
                                </div>
<!--                                <div class="form-radio">
                                    <div class="radio radio-inline">
                                        <label class="mb-0 form-label'" style="">
                                            <input type="radio" name="rlsYn" id="rlsYn1" value="Y" checked="">
                                            <i class="helper"></i>공개
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label class="mb-0 form-label" style="">
                                            <input type="radio" name="rlsYn" id="rlsYn2" value="N">
                                            <i class="helper"></i>비공개
                                        </label>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="mb-0 form-group required">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>분류</strong></div>
                            <div class="border-checkbox-section">
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds1" name="clsfCds" value="228101" data-cd-name="공기">
                                    <label class="form-label border-checkbox-label" for="clsfCds1">공기</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds2" name="clsfCds" value="228102" data-cd-name="기후변화">
                                    <label class="form-label border-checkbox-label" for="clsfCds2">기후변화</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds3" name="clsfCds" value="228103" data-cd-name="물" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds3">물</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds4" name="clsfCds" value="228104" data-cd-name="생명윤리" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds4">생명윤리</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds5" name="clsfCds" value="228105" data-cd-name="생태계" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds5">생태계</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds6" name="clsfCds" value="228106" data-cd-name="에너지" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds6">에너지</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds7" name="clsfCds" value="228107" data-cd-name="연구" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds7">연구</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds8" name="clsfCds" value="228108" data-cd-name="정책" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds8">정책</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds9" name="clsfCds" value="228109" data-cd-name="지속가능발전" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds9">지속가능발전</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds10" name="clsfCds" value="228110" data-cd-name="토양" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds10">토양</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds11" name="clsfCds" value="228111" data-cd-name="통계" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds11">통계</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds12" name="clsfCds" value="228112" data-cd-name="폐기물" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds12">폐기물</label>
                                </div>
                                <div class="border-checkbox-group">
                                    <input type="checkbox" class="border-checkbox " id="clsfCds13" name="clsfCds" value="228113" data-cd-name="환경보건" checked="">
                                    <label class="form-label border-checkbox-label" for="clsfCds13">환경보건</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <button class="btn btn-disabled m-r-5">취소</button>
                        <button class="btn btn-primary">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-body end -->
    <div class="modal fade" id="managerSearchPopup">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content type_2">
                <div class="modal-header">
                    <h4 class="modal-title">회원검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-block-small">
                            <div class="row">
                                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                                    <div class="mb-0 form-group">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                        <div class="input-group input-group-sm input-group-dropdown mb-0">
                                            <select name="popupFilterKeywordSelect"
                                                    class="form-select form-control form-control-sm form-control-primary form-bg-primary">
                                                <option value="opt1">primary</option>
                                                <option value="opt2">Type 2</option>
                                                <option value="opt3">Type 3</option>
                                                <option value="opt4">Type 4</option>
                                                <option value="opt5">Type 5</option>
                                                <option value="opt6">Type 6</option>
                                                <option value="opt7">Type 7</option>
                                                <option value="opt8">Type 8</option>
                                            </select>
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="popupFilterKeywordInput" id="popupFilterKeywordInput"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-0 form-group">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>기관</strong></div>
                                        <select class="js-example-basic-single col-sm-12 sm" name="popupFilterAgencySelect">
                                            <optgroup label="Developer">
                                                <option value="AL">Alabama</option>
                                                <option value="WY">Wyoming</option>
                                            </optgroup>
                                            <optgroup label="Designer">
                                                <option value="WY">Peter</option>
                                                <option value="WY">Hanry Die</option>
                                                <option value="WY">John Doe</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-center border-top">
                                <button class="btn btn-disabled m-r-5" data-bs-dismiss="modal">초기화</button>
                                <button class="btn btn-primary">검색</button>
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-10">
                        <div class="card-block-small">
                            <div class="row">
                                <div class="col-12">
                                    <!-- 그리드 부분(임의로 넣어둠) -->
                                    <table id="colum-select" class="table table-striped table-bordered nowrap dataTable" role="grid"
                                           aria-describedby="colum-select_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="select-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 3.125px;"></th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="colum-select" rowspan="1" colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending" style="width: 126.625px;">사용자
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="colum-select" rowspan="1" colspan="1"
                                                aria-label="Position: activate to sort column ascending" style="width: 213.312px;">휴대폰
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="colum-select" rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending" style="width: 87.1094px;">이메일
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Airi Satou</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class=" select-checkbox"></td>
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>01012345678</td>
                                            <td>adcde@gmail.com</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- //그리드 부분(임의로 넣어둠) -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary waves-effect waves-light ">선택</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#exampleTable').DataTable({
                lengthChange: false,
                searching: false,
                ordering: false,
                paging: true,
                select: false,
                info: false,
                pageLength: 5,
                "columnDefs": [
                    {"className": "dt-head-center", "targets": "_all"},
                    { className: "dt-body-center", targets: "_all"}
                ]
            })
        })
    </script>
</div>

</html>