<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="saesigDiary.websocketnetty.chatting.ChattingMapper">
    <select id="getMemberList" resultType="saesigDiary.websocketnetty.chatting.ChattingDto">
        SELECT
            id
             , email
             , password
        ,nickname
        FROM member
    </select>
</mapper>