<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <style>
        .dt-center {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <form id="searchForm" name="searchForm" onsubmit="return false;">
                <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
                <input type="hidden" id="orderField" name="orderField" value="created_at">
                <input type="hidden" id="orderDirection" name="orderDirection" value="desc">

                <div class="col-12">
                    <div class="card">
                        <div class="card-block-small">
                            <!-- 키워드 filter -->
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="searchTitle"><strong>제목</strong></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control form-control-round" aria-label="Text input with dropdown button" id="searchTitle" name="searchTitle"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong>
                                        </div>
                                        <div class="col-sm-12">
                                            <select id="searchCategory" name="searchCategory" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option value="Y">사용</option>
                                                <option value="N">미사용</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //키워드 filter -->
                            <!-- 키워드 filter-btn -->
                            <div class="mt-1 p-t-20 text-center border-top">
                                <button class="btn btn-gray m-r-5">초기화</button>
                                <button class="btn btn-primary" onclick="listController.init();">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- //필터 부분 -->


            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="row mb-3">
                <div class="col-12 col-xl-6">
                    <div class="row">
                        <h5 class="col-12 col-md-6 mb-3">
                            <strong>배너 위치</strong>
                        </h5>
                    </div>
                    <div class="card">
                        <div class="card-block-small tree-view">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>배너 위치 선택</strong>
                                </div>
                                <div class="col-sm-12">
                                    <select id="selectBannerLocation" name="selectBannerLocation" class="form-select form-control form-control-round custom-select">
                                        <option value="main">메인</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-6">
                    <div class="row align-items-center">
                        <h5 class="col mb-3">
                            <strong>배너 목록</strong>
                        </h5>
                        <div class="col-auto text-right">
                            <button type="button" id='exprtSearchBtn' class="btn btn-primary btn-sm" onclick="fn_openBannerInsertModal()">등록</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block-small">
                            <div class="banner-wrap">
                                <div class="banner-select">
                                    <div class="banner-list column">
                                        <div class="banner">
                                            <div class="row align-items-center">
                                                <div class="col stit">
                                            <span>
                                                <strong>환영합니다!</strong>
                                            </span>
                                                </div>
                                                <img class="img-fluid col-auto" src="/files/assets/images/pngegg.png">
                                            </div>

                                            <div class="text-center">
                                                <img src="/files/assets/images/logo2.png" alt="banner image">
                                            </div>

                                            <div class="row align-items-center mt-3">
                                                <div class="col">
                                                    <button class="btn btn-gray m-r-5">삭제</button>
                                                    <button class="btn btn-primary">수정</button>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="">
                                                        <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="banner">
                                            <div class="row align-items-center">
                                                <div class="col stit">
                                            <span>
                                                <strong>환영합니다!</strong>
                                            </span>
                                                </div>
                                                <img class="img-fluid col-auto" src="/files/assets/images/pngegg.png">
                                            </div>

                                            <div class="text-center">
                                                <img src="/files/assets/images/fafvicon2.png" alt="banner image">
                                            </div>

                                            <div class="row align-items-center mt-3">
                                                <div class="col">
                                                    <button class="btn btn-gray m-r-5">삭제</button>
                                                    <button class="btn btn-primary">수정</button>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="">
                                                        <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled" checked/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="banner">
                                            <div class="row align-items-center">
                                                <div class="col stit">
                                            <span>
                                                <strong>환영합니다!</strong>
                                            </span>
                                                </div>
                                                <img class="img-fluid col-auto" src="/files/assets/images/pngegg.png">
                                            </div>

                                            <div class="text-center">
                                                <img src="/files/assets/images/fafvicon4.png" alt="banner image">
                                            </div>

                                            <div class="row align-items-center mt-3">
                                                <div class="col">
                                                    <button class="btn btn-gray m-r-5">삭제</button>
                                                    <button class="btn btn-primary">수정</button>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="">
                                                        <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled" checked/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 배너 위치, 배너목록 부분 -->

        </div>
    </div>

    <div class="modal fade" id="bannerInsertPopup" data-bs-backdrop="static"></div>
    <div class="modal fade" id="bannerUpdatePopup" data-bs-backdrop="static"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script th:inline="javascript">
        var columns = document.querySelectorAll(".column");

        var updatePopupUrl = "/admin/banner/bannerUpdatePopup.html";
        var updateAddModal;

        var insertPopupUrl = "/admin/banner/bannerInsertPopup.html";
        var insertAddModal;

        fn_openBannerInsertModal = () => {
            $("#bannerInsertPopup").load(insertPopupUrl, function(response, status, xhr) {
                if (status == "success") {
                    insertAddModal = new bootstrap.Modal($('#bannerInsertPopup'));
                    insertAddModal.show();
                }
            });
        }

        fn_openBannerUpdateModal = (bannerid) => {
            var url = updatePopupUrl+"?bannerid="+bannerid;

            $("#bannerUpdatePopup").load(url, function(response, status, xhr) {
                if (status == "success") {
                    updateAddModal = new bootstrap.Modal($('#bannerUpdatePopup'));
                    updateAddModal.show();
                }
            });
        }

        const listController = {
            init : function() {
                this.registEvent();
            },

            registEvent : function() {
                // drag&drop event
                columns.forEach((column) => {
                    var sortbale = new Sortable(column, {
                        group: "shared",
                        animation: 150,
                        ghostClass: "blue-background-class",
                        dataIdAttr: 'data-id',

                        onEnd : function(evt) { // 배너를 drop 했을때 실행
                            console.log(1)
                        }
                    });
                });
            }
        };

        $(function () {
            listController.init();
        })
    </script>

</div>
</html>