<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <style>
        .dt-center {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <!-- Page-body start -->
    <div class="page-body">

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="row mb-3">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="card banner-card">
                        <div class="card-block-small tree-view">
                            <div class="row mb-3">
                                <h5 class="col-12 col-md-6 mb-3">
                                    <strong>검색</strong>
                                </h5>
                            </div>
                            <div class="mb-0 form-group row">
                                <div class="col-12">
                                    <input type="text" class="form-control form-control-round" aria-label="Text input with dropdown button" id="searchTitle" name="searchTitle" placeholder="제목"/>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-center mb-5">
                                <button class="btn btn-gray m-r-5">초기화</button>
                                <button class="btn btn-primary" onclick="listController.init();">검색</button>
                            </div>
                            <div class="row align-items-center mb-3">
                                <h5 class="col mb-3">
                                    <strong>배너 목록</strong>
                                </h5>
                                <div class="col-auto text-right">
                                    <button type="button" id='exprtSearchBtn' class="btn btn-transparent btn-sm" onclick="openForm()"><img class="plusIcon">배너등록</button>
                                </div>
                            </div>
                            <div class="mb-0 form-group row">
                                <div class="col-sm-12">
                                    <select id="selectBannerLocation" name="selectBannerLocation" class="form-select form-control form-control-round custom-select">
                                        <option value="main">메인</option>
                                    </select>
                                </div>
                            </div>

                            <div class="banner-wrap">
                                <div class="banner-select">
                                    <div class="banner-list column">
                                        <div class="banner">
                                            <div class="col-12 col-lg-1 banner-selecter">
                                                <img class="img-fluid" src="/files/assets/images/bannerSelecter.png">
                                            </div>
                                            <div class="col-6 col-lg-3 banner-thumbnail">
                                                <img class="img-fluid" src="/files/assets/images/logo2.png" alt="banner image">
                                            </div>
                                            <div class="col-12 col-lg-6 m-l-20 banner-title">
                                                <div class="col m-b-30 banner-status on">
                                                    <span>게시중</span>
                                                    <span>첫번째 순서</span>
                                                </div>
                                                <div class="col m-b-30 stit">
                                                    <span>새식일기를 방문해주셔서 감사합니다 새로운 식구들과 함께해요~</span>
                                                </div>
                                                <div class="col">
                                                    <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled"/>
                                                </div>
                                            </div>
                                            <div class="col col-lg-1 m-l-30 banner-btn-area">
                                                <div class="row banner-btn">
                                                    <button class="btn btn-gray mb-2">삭제</button>
                                                    <button class="btn btn-primary mb-2" onclick="fn_openBannerInsertForm()">수정</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="banner">
                                            <div class="col-12 col-lg-1 banner-selecter">
                                                <img class="img-fluid" src="/files/assets/images/bannerSelecter.png">
                                            </div>
                                            <div class="col-6 col-lg-3 banner-thumbnail">
                                                <img class="img-fluid" src="/files/assets/images/fafvicon3.png" alt="banner image">
                                            </div>
                                            <div class="col-12 col-lg-6 m-l-20 banner-title">
                                                <div class="col m-b-30 banner-status on">
                                                    <span>게시중</span>
                                                    <span>첫번째 순서</span>
                                                </div>
                                                <div class="col m-b-30 stit">
                                                    <span>새식일기를 방문해주셔서 감사합니다 새로운 식구들과 함께해요~</span>
                                                </div>
                                                <div class="col">
                                                    <input type="checkbox" class="js-single-small" name="isEnabled" id="isEnabled"/>
                                                </div>
                                            </div>
                                            <div class="col-1 col-lg-1 m-l-30 banner-btn-area">
                                                <div class="row banner-btn">
                                                    <button class="btn btn-gray mb-2">삭제</button>
                                                    <button class="btn btn-primary mb-2">수정</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="nodata text-center">
                                            <p>등록된 배너가 없습니다.<br>새로운 배너를 등록해주세요.</p>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 mb-3">
                    <div class="card banner-card">
                        <div class="card-block-small">
                            <div class="row align-items-center">
                                <h5 class="col mb-3">
                                    <strong>배너 수정/등록</strong>
                                </h5>
                            </div>
                            <div class="row form-area">
                            </div>
                            <!--<div class="form nodata text-center">
                                <p>좌측 리스트에 대한 상세 내용이<br>여기에 표기됩니다.</p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 배너 위치, 배너목록 부분 -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script th:inline="javascript">
        var columns = document.querySelectorAll(".column");

        openForm = () => {
            $.ajax({
                type: 'get',
                url: `/admin/banner/form`,
                dataType: 'html'
            }).done(function (response) {
                $('.form-area').html("<script type='text/javascript' src='/files/bower_components/switchery/dist/switchery.min.js'>"+"</"+"script>");
                $('.form-area').append("<link rel='stylesheet' type='text/css' href='/files/bower_components/switchery/dist/switchery.min.css'>");
                $('.form-area').append("<link rel='stylesheet' type='text/css' href='files/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'>");
                $('.form-area').append(response);
            }).fail(function (error) {
            });
        }

        const listController = {
            init : function() {
                this.registEvent();
            },

            registEvent : function() {
                // drag&drop event
                columns.forEach((column) => {
                    var sortbale = new Sortable(column, {
                        group: "shared",
                        animation: 150,
                        ghostClass: "blue-background-class",
                        dataIdAttr: 'data-id',

                        onEnd : function(evt) { // 배너를 drop 했을때 실행
                            console.log(1)
                        }
                    });
                });
            }
        };

        $(function () {
            listController.init();
        })
    </script>

</div>
</html>