<form id="bannerInsertFrm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content type_2">
            <div class="modal-header">
                <h4 class="modal-title">배너 등록</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card m-b-10">
                    <div class="card-block-small">
                        <div class="mb-3 form-group row required">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>배너 위치 선택</strong>
                            </div>
                            <div class="col-sm-12">
                                <select id="selectBannerLocation" name="selectBannerLocation" class="form-select form-control form-control-round custom-select">
                                    <option value="main">메인</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="bannerInsertTitle"><strong>제목</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="bannerTtl" id="bannerTtl" placeholder="제목" />
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <div class="col-12">
                                <div class="mb-0 form-group required">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="atchFile"><strong>배너 이미지</strong></label>
                                    <p class="text-warning m-b-0">* 10MB 미만의 JPG, PNG, GIF파일만 업로드 가능(권장사이즈 : 가로 1005px, 세로 285px)</p>
                                    <div class="form-control form-control-round" style="position:relative;">
                                        <input type="file" style="display:none;" id="fileInput">
                                        파일등록 (<span class="current-file-length">0</span> / <span class="max-file-length">1</span>)
                                        <button type="button" class="file-open-btn">파일선택</button>
                                    </div>

                                    <div class="mt-2 row">
                                        <div class="col-auto">
                                            <div id="atchFileUploadSuccess">
                                                <span class="label label-yellow" id="42008"> 슬랙 (1).png
                                                    <a class="text-yellow" href="javascript:void(0)" name="42008" onclick="deleteFile(this.name, this.dataset.idntfcKey)" data-idntfc-key="155254744532866413812830686042667176820">X
                                                    </a>
                                                </span>

                                                <span class="label label-yellow" id="42027"> 환경·경제 통합분석을 위한 환경가치 종합연구_통합분석 시스템 구축.pdf
                                                    <a class="text-yellow" href="javascript:void(0)" name="42027" onclick="deleteFile(this.name, this.dataset.idntfcKey)" data-idntfc-key="187729746533770933651671500955560289682">X
                                                    </a>
                                                </span>
                                            </div>
                                            <input type="hidden" id="atchFilegrpid" name="atchFilegrpid" value="20799">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="url"><strong>링크 URL</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round" name="url" id="url" placeholder="링크 URL" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gray m-r-5" data-bs-dismiss="modal" aria-label="Close">취소</button>
                <button type="button" class="btn btn-primary" onclick="insertBanner();">저장</button>
            </div>
        </div>
    </div>
</form>