<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <form id="searchForm" name="searchForm" onsubmit="return false;">
                            <!-- 키워드 filter -->
                            <div class="row">
<!--                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1 "><strong>메뉴명</strong></div>
                                        <div class="input-group input-group-dropdown mb-0">
                                            <select name="searchType" id="searchType" class="form-select form-control form-control-round left-select custom-select">
                                                <option value="">- 전체 -</option>
                                                <option value="email">아이디</option>
                                                <option value="nickname">닉네임</option>
                                            </select>
                                            <input type="text" class="form-control form-control-round" name="searchKeyword" id="searchKeyword"/>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="dateSearch"><strong>실행일</strong></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control form-control-round" placeholder="YYYY-MM-DD HH:MM ~ YYYY-MM-DD HH:MM" id="dateSearch">
                                            <input type="hidden" id="dateSearchStart" name="dateSearchStart"/>
                                            <input type="hidden" id="dateSearchEnd" name="dateSearchEnd"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //키워드 filter -->

                            <!-- 키워드 filter-btn -->
                            <div class="mt-1 p-t-20 text-center">
                                <button type="button" class="btn btn-gray m-r-5" id="searchInit">초기화</button>
                                <button type="button" class="btn btn-primary" id="searchBtn">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분 -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>검색결과</strong></h5>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <table id="logListTable" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>메뉴명</th>
                                    <th>메뉴URL</th>
                                    <th>액션</th>
                                    <th>실행자</th>
                                    <th>실행일시</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분 -->
        </div>
    </div>

    <!-- Date Rage Picker  -->
    <link rel="stylesheet" type="text/css" th:href="@{/files/bower_components/bootstrap-daterangepicker/daterangepicker.css}">
    <script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/momentjs/latest/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/files/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>

    <script type="text/javascript" th:src="@{/js/datatables-helper.js}"></script>
    <script th:inline="javascript">
        const logController = {

            init: function () {
                let dataTablesHelper = new DataTablesHelper('logListTable');

                dataTablesHelper.datatables({
                    url: `/admin/access-log`,
                    searchParameters: $('#searchForm').serializeObject(),
                    columns: [
                        {data: 'rowNumber'},
                        {data: 'resourceName'},
                        {data: 'resourceUrl'},
                        {data: 'action'},
                        {data: 'nickname'},
                        {data: 'createdAt'},
                    ],
                });
            }
        };

        $(function () {
            logController.init();

            const $dateSearch = $("#dateSearch")
            const $dateSearchStart = $("#dateSearchStart")
            const $dateSearchEnd = $("#dateSearchEnd")

            initDateRangePicker2($dateSearch, $dateSearchStart, $dateSearchEnd, {time: false})

            $('body').on('click', '#searchBtn', function () {
                logController.init();
            }).on('click', '#searchInit', function () {
                $('#dateSearch, #dateSearchStart, #dateSearchEnd').val('');
                $('select').niceSelect('update');
            });
        });
    </script>
</div>
</html>