<div class="card-header p-b-0">
    <h3 class="sub-title"><strong>신고내역</strong></h3>
</div>
<div class="card-block-small p-t-0">
    <div class="dt-responsive table-responsive">
        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <table id="reportListTable" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>No</th>
                    <th>신고자</th>
                    <th>신고유형</th>
                    <th>신고내용</th>
                    <th>신고일시</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="reportPop" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content type_1">
            <div class="modal-header">
                <h4 class="modal-title">신고 내용</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-0 form-group">
                                    <div class="row form-group required mb-3">
                                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                               for="category"><strong>신고유형</strong></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control form-control-sm form-control-round" id="category" name="category"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="row form-group mb-3 required m-t-10" id="reason_con">
                                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                               for="reason"><strong>내용</strong></label>
                                        <div class="col-sm-12">
                                            <textarea rows="5" cols="5"
                                                      class="form-control form-control-sm form-control-round"
                                                      placeholder="내용을 입력해주세요." name="reason" id="reason" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-transparent m-r-5" data-bs-dismiss="modal"
                        aria-label="Close">닫기
                </button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(function () {
        reportController.init();
    });
</script>


