<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <style>
        .dt-center {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <form id="searchForm" name="searchForm">
                            <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
                            <input type="hidden" id="orderField" name="orderField" value="id">
                            <input type="hidden" id="orderDirection" name="orderDirection" value="desc">
                            <!-- 키워드 filter -->
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                        <div class="input-group input-group-dropdown mb-0">
                                            <select id="searchType" name="searchType" class="form-select form-control form-control-round custom-select left-select">
                                                <option value="">- 선택 -</option>
                                                <option value="email">아이디</option>
                                                <option value="nickName">닉네임</option>
                                            </select>
                                            <input type="text" class="form-control form-control-round" id="searchKeyword" name="searchKeyword">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                            <strong>제목</strong>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control form-control-round" aria-label="Text input with dropdown button" name="searchTitle" id="searchTitle"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                            <strong>분양상태</strong>
                                        </div>
                                        <div class="col-12">
                                            <select name="searchStatus" id="searchStatus" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option th:each="adoptStatus : ${adoptStatus}" th:value="${adoptStatus.key}" th:text="${adoptStatus.value}">value</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                            <strong>반려동물</strong>
                                        </div>
                                        <div class="col-12">
                                            <select name="searchAnimalDivision1Category" id="searchAnimalDivision1Category" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option th:each="dto : ${animal_division1}"
                                                        th:value="${dto.animalDivision1Id}"
                                                        th:text="${dto.animalDivision1Category}">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                            <strong>품종</strong>
                                        </div>
                                        <div class="col-12" id="searchAnimalDivision2CategoryCon">
                                            <select name="searchAnimalDivision2Category" id="searchAnimalDivision2Category" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option th:each="dto : ${animal_division2}"
                                                        th:value="${dto.animalDivision2Id}"
                                                        th:text="${dto.animalDivision2Category}">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                            <strong>성별</strong>
                                        </div>
                                        <div class="col-12">
                                            <select name="searchGender" id="searchGender" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option value="MAN">수컷</option>
                                                <option value="WOMAN">암컷</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                            <strong>신고</strong>
                                        </div>
                                        <div class="col-12">
                                            <select name="searchReportCnt" id="searchReportCnt" class="form-select form-control form-control-round custom-select">
                                                <option value="">- 전체 -</option>
                                                <option value="1">Y</option>
                                                <option value="0">N</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //키워드 filter -->
                            <!-- 키워드 filter-btn -->
                            <div class="mt-1 p-t-20 text-center">
                                <button type="button" class="btn btn-gray m-r-5" id="searchInit">초기화</button>
                                <button type="button" class="btn btn-primary" id="searchBtn">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>검색결과</strong></h5>
                        </div>
<!--                        런칭이후 삭제(테스트용)-->
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn btn-delete m-r-5" id="deleteBtn">삭제</button>
<!--                            <button type="button" class="btn btn-transparent" id="insertBtn">등록</button>-->
                        </div>
<!--                        런칭이후 삭제(테스트용)-->
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="adoptListTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group">
                                                    <input type="checkbox" class="border-checkbox " id="allCheckBox" name="allCheckbox" value="All">
                                                    <label class="form-label border-checkbox-label" for="allCheckBox"></label>
                                                </div>
                                            </div>
                                            <!--<input type="checkbox" id="allCheckBox" name="allCheckBox">-->
                                        </th>
                                        <th>No</th>
                                        <th>분양상태</th>
                                        <th>제목</th>
                                        <th>반려동물</th>
                                        <th>품종</th>
                                        <th>성별</th>
                                        <th>나이</th>
                                        <th>신고</th>
                                        <th>채팅</th>
                                        <th>좋아요</th>
                                        <th>조회수</th>
                                        <th>등록일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->

            <!-- Content Area -->
            <div id="contentPanel">

            </div>
        </div>
    </div>

    <script th:inline="javascript">


        const adoptController = {

            selectedRow: [],
            init: function () {
                ckeditorApp.setckeditor();
                let adoptListTable = null;

                if (adoptListTable != null) adoptListTable.destroy();
                this.selectedRow = [];

                adoptListTable = $('#adoptListTable').DataTable({
                    select: {
                        selector: 'td:not(:first-child)',
                        style: 'single'
                    },
                    "columnDefs": [
                        // {orderable: false, className: 'select-checkbox', targets: 0, defaultContent: ''},
                        {className: "dt-center", targets: "_all"}
                    ],
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    paging: true,
                    info: false,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: false,
                    serverSide: true,
                    processing: true,
                    ajax: {
                        async: false,
                        method: 'GET',
                        url: '/admin/saesigManage/selectAdoptList.do',
                        data: function(d) {
                            var formData  = $('#searchForm').serializeArray();
                            for(var i = 0; i < formData.length; i++) {
                                var formName = formData[i].name;
                                var formVal = $("#"+formName).val();
                                d[formName] = formVal;
                            }
                        },
                        "dataSrc": function (res) {
                            console.log(res)
                            if (res.data.length > 0){
                                return res.data;
                            }else{
                                return false;
                            }
                        }
                    },

                    columns: [
                        {width:70,
                            render: function (data, type, row) {
                                return ` <div class="border-checkbox-section">
                                                <div class="border-checkbox-group">
                                                    <input type="checkbox" class="border-checkbox" data-id="${row.id}" name="tableCheckbox" id="checkbox${row.id}">
                                                    <label class="form-label border-checkbox-label" for="checkbox${row.id}"></label>
                                                </div>
                                            </div>`;
                            }
                        },
                        {data: 'id'},
                        {render: function (data, type, row) {
                                return `${row.status.value}`;
                            }},
                        {data:'title'},
                        {width:120,data:'animalDivision1Category'},
                        {width:120,data:'animalDivision2Category'},
                        {width:120,render : function (data,type,row){
                            if (row.gender == 'MAN'){
                                return '수컷';
                            }else{
                                return '암컷';
                            }
                            }},
                        {data:'age'},
                        {data:'reportCnt'},
                        {data:'chattingCnt'},
                        {data:'likeCnt'},
                        {data:'hits'},
                        {width:100,data:'createdAt'}

                    ],

                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        info: '_START_부터 _END_까지 / 총데이터 : _TOTAL_',
                        infoEmpty: '데이터 0 부터 0 까지 / 총데이터 : 0',
                        lengthMenu: '보기',
                        loadingRecords: '로딩중..',
                    },
                    drawCallback: function () {
                        var $api = this.api();
                        var pages = $api.page.info().pages;

                        if (pages === 0) {
                            $(".paginate_button").hide();
                        }
                    }
                })

                adoptListTable.on('select', function (e, dt, type, indexes) {
                    let rowData = adoptListTable.rows(indexes).data().toArray();
                    const selectedAdoptId = rowData[0].id;

                    $.ajax({
                        type: 'get',
                        url: `/admin/saesigManage/detailForm.html?id=+${selectedAdoptId}`,
                        dataType: 'html'
                    }).done(function (response) {
                        $('#contentPanel').html(response);
                        let offset = $("#contentPanel").offset(); //해당 위치 반환
                        $("html, body").animate({scrollTop: offset.top - 80},400);
                    }).fail(function (error) {
                        console.log(error)
                    });
                }).on('deselect', function (e, dt, type, indexes) {
                    let rowData = adoptListTable.rows(indexes).data().toArray();
                });
                $('#searchAnimalDivision1Category').off('change');
                $('#searchAnimalDivision1Category').on('change',function (){
                    if ($(this).val() != ''){
                        $.ajax({
                            type: 'get',
                            url: `/admin/saesigManage/`+$(this).val()+'/getAnimalDivision2List.do',
                            dataType: 'html'
                        }).done(function (data) {
                            $('#searchAnimalDivision2CategoryCon').empty();
                            $('#searchAnimalDivision2CategoryCon').append(data);
                            $('#searchAnimalDivision2Category').niceSelect()
                        }).fail(function (error) {
                            console.log(error)
                        });
                    }
                })
                $(document).off('click', '#cancelBtn');
                $(document).on('click','#cancelBtn',function (){
                    adoptListTable.row().deselect();
                    $('#contentPanel').empty()
                })
            },
            delete: function () {
                if (this.selectedRow.length === 0) {
                    alert('선택할 항목을 선택해 주십시오.');
                } else {
                    if (confirm('삭제하시겠습니까?')) {
                        $.ajax({
                            type: 'delete',
                            data: {deleteIds: adoptController.selectedRow.join(",")},
                            url: '/admin/saesigManage/deleteAdopt.do'
                        }).done(function () {
                            alert('삭제 되었습니다.');
                            adoptController.init();
                        }).fail(function (error) {
                            alert('삭제하는데 실패하였습니다.');
                            console.log(JSON.stringify(error));
                        });
                    }
                }
            }
        };

        const chattingController = {
            targetId : null,
            ChattingReasonModal : null,
            ChattingContentModal : null,
            init : function (){
                let chattingListTable = null;
                if (chattingListTable != null) chattingListTable.destroy()
                chattingListTable = $('#chattingListTable').DataTable({
                    "columnDefs": [
                        {className: "dt-center", targets: "_all"}
                    ],
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    paging: true,
                    info: false,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: false,
                    serverSide: true,
                    processing: true,
                    ajax: {
                        async: false,
                        method: 'GET',
                        url: '/admin/saesigManage/selectChattingListByAdoptId.do',
                        data: function(d) {
                            d['adoptId'] = tabController.adoptId
                        },
                        "dataSrc": function (res) {
                            if (res.data.length > 0){
                                return res.data;
                            }else{
                                return false;
                            }
                        }
                    },

                    columns: [
                        {width:70,data: 'id'},
                        {data : 'nickname'},
                        {width:120,render: function (data, type, row) {
                                return `${row.adoptStatus.value}`;
                            }},
                        {render: function (data, type, row) {
                                return `<button type="button" class="btn btn-gray m-r-5" onclick="chattingController.openChatReasonPop(`+row.id+`)">확인</button>`;
                            }},
                        {width:100,data : 'createdAt'}
                    ],
                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        loadingRecords: '로딩중..',
                    },
                    drawCallback: function () {
                        var $api = this.api();
                        var pages = $api.page.info().pages;

                        if (pages === 0) {
                            $(".paginate_button").hide();
                        }
                    }
                })
            },
            openChatReasonPop : function (id) {
                chattingController.targetId = id;
                chattingController.ChattingReasonModal = new bootstrap.Modal($('#ChattingReasonModalPop'));
                chattingController.ChattingReasonModal.show();
                $('#ChattingReasonModalPop').find('select').niceSelect('update');
                $('#ChattingReasonModalPop').find('#category').off('change');
                $('#ChattingReasonModalPop').find('#category').on('change', function (){
                    if ($(this).val() == 'ETC'){
                        $('#etc_reason_con').show()
                    }else{
                        $('#etc_reason_con').hide()
                    }
                })

            },
            
            submitOpenChatReason : function () {
                if ($("#member_id").val() == '' || $("#member_id").val() == null || $("#member_id").val() == undefined){
                    alert("잘못된 접근입니다.")
                    return false;
                }
                if ($("#password").val() == '' || $("#password").val() == null || $("#password").val() == undefined){
                    alert("비밀번호를 입력해주세요")
                    return false;
                }
                if ($("#category").val() == '' || $("#category").val() == null || $("#category").val() == undefined){
                    alert("열람사유를 선택해 주세요")
                    return false;
                }
                if ($("#category").val()=="ETC"){
                    if ($("#etc_reason").val() == '' || $("#etc_reason").val() == null || $("#etc_reason").val() == undefined){
                        alert("열람사유가 기타일 경우 반드시 기타 사유를 작성해 주세요.")
                        return false;
                    }
                }
                if ($('#chatAgree').prop('checked')) {
                    let param = {}
                    param.memberId = $("#member_id").val();
                    param.password = $("#password").val();
                    param.category = $("#category").val();
                    param.etcReason = $("#etc_reason").val();
                    $.ajax({
                        type: 'POST',
                        data: param,
                        url: '/admin/saesigManage/submitOpenChatReason.do'
                    }).done(function () {
                        chattingController.ChattingReasonModal.hide();
                        chattingController.ChattingContentModal = new bootstrap.Modal($('#ChattingContentModalPop'));
                        chattingController.ChattingContentModal.show();
                    }).fail(function (error) {
                        alert(error.code);
                    });
                }else{
                    alert('채팅 이력 외부 유출 금지 조항에 동의해주세요')
                }
            }
        }

        const reportController = {
            reportData : null,
            targetId : null,
            reportPopModal : null,

            init : function (){
                let reportListTable = null;
                if (reportListTable != null) reportListTable.destroy()
                reportListTable = $('#reportListTable').DataTable({
                    "columnDefs": [
                        {className: "dt-center", targets: "_all"}
                    ],
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    paging: true,
                    info: false,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: false,
                    serverSide: true,
                    processing: true,
                    ajax: {
                        async: false,
                        method: 'GET',
                        url: '/admin/saesigManage/selectReportListByAdoptId.do',
                        data: function(d) {
                            d['adoptId'] = 1
                        },
                        "dataSrc": function (res) {
                            reportController.reportData = res;
                            if (res.data.length > 0){
                                return res.data;
                            }else{
                                return false;
                            }
                        }
                    },

                    columns: [
                        {data: 'id'},
                        {data : 'memberEmail'},
                        {render: function (data, type, row) {
                                return `${row.category.value}`;
                            }},
                        {render: function (data, type, row) {
                                return `<button type="button" class="btn btn btn-gray m-r-5" onclick="reportController.openReportPop(`+row.id+`)">확인</button>`;
                            }},
                        {data : 'createdAt'}
                    ],
                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        loadingRecords: '로딩중..',
                    },
                    drawCallback: function () {
                        var $api = this.api();
                        var pages = $api.page.info().pages;

                        if (pages === 0) {
                            $(".paginate_button").hide();
                        }
                    }
                })
            },

            openReportPop : function (id) {
                reportController.targetId = id;
                reportController.reportPopModal = new bootstrap.Modal($('#reportPop'));
                reportController.reportPopModal.show();
                let isFind = false;
                let k = 0;
                let data = reportController.reportData.data
                while(isFind == false){
                    if (data[k]['id'] == reportController.targetId) {
                        $('#reportPop').find("#category").val(data[k]['category']['value'])
                        $('#reportPop').find("#reason").val(data[k]['content'])
                        isFind = true
                    }
                    k = k+1
                }
            }
        }

        const adoptInfoController = {
            adoptHistoryPop : null,
            init : function (){
                ckeditorApp.setckeditor();
                $('select').niceSelect('update')
                const mySwiper = new Swiper('.swiper-container', {
                    // 옵션 설정
                    slidesPerView: 1, // 한 번에 표시할 슬라이드 수
                    spaceBetween: 20, // 슬라이드 간 간격 (픽셀)
                    loop: false, // 무한 루프 설정
                    // 기타 옵션 및 콜백 함수 등 추가 가능
                    pagination: {
                        el: '.swiper-pagination', // 페이징 컨테이너 요소
                        clickable: true, // 클릭하여 슬라이드로 이동
                    },
                });

                document.getElementById('prevSlide').addEventListener('click', function () {
                    mySwiper.slidePrev();
                });
                document.getElementById('nextSlide').addEventListener('click', function () {
                    mySwiper.slideNext();
                });

                $('#status').on('change',function (){
                    if ($(this).val() == "STOP"){
                        $('.adoptStop').show()
                    }else{
                        $('.adoptStop').hide()
                    }
                })


                const adoptFormController = {
                    save: function () {
                        this.update();
                    },

                    update: function () {
                        if (confirm('수정하시겠습니까?')) {
                            const id = $('#id').val();
                            const formData = $('#adoptForm').serializeObject();
                            formData.content = ckeditorApp.getEditorData('content');
                            formData.etcContent = ckeditorApp.getEditorData('etcContent');
                            if (formData.stopCategory == null){
                                formData.stopCategory = 'NULL'
                            }
                            formData.vaccineList = []
                            $("input[name=vaccineList]:checked").each(function (){
                                formData.vaccineList.push($(this).val())
                            })

                            $.ajax({
                                type: 'POST',
                                data: formData,
                                url: `/admin/saesigManage/updateAdoptInfo.do`
                            }).done(function (response) {
                                alert('수정 되었습니다.');
                                console.log(response);
                            }).fail(function (error) {
                                alert('수정중 에러가 발생하였습니다.');
                                console.log(JSON.stringify(error));
                            })
                        }
                    },

                    // insert: function () {
                    //     if (confirm('저장하시겠습니까?')) {
                    //         const formData = $('#adoptForm').serializeObject();
                    //         formData.content = ckeditorApp.getEditorData('content');
                    //
                    //         $.ajax({
                    //             type: 'post',
                    //             data: JSON.stringify(formData),
                    //             contentType: 'application/json',
                    //             dataType: 'json',
                    //             url: '/admin/adopts'
                    //         }).done(function (response) {
                    //             alert('등록 되었습니다.');
                    //             console.log(response);
                    //         }).fail(function (error) {
                    //             alert('등록중 에러가 발생하였습니다.');
                    //             console.log(JSON.stringify(error));
                    //         })
                    //     }
                    // }

                }
                $('body').off('click', '#saveBtn')
                $('body').off('click', '#cancelBtn')
                $('body').on('click', '#saveBtn', function (event) {
                    adoptFormController.save();
                }).on('click', '#cancelBtn', function (event) {

                });


            }
            ,openHistoryPop : function (id) {
                adoptInfoController.adoptHistoryPop = new bootstrap.Modal($('#adoptStatusHistoryPop'));
                adoptInfoController.adoptHistoryPop.show();
                statusChangeHistoryTable = $('#statusChangeHistoryTable').DataTable({
                    "columnDefs": [
                        {className: "dt-center", targets: "_all"}
                    ],
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    paging: true,
                    info: false,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: false,
                    serverSide: true,
                    processing: true,
                    ajax: {
                        async: false,
                        method: 'GET',
                        url: '/admin/saesigManage/selectHistoryByAdoptId.do',
                        data: function(d) {
                            d['adoptId'] = $('#id').val()
                        },
                        "dataSrc": function (res) {
                            if (res.data.length > 0){
                                return res.data;
                            }else{
                                return false;
                            }
                        }
                    },

                    columns: [
                        {width:70,data: 'id'},
                        {width:120,render: function (data, type, row) {
                                return `${row.beforeStatus.value}`;
                            }},
                        {width:120,render: function (data, type, row) {
                                return `${row.afterStatus.value}`;
                            }},
                        {render : function (data,type,row){
                            if (row.reason == null){
                                return '-'
                            }else{
                                return `${row.reason}`
                            }
                            }},
                        {width:100,data : 'createdAt'},
                        {render: function (data, type, row) {
                                return `${row.nickname}`+'('+`${row.email}`+')';
                            }}
                    ],
                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        loadingRecords: '로딩중..',
                    },
                    drawCallback: function () {
                        var $api = this.api();
                        var pages = $api.page.info().pages;

                        if (pages === 0) {
                            $(".paginate_button").hide();
                        }
                    }
                })
            }
        }

        const tabController = {
            currentTab :"",
            adoptId : "",
            chattingUrl :"",
            reportUrl :"",
            infoUrl :"",

            initTab : function () {
                this.currentTab = "";
                this.chattingUrl = '/admin/saesigManage/chattingForm.html?id='+this.adoptId;
                this.reportUrl ='/admin/saesigManage/reportForm.html?id='+this.adoptId;
                this.infoUrl ='/admin/saesigManage/infoForm.html?id='+this.adoptId;
                this.moveTab("info")
            },

            moveTab : (tabid)=>{

                if(tabController.currentTab == tabid) return;

                $(".nav-link").removeClass("active");
                tabController.currentTab = tabid;

                if(tabid=="chatting"){
                    tabController.loadForm(tabController.chattingUrl);
                }else if (tabid=="info"){
                    tabController.loadForm(tabController.infoUrl);
                }else{
                    tabController.loadForm(tabController.reportUrl);
                }
                $("#"+tabController.currentTab+'Tab').addClass("active");
                let offset = $("#contentPanel").offset(); //해당 위치 반환
                $("html, body").animate({scrollTop: offset.top - 80},400);
            },

            loadForm : function (url) {
                $.ajax({
                    type: 'get',
                    url: url,
                    dataType: 'html'
                }).done(function (response) {
                    $('#tab-content').html(response);
                }).fail(function (error) {
                    console.log(error)
                });
            }
        }


        $(function () {
            adoptController.init();
            $("body").on('click', '#insertBtn', function () {
                $.ajax({
                    type: 'get',
                    url: `/admin/adopts/form`,
                    dataType: 'html'
                }).done(function (response) {
                    $('#contentPanel').html(response);
                }).fail(function (error) {
                });
            }).on('click', '#deleteBtn', function () {
                adoptController.delete();
            }).on('click', '#searchBtn', function () {
                adoptController.init();
            }).on('click', '#searchInit', function () {
                $('#searchKeyword, #searchType, #searchTitle, #searchStatus, #searchCategory, #searchAnimalDivision1Category, #searchAnimalDivision2Category, #searchGender, #searchReportCnt').val('');
                $('select').niceSelect('update');
            });
            $('input[name=tableCheckbox]').on('change', function () {
                const $this = $(this)
                if ($this.is(':checked')) {
                    adoptController.selectedRow.push($this.data('id'));
                    if (adoptController.selectedRow.length === $('input[name=tableCheckbox]').length) {
                        $('#allCheckBox').prop('checked', true);
                    }
                } else {
                    adoptController.selectedRow = $.grep(adoptController.selectedRow, function (i) {
                        return i != $this.data('id');
                    })

                    if (adoptController.selectedRow.length === 0) $('#allCheckBox').prop('checked', false);
                }
            })

            $('#allCheckBox').on('change', function () {
                const $this = $(this);

                if ($this.is(':checked')) {
                    const allSelectedRow = [];
                    $('input[name=tableCheckbox]').each(function () {
                        this.checked = true;
                        allSelectedRow.push($(this).data('id'));
                    })
                    adoptController.selectedRow = allSelectedRow;
                } else {
                    $('input[name=tableCheckbox]').each(function () {
                        this.checked = false;
                    })
                    adoptController.selectedRow = [];
                }
            });
        })
    </script>

    <script type="text/javascript" th:src="@{/js/ckeditor/build/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/build/UploadAdapter.js}"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/ckeditorApplication.js}"></script>
</div>
</html>