@import "admin-tab.css";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    font-family: Pretendard;
}

b, strong {
    font-weight: 700;
}

.input-group-dropdown > .form-select {
    padding-right: 3.5rem;
    flex: none;
    width: auto;
}

.form-control:focus {
    box-shadow: none !important;
    border-color:#171a19 !important;
}

.card {
    padding: 1rem;
    box-shadow: none !important;
}

.card-block {
    padding-top: 1.25rem;
    padding: 0;
}

.pcoded .pcoded-navbar .pcoded-item > li > a:hover {
    color: #FF8031 !important;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li:hover > a {
    color: #FF8031 !important;
}

.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li .pcoded-submenu li > a:before {
    display: inline-block;
    position: absolute;
    left: 26px;
    top: 18px;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
}

textarea {
    border-radius: 15px !important;
    padding: .5rem 2.25rem .5rem 1.5rem !important;
}

.sub-title {
    font-size: 24px !important;
    border-bottom: 0px;
}

.label-yellow {
    border-radius: 20px;
    border: 1px solid #FF8031;
    background: white;
    color: #ff8031 !important;
    margin: 1px 5px 1px 0;
    display: inline-block;
    font-size: 14px;
    text-transform: none;
}

.text-yellow {
    color: #ff8031 !important;
}

.btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    line-height: 1.5;
}

.btn:not(.input-group-text) {
    min-width: 6rem;
}

input:disabled, input[readonly] {
    background-color: #f3f3f3 !important;
}

.btn-gray {
    background: #f8f7f7;
    border-color: #f8f7f7;
    color: #ff8031;
}

.btn-gray:hover {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: #ff8031 !important;
}

.btn-delete {
    border-color: #585858;
    color: #585858;
}

.btn-delete:hover {
    background: #585858 !important;
    color: white !important;
}

.btn-transparent {
    border-color: #ff8031;
    color: #ff8031;
}

.btn-transparent:hover {
    background: #ff8031 !important;
    color: white !important;
}

.btn-transparent:hover > img {
    content: url("/files/assets/images/btn_plus2.png");
    padding-bottom: 3px;
    padding-right: 3px;
}

.plusIcon {
    content: url("/files/assets/images/btn_plus.png");
    padding-bottom: 3px;
    padding-right: 3px;
}

.form-control-round {
    padding: .5rem 2.25rem .5rem 1.5rem;
    font-size: 14px !important;
}

.border-checkbox-section .border-checkbox-group .border-checkbox-label:after {
    border-right: 0 !important;
    border-top: 0 !important;
}

.border-checkbox-section .border-checkbox-group .border-checkbox:checked  + .border-checkbox-label:after {
    border-right: 2px solid white !important;
    border-top: 2px solid white !important;
}

.border-checkbox-section .border-checkbox-group .border-checkbox:checked + .border-checkbox-label:before {
    background: #ff8031;
    border-color: #ff8031;
}

.border-checkbox-section .border-checkbox-group-inverse .border-checkbox-label:before {
    border: 2px solid #ff8031;
}

.border-checkbox-section .border-checkbox-group .border-checkbox-label:before {
    border: 2px solid #ACACAC;
}

.radio .helper::before, .radio .helper::after {
    border: 0.125rem solid #acacac !important;
}

.radio .helper::after {
    background-color: #acacac !important;
}

input[type=radio]:checked ~ .helper::after {
    transform: scale(0.5);
    background-color: #ff8031 !important;
    border-color: #ff8031 !important;
}

input[type=radio]:checked ~ .helper::before {
    border-color: #ff8031 !important;
}

.radio .helper::after {
    transform: scale(0.5);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #FF6200 !important;
    border-color: #FF6200 !important;
}

.file-open-btn {
    border: 1px solid #ff8031;
    position: absolute;
    background: #ff8031;
    right: 9px;
    top: 6px;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: white;
    font-weight: 400;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li > a {
    font-weight: 400;
}

table.dataTable tbody tr {
    height: 60px;
}

table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    vertical-align: middle;
}

div.dataTables_wrapper div.dataTables_info {
    width: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    border-radius: 50%;
    border: none;
    background: #FF8031;
    outline-color: #FF8031;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: white !important;
    background: none !important;
    background-color: #FF8031 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: pointer !important;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 50%;
    color: white !important;
    border: 1px solid #FF8031;
    background: #FF8031;
    outline-color: #FF8031;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer;
    display: inline-block;
    width: 34.5px;
    height: 34.5px;
    border-radius: 50%;
    background-color: #F3F3F3;
    text-align: center;
    box-sizing: border-box;
    margin: 0 2px 0 0;
    /*padding-top: 6px;*/
    color: #F3F3F3;
    padding: 0.4em 0em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.last {
    display: inline;
    color: #171A19;
    margin-right: 5px;
    border: none;
    outline-color: white;
    background: none;
    text-decoration: underline !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.last:hover {
    color: #404E67 !important;
    border: none;
    outline-color: white;
    background: none;
    text-decoration: underline;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.first:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.last:active {
    box-shadow: none;
    border: none !important;
    background: none !important;
    background-color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.first {
    display: inline;
    color: #171A19;
    margin-left: 5px;
    border: none !important;
    outline-color: white;
    background: none;
    text-decoration: underline !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.first:hover {
    border: none;
    color: #404E67 !important;
    outline-color: white;
    background: none;
    text-decoration: underline;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: white !important;
    background: none !important;
    background-color: #FF8031 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    border: none;
    background: none !important;
    background-color: #FF8031 !important;
}

.dataTables_paginate {
    text-align: center !important;
    width: 100% !important;
}

.ck-content {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.ck-toolbar {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #F8F7F7 !important;
}

/* banner-wrap */
.banner-wrap {
    margin-top: 30px;
}

.banner-wrap .banner-select .banner-list {
    overflow: scroll;
    overflow-x: hidden;
    height: 510px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.banner-wrap .banner-select .banner-list .text-center {
    border: 1px solid #dee2e6;
    border-radius: 20px;
}

.banner-wrap .banner-select .banner-list .banner {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding: 20px 40px 20px 0px;
}

.banner-wrap .banner-select .banner-list .banner .banner-thumbnail {
    position: relative;
    width: 50%;
    border: 1px solid #dee2e6;
    border-radius: 20px;
}

.banner-wrap .banner-select .banner-list .banner .banner-thumbnail:after {
    display: block;
    content: "";
    padding-bottom: 100%;
}

.banner-wrap .banner-select .banner-list .banner .banner-thumbnail > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    vertical-align: middle;
}

.banner-wrap .banner-select .banner-list .banner .banner-status.on > span:first-child {
    background-color: #FF803126;
    border-radius: 25px;
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    color: #FF8031;
    font-weight: 700;
    line-height: 18px;
}

.banner-wrap .banner-select .banner-list .banner .banner-status.off > span:first-child {
    background-color: #F2F2F2;
    border-radius: 25px;
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    color: #ACACAC;
    font-weight: 700;
    line-height: 18px;
}

.banner-wrap .banner-select .banner-list .banner .banner-status > span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ACACAC;
}

.banner-wrap .banner-area .banner-list {
    display: flex;
    flex-wrap: wrap;
}

.banner-wrap .banner-area .banner-list .banner {
    width: calc(50% - 15px);
}

.banner-wrap .banner-area .banner-list .nodata.banner {
}

.banner-wrap .banner-area .banner-list .banner:nth-child(odd) {
    margin-right: 15px;
}

.banner-wrap .banner-area .banner-list .banner:nth-child(even) {
    margin-left: 15px;
}

.banner-wrap .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}

.banner-wrap .tit strong {
    font-size: 16px;
    color: #2c3e50;
}

.banner-wrap .banner-list .banner {
    margin-top: 30px;
}

.banner-wrap .banner-list .banner:first-child {
    margin-top: 0px;
}

.banner-wrap .banner-list .banner .stit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.banner-wrap .banner-list .banner .stit span {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 700
}

.banner-wrap .banner-select .banner-list .banner .banner-btn {
    float: right;
    justify-content: flex-end;
}


.banner-wrap .paging {
    margin-top: 30px
}
.banner-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dee2e6;
    min-height: 250px;
    max-height: 250px;
    border-radius: 20px;
    overflow: hidden;
}

.banner-preview > img {
    height: 95%;
}

.banner-preview > thumbnail-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card.banner-card {
    min-height: 100%;
}

.card.banner-card .card-block-small {
    padding: 30px 30px;
}

.nodata {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    height: 150px;
    margin-top: 15px;
    color: #ACACAC;
    border: 0px !important;
}

.nodata p {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .banner-wrap .banner-select .banner-list .banner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #dee2e6;
        border-collapse: collapse;
        border-radius: 20px;
        padding: 0px 0px 20px 0px;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-selecter {
        position: absolute;
        z-index: 1;
        text-align: right;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-selecter > img {
        width: 38px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-btn-area {
        display: inline-block;
    }


    .banner-wrap .banner-select .banner-list .banner .banner-title {
        padding: 10px 20px 10px 10px;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-radio-con {
        display: inline-block;
    }

    .banner-wrap .banner-select .banner-list .banner .btn {
        min-width: 74px;
        width: 74px;
    }




    .banner-wrap .banner-select .banner-list .banner .banner-thumbnail {
        position: relative;
        width: 100%;
        border: 0px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        border-radius: 0px;
        text-align: center;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-thumbnail:after {
        display: block;
        content: "";
        padding-bottom: 75%;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-thumbnail > img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%;
        width: 70%;
        vertical-align: middle;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-status {
        margin-top: 10px;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-btn-area {
        width: 100%;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-btn {
        max-width: 5rem;
        right: 33%;
        flex-wrap: unset;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        margin-top: 0;
        margin-right: 10px;
        margin-left: 0;
    }

    .banner-wrap .banner-select .banner-list .banner .banner-btn > button:first-child {
        margin-right: 5px;
    }
    .banner-wrap .banner-select .banner-list .banner .banner-btn > button:last-child {
        margin-right: 10px;
    }

    .banner-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dee2e6;
        min-height: 200px;
        max-height: 200px;
        border-radius: 20px;
        overflow: hidden;
    }

    .banner-preview > img {
        height: 80%;
    }

    .banner-preview > thumbnail-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.form-group.required .col-form-label::after {
    content: " *";
    color: red;
}

.sub-title.required strong::after {
    content: " *";
    color: red;
    font-weight: 400;
}

.nice-select.form-select.form-control.custom-select.form-control-round.left-select {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.page-body table.dataTable.no-footer {
    border-bottom: 1px solid #D8D8D8;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 2px solid #171A19;
}

.left-arrow-icon {
    display: inline-block;
    min-height: 20px;
    width: 10px;
    background-image: url("/files/assets/icon/simple-arrow-icon/left_arrow.png");
    background-size: cover;
    cursor: pointer;
}

.right-arrow-icon {
    display: inline-block;
    min-height: 20px;
    width: 10px;
    background-image: url("/files/assets/icon/simple-arrow-icon/right_arrow.png");
    background-size: cover;
    cursor: pointer;
}

table.dataTable tbody tr.selected > * {
    --dt-row-selected: #F8F7F7 !important;
    --dt-row-selected-text: 0, 0, 0 !important;
    background-color: #F8F7F7 !important;
}

.modal-body {
    padding: 2rem;
}

.modal-header {
    background: #ff8031;
    border-bottom: 0;
    color: white;
    border-top-left-radius: calc(1.3rem - 3px);
    border-top-right-radius: calc(1.3rem - 3px);
    padding: 1rem 1.2rem 1rem 1.6rem;
}

.modal-header .modal-title {
    font-size: 1.25rem;
}

.modal-content {
    border: 0;
    border-radius: 1.3rem;
}

.modal-footer {
    border: 0;
    justify-content: end;
}

.modal-content-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 26px;
    outline: 0;
}

.modal-content-2 .btn-close {
    color: #fff;
}

.modal-header-v2 {
    display: flex;
    color: #fff;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    background-color: #FF8031 !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.modal-footer-v2 {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    margin-bottom: 20px;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.dataTable .border-checkbox-section .border-checkbox-group .border-checkbox-label {
    margin: 0px;
    margin-top: 2px;
    margin-left: 8px;
}

.dt-center {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dt-center > .btn-gray:hover {
    background: #ff8031 !important;
    color: white !important;
}

.ord-up-arrow {
    background-image: url('/css/images/order-up-arrow.png');
}

.btn-close {
    background: url('/css/images/x-button.png') center/2em auto no-repeat;
    opacity: 1
}

.btn-close:hover {
    opacity: 1;
}

.ord-down-arrow {
    background-image: url('/css/images/order-down-arrow.png')
}

.ord-up-btn {
    background-color: #333333;
    border-color: #333333;
    min-width: 0 !important;
}

.ord-down-btn {
    border-color: #D9D9D9;
    min-width: 0 !important;
}

.ord-up-arrow, .ord-down-arrow {
    width: 12px;
    height: 8px;
    display: block;
    position: relative;
    left: 10px;
}

div.feedback-error {
    padding: 10px 10px 0 20px;
    color: #ff8031;
}

div.feedback-valid {
    padding: 10px 10px 0 20px;
    color: #01942A;
}

.card-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-flex > h4, h5 {
    margin-bottom: 0;
    padding-bottom: 0;

}

.comment-profile-image {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-profile-image img {
    width: 100%; /* 이미지를 부모 요소(.profile-image)에 맞게 조절 */
    height: auto; /* 이미지의 높이를 가로 비율에 맞게 자동 조절 */
}

.comment-writer-con {
    display: flex;
    align-items: center;
}

.comment-writer-con p {
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 700;
}

.comment-content-con {
    display: flex;
    justify-content: space-between; /* 여기서 space-between을 사용하여 요소들을 양쪽 끝으로 푸시합니다. */
    align-items: center;
}

.comment-btn-con {
    margin-bottom: auto;
    width: max-content;
}

.comment-content p {
    width: 800px;
    font-size: 16px;
    font-weight: 500;
}

.comment-content .likeCon {
    display: inline-block;
    border-radius: 25px;
    padding: 2px 8px 2px 8px;
    width: max-content;
    border: 1px solid #D9D9D9;
    color: #ACACAC;
    font-weight: 500;
}
.comment-content .timeCon {
    margin-left: 10px;
    display: inline-block;
    width: max-content;
    color: #ACACAC;
    font-weight: 500;
}

.reply {
    padding: 20px 60px 20px 120px;
    background-color: #F8F7F7;
    margin-right: -60px;
    margin-left: -60px;
    border-top: 1px solid #D9D9D9;
;
}

.comment {
    padding: 20px 60px 20px 60px;
    margin-right: -60px;
    margin-left: -60px;
    border-top: 1px solid #D9D9D9;
}

.comment:first-child {
    border-top: none;
}