

.modal-content.type_2{background-color:#F6F7FB;}
.modal-content.type_2 .modal-header{background-color: #fff;}
.modal-content.type_2 .modal-footer{background-color: #fff;}

.breadcrumb-item:not(:first-child) i.icon-home{display: none;}

.input-group-dropdown > .form-select{padding-right: 2.25rem; flex: none; width: auto;}

.form-select.form-control-primary.form-bg-primary{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");}

.form-group.required .col-form-label::after{content:" *";color:red;}
.sub-title.required strong::after{content:" *";color:red;font-weight:400;}

/* small 버전 css */
.select2-container--default .select2-selection--single{border: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{padding: 0.25rem 2.25rem 0.25rem 0.5rem; line-height: 1.5; font-size: 0.875rem; border : 1px solid #aaa; border-radius: 4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 2px; right: 11px;}

.breadcrumb-item{color: #7e7e7e;}
.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme5"]{color: #dcdcdc !important;}
.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme5"]:hover{color : #fff !important;}
/*.type_small{font-size: .750em;}

.type_small .main-body .page-wrapper .page-header-title h4{font-size: 18px;}
.type_small .h5, .type_small h5{font-size: 1.0rem;}
.type_small .breadcrumb-title a{font-size: 12px;}
.type_small h6{font-size: 12px;}
.type_small .btn{font-size: 13px;}
.type_small .form-control{font-size: 14px;}
.type_small .sub-title{font-size: 14px;}
.type_small p{font-size: 11px;}
.type_small .switchery{width: 45px; height: 26px;}
.type_small .switchery > small{width: 26px; height: 26px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-left, .type_small .header-navbar .navbar-wrapper .navbar-container .nav-right{margin-top: 4px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-right{margin-top: 6px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-left li>a, .type_small .header-navbar .navbar-wrapper .navbar-container .nav-right li>a{font-size: 14px;}
@media only screen and (min-width: 1400px){
    .type_small p{font-size: 12px;}
    .type_small a{font-size: 12px;}
}*/
.badge {font-weight:400;}
.border {border-color:#eee;}
.border-top,
.border-bottom,
.border-start,
.border-end {border-color:#eee !important;}
.card .card-block-small {padding:20px;}
.table.td-wrap th,
.table.td-wrap td {white-space:normal !important;word-break:keep-all;}
.table-light {color:#212529;}
.mark-required {display:inline-block;padding-left:4px;color:red !important;font-weight:400;}
.text-c-blue {color:#237db1}
.bg-light {background-color:#f7f7f7 !important;}
.rounded {border-radius:3px !important;}
div {word-break:keep-all;}


/* btn */
.btn {border-radius:3px;}
.btn:not(.input-group-text) {min-width:4.4rem;}
.btn-group-sm >.btn,
.btn.btn-sm {padding:7px 9px 6px;font-size:14px;line-height:16px;}
.btn-group-sm >.btn,
.btn.btn-sm:not(.input-group-text) {min-width:3rem;}
.btn.btn-sm.input-group-text {min-width:1.8rem;}
.btn-disabled {border-color:#dbdbdb;background-color:#dbdbdb;color:#333}
.btn-disabled:hover {background-color:#ebebeb;border-color:#ebebeb}
.btn-inverse {background-color:#237db1;border-color:#237db1;}
.btn-inverse:hover {background-color:#0596cc;border-color:#0596cc;color:#fff}
.btn-inverse:focus {background-color:#0596cc;color:#fff}
.btn-primary:hover {background-color:#00ab72 !important;border-color:#00ab72 !important;}
.btn-primary:focus {background-color:#00ab72 !important;}
.btn-primary.disabled, .btn-primary:disabled {background-color:#15875f;border-color:#15875f; opacity:.7;}
.btn:not(.m-r-5) + .btn {margin-left:5px;}
.btn-toggle .btn + .btn {margin-left:0;}
.btn-outline-secondary {color:#212529;border-color:#ccc;}
.btn-check:checked + .btn-disabled {background-color:#237db1;border-color:#237db1;color:#fff;}

/* label */
.label.label-inverse {margin:1px 5px 1px 0;background:#237db1;display:inline-block;line-height:13px;}
.label.label-inverse a {vertical-align:text-bottom;margin-left:4px;}

/* checkbox */
.border-checkbox-section .border-checkbox {display:block;width:0;height:0;opacity:0;}
.border-checkbox-section .border-checkbox-group .border-checkbox-label:before,
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox-label:before {border:2px solid #666;background-color:#fff;}
.border-checkbox-section .border-checkbox-group .border-checkbox:focus+.border-checkbox-label:before,
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox:focus+.border-checkbox-label:before,
.border-checkbox-section .border-checkbox-group .border-checkbox:checked+.border-checkbox-label:before,
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox:checked+.border-checkbox-label:before {border-color:#15875f}
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox:checked+.border-checkbox-label:after {border-color:#15875f}
.border-checkbox-section .border-checkbox-group .border-checkbox:disabled+.border-checkbox-label:before,
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox:disabled+.border-checkbox-label:before {border-color:#ccc}
.form-check-input {cursor:pointer;}
.form-check-input:checked {background-color:#15875f; border-color:#15875f;}
.form-check-input:disabled {cursor:no-drop;pointer-events:unset;background-color:#eee;}
.bg-form {padding:10px;background-color:#f7f7f7;border-radius:3px;}
.bg-form.border-checkbox-section {padding:12px 10px 4px;}
.form-control:disabled {opacity:1;}

/* radio */
.radio .helper::before {background-color: #fff;}
.radio .helper::after, .radio .helper::before {border-color:#666;}
.radio input:checked + .helper::before {border-color:#15875f;}
.radio input:checked + .helper::after {border-color:#15875f;transform: scale(0.45);}
.radio input:disabled + .helper::before {border-color:#ccc;}
.radio.d-inline-block {margin-right:20px;}

/* select */
.form-select {border-color:#ccc}
.form-select option[value=""][disabled] {display:none;}
.select2-container.select2-container--open {z-index:9999999999;}
.select2-container--default .select2-results__option[aria-disabled=true]:not([id]) {display:none;}
.dropdown-toggle::after {margin-left:1em;}

/* tabs */
.gray-tabs.nav-tabs {margin-bottom:1.9rem;border:none;border-bottom:2px solid #404e67;}
.gray-tabs.nav-tabs .nav-link {margin-bottom:0;padding:0.38rem 1.2rem;border:2px solid transparent;border-bottom:none;color:#666;font-size:16px;}
.gray-tabs.nav-tabs .nav-link.active {color:#fff;background-color:#404e67;border-color:#404e67}
.gray-tabs.nav-tabs .nav-link:not(.active):hover {background-color:#e4e5eb;border-color:#e4e5eb;color:#333;}
.nav.nav-tabs.tabs:not(.gray-tabs) {margin:5px 0 8px;}

/* calendar */
.calendar-wrap {}
.calendar-tit {display:flex;align-items:center;justify-content:center;margin-bottom:12px;}
.calendar-tit .momth {display:inline-block;margin:0 10px;font-size:20px;}
.calendar-tit .btn {min-width:30px;padding:0;line-height:30px;}
.calendar-header {display:flex;background-color:#15875f;color:#fff;text-align:center;font-size:15px;}
.calendar-header > div {flex:1;line-height:2.5}
.calendar-contant .week {display:flex;border-right:1px solid #ddd;}
.calendar-contant .week > div {position:relative;display:flex;flex-direction: column;flex:1;min-height:120px;padding:5px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
.calendar-contant .week > div.today {position:relative;;border-left:1px solid #15875f;border-bottom:1px solid #15875f}
.calendar-contant .week > div.today:before {position:absolute;top:-1px;right:-1px;content:'';width:1px;height:calc(100% + 2px);background-color:#15875f;z-index:2;}
.calendar-contant .week > div.today:after {position:absolute;top:-1px;left:-1px;content:'';width:calc(100% + 2px);height:1px;background-color:#15875f;z-index:2;}
.calendar-contant .week > div:first-child .day-chk a {color:red}
.calendar-contant .week > div .day-chk a:focus {text-decoration:underline;}
.calendar-contant .day-chk {display:flex;justify-content:space-between;align-items:center;margin-bottom:3px;}
.calendar-contant .day-chk .border-checkbox-section .border-checkbox-group {display:block;}
.calendar-contant .day-chk .border-checkbox-section .border-checkbox-group .border-checkbox-label {display:block;padding-left:20px;padding-right:0;margin-right:0;margin-bottom:0;background-color:#fff;}
.calendar-contant .schedule {display:flex;flex-direction: column;justify-content:center;flex:1;}
.calendar-contant .schedule .btn {flex-wrap:wrap;display:flex;align-items:center;justify-content:center;padding:0;font-size:11px;line-height:13px;}
.calendar-contant .schedule .btn + .btn {margin-top:2px;}
.calendar-contant .schedule .time {display:inline-block;}
.calendar-contant .schedule .price {position:relative;margin-left:8px;padding-left:8px;}
.calendar-contant .schedule .price::before {content:'';position:absolute;top:4px;left:0;width:1px;height:8px;background-color:#fff;}
.calendar-contant .schedule .btn-success {background-color:#00ab72;border-color:#00ab72;}
.calendar-contant .schedule .btn-success:hover {background-color:#27c964;border-color:#27c964;}
.calendar-contant .schedule .btn-success:focus {background-color:#27c964;}
.calendar-contant .schedule .btn-success:disabled {background-color:#a4a4a4;border-color:#a4a4a4;}
.calendar-contant .schedule .more {margin-top:2px;font-size:11px; color:#666; text-align:center;}
.calendar-contant .schedule .more a {margin-right:8px;font-size:11px; color:#333;text-decoration:underline;}
.bg-calendar-ing {background-color:#effcee !important;}
.bg-calendar-stop {background-color:#fdf2f4 !important;}
.bg-calendar-end {background-color:#f5f5f5 !important;}
.layer-schedule {display:none;position:absolute;top:50%;margin-top:-50%;left:80%;width:170px;padding:5px;background:#fff;border:1px solid #ddd;box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;z-index:10}
.layer-schedule .close-area {text-align:right;line-height:0;margin-bottom:5px;}
.layer-schedule .close-area .btn-close {width:0.5rem;height:0.5rem;background-size:0.5rem auto;}
.layer-schedule .time-list {display:flex;flex-direction:column;}

/* nestable-lists */
.nestable-lists .dd {max-width:unset;}
.nestable-lists .dd-handle {padding:4px 10px;height:unset;min-height:30px;word-break:keep-all;}

/* list */
.box-desc-list > li,
div.box-desc-list {position:relative;padding-left:8px;}
.box-desc-list > li:not(:last-child) {margin-bottom:.25rem;}
.box-desc-list > li:before,
div.box-desc-list:before {content:'\00B7';font-size:inherit;color:inherit;position:absolute;left:0;top:0;font-weight:700;}

/* mobile */
.header-navbar .navbar-wrapper .navbar-logo .btn-back {display:none;position:absolute;top:50%;margin-top:-27px;padding:0 4px;left:50px;font-size:36px;;}
.header-navbar .navbar-wrapper .navbar-logo .btn-search {display:none;position:absolute;top:50%;margin-top:-20px;right:54px;font-size:26px;}
@media only screen and (max-width: 992px){
    .header-navbar .navbar-wrapper .navbar-logo .btn-back,
    .header-navbar .navbar-wrapper .navbar-logo .btn-search {display:block;}
	.label.label-inverse {margin:3px 5px 3px 0;}
}
@media only screen and (max-width: 573px){
    .nav-tabs.tabs.mo-only {display:flex}
    .nav-tabs.tabs.mo-only .nav-link.active {margin-bottom:-1px;}
}
@media only screen and (max-width: 480px){
    .main-body .page-wrapper .page-header {margin-bottom:15px;}
    .card {margin-bottom:20px;}
    .gray-tabs.nav-tabs {margin-bottom:1rem}
	.carousel-indicators {margin-bottom:0;}
}

.desc-list li {position:relative;padding:20px 30px 20px 0;border-bottom:1px solid #dee2e6;}
.desc-list li h5 {margin-bottom:10px;font-size:16px;}
.desc-list li .stretched-link {color:#212529;font-size:inherit}
.desc-list li .stretched-link:before {content:'\e649';position:absolute;right:0;top:50%;margin-top:-10px;font-family:'themify';color:#999;font-size:16px;font-weight:400;}
.desc-list dl {display:flex;margin:6px 0 0 0;font-size:14px;}
.desc-list dl dt {margin:0 6px 0 0;}
.desc-list dl dd {flex:1;margin:0;}

.daterangepicker {z-index:999999999990;}