<div class="card tab-card">
  <ul class="nav nav-tabs md-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="javascript:void(0)" onclick="tabController.moveTab('info')"  role="tab" aria-selected="true" id="infoTab">기본정보</a>
      <div class="slide"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0)" onclick="tabController.moveTab('comment')" role="tab" aria-selected="false" id="commentTab">댓글(<span id="commentCnt">[[${diary.commentCnt}]]</span>)</a>
      <div class="slide"></div>
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-header p-b-0 nav-main">
    <div id="tab-content">
    </div>
  </div>
</div>



<script th:inline="javascript">
  $(function(){
    tabController.diaryId = [[${diary.id}]]
    tabController.initTab();
  });

</script>