<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <style>
        .nice-select.form-select.form-control.custom-select.form-control-round {
            border-top-left-radius: 50px !important;
            border-bottom-left-radius: 50px !important;
        }

        .table-responsive {
            overflow-y: hidden;
        }
    </style>
    <!--    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/custom-design.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/ckeditor/build/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/build/UploadAdapter.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/ckeditorApplication.js}"></script>
    <script th:inline="javascript">
        const newsList = {
            NewsData: null,
            AnswerData : null,
            init: function () {
                this.setFilter()
                this.newsListLoad()
                this.registEvent()
            },

            registEvent: function () {
                const _this = this;
                $('#searchBtn').on('click', function () {
                    _this.newsListLoad()
                })

                $(document).on('click', '#newsListTable tbody tr', function () {
                    _this.selectItem(this);
                })

                $('#checkboxAll').on('change',function () {
                    if ($(this).is(':checked')){
                        $('#newsListTable').find('input[type=checkbox]').prop('checked',true)
                    }else{
                        $('#newsListTable').find('input[type=checkbox]').prop('checked',false)
                    }
                })

                $(document).on('change','input[name=rowCheckbox]',function () {
                    if ($(this).is(':checked')){
                    }else{
                        $('#checkboxAll').prop('checked',false)
                    }
                })
                $('#answerDate').val();

                $('#newsInsert').on('click',function () {
                    _this.newsInsert();
                })

                $('#newsCancel').on('click',function (){
                    $('#contentCard').hide()
                })

                $('#insertBtn').on('click',function (){
                    $('#contentCard').find('input').val('')
                    $('#contentCard').find('textarea').each(function (){
                        ckeditorApp.editorList[$(this).attr('id')].setData('');
                        $(this).val('')
                    })
                    $('#contentCard').find('select').each(function () {
                        $(this).val($($(this).find('option')[0]).val());
                    })
                    $('select').niceSelect('update');
                })


            },

            setFilter: function () {
                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/news/getFilterData.do",
                    ContentType: 'application/json',
                    dataType: 'json',
                    cache: false,
                    success: function (result) {
                        const categoryList = Object.keys(result['NewsCategory']);
                        let categoryOption = '';
                        for (let i = 0; i < categoryList.length; i++) {
                            categoryOption += '<option value="' + categoryList[i] + '">' + result['NewsCategory'][categoryList[i]]['title'] + '</option>'
                        }
                        $('#searchCategory').append(categoryOption)

                        const statusList = Object.keys(result['NewsStatus']);
                        let statusOption = '';
                        for (let i = 0; i < statusList.length; i++) {
                            statusOption += '<option value="' + statusList[i] + '">' + result['NewsStatus'][statusList[i]]['title'] + '</option>'
                        }
                        $('#searchStatus').append(statusOption)
                        $('select').niceSelect('update');
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            },

            newsListLoad: function () {
                const _this = this;
                let params = _this.getFilterParam();
                let table = null
                if (table != null) {
                    table.destroy();
                }
                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/news/getNewsList.do",
                    dataType: 'json',
                    data: params,
                    cache: false,
                    success: function (result) {
                        _this.NewsData = result.data;
                        table = $("#newsListTable").DataTable({
                            ordering: false,
                            data: result.data,
                            columns: [
                                {data: null},
                                {data: "category"},
                                {data: "title"},
                                {data: "nickname"},
                                {data: "isNotice"},
                                {data: "createdAt"}
                            ],
                            columnDefs: [{
                                'targets': 0,
                                'searchable': false,
                                'orderable': false,
                                'width': '30px',
                                'className': 'dt-body-center',
                                'render': function (data, type, full, meta) {
                                    // return '<input type="checkbox" name="rowCheckbox" value="' + $('<div/>').text(data.id).html() + '">';
                                    return '<div class="border-checkbox-section"><div class="border-checkbox-group"><input type="checkbox" class="border-checkbox " id="checkbox' + $('<div/>').text(data.id).html() + '" name="rowCheckbox" value="' + $('<div/>').text(data.id).html() + '"><label class="form-label border-checkbox-label" for="checkbox' + $('<div/>').text(data.id).html() + '"></label></div></div>'

                                }
                            }
                                , {'targets': 1, 'width': '70px'}
                                , {'targets': 2, 'width': 'auto'}
                                , {'targets': 3, 'width': '70px'}
                                , {'targets': 4, 'width': '70px'}
                                , {'targets': 5, 'width': '70px'}
                            ],
                            destroy: true,
                            language: {
                                paginate: {
                                    previous: 'Prev'
                                }
                            }
                        })
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            },

            getFilterParam: function () {
                let param = {};
                param.orderColumn = null;
                param.orderColumnSort = null;
                param.searchCategory = null;
                param.searchStatus = null;
                param.searchTitle = null;
                param.searchKeywordSelect = null;
                param.searchKeyword = null;

                if ($('#searchStatus').val() != '' && $('#searchStatus').val() != null && $('#searchStatus').val() != undefined) {
                    param.searchStatus = $('#searchStatus').val()
                }
                if ($('#searchTitle').val() != '' && $('#searchTitle').val() != null && $('#searchTitle').val() != undefined) {
                    param.searchTitle = $('#searchTitle').val()
                }
                if ($('#searchCategory').val() != '' && $('#searchCategory').val() != null && $('#searchCategory').val() != undefined && $('#searchCategory').val() != 'all') {
                    param.searchCategory = $('#searchCategory').val()
                }
                if ($('#searchKeywordSelect').val() != '' && $('#searchKeywordSelect').val() != null && $('#searchKeywordSelect').val() != undefined) {
                    param.searchKeywordSelect = $('#searchKeywordSelect').val()
                }
                if ($('#searchKeyword').val() != '' && $('#searchKeyword').val() != null && $('#searchKeyword').val() != undefined) {
                    param.searchKeyword = $('#searchKeyword').val()
                }
                return param
            },

            selectItem: function (el) {
                $('#contentCard').show()
                let _this = this;
                const row = $(el).closest('tr');
                row.closest('tbody').find('tr').css('background-color', 'white');
                row.css('background-color', '#F8F7F7')
                const targetId = $(el).closest('tr').find('[name=rowCheckbox]').val();
                const targetData = this.NewsData.find(e => e.id === parseInt(targetId));
                $('.targetNewsCon').attr('mekc-news-id', targetId)
                // $('#title').val(targetData.title)
                // $('#created_at').val(_this.getDateStr())
                // $('#content').text(targetData.content)
                $('#created_name').val('이동헌')
                $(Object.keys(targetData)).each(function (){
                    if ($(document).find("#"+this).length > 0){
                        const element = $(document).find('#'+this)[0];
                        if (element.tagName == 'INPUT'){
                            $(element).val(targetData[this])
                        }else if (element.tagName == 'SELECT'){
                            $(element).val(targetData[this])
                            $('select').niceSelect('update');
                        }else if (element.tagName == 'TEXTAREA'){
                            $(element).text(targetData[this])
                            ckeditorApp.editorList[this].setData(targetData.content)
                        }
                    }
                })
            },

            newsInsert : function () {
                param = {};
                param.status = null;
                param.title = null;
                param.content = null;
                param.createdBy = 1;
                param.modifiedBy = 1;
                param.createdAt = null;
                param.newsId = null;
                param.isNotice = null;

                if ($('#category').val() != '' && $('#category').val() != null && $('#category').val() != undefined) {
                    param.category = $('#category').val()
                }else{
                    alert("카테고리를 입력해주세요");
                    return false;
                }
                if ($('#title').val() != '' && $('#title').val() != null && $('#title').val() != undefined) {
                    param.title = $('#title').val()
                }else{
                    alert("제목을 입력해주세요");
                    return false;
                }
                if ($('#content').val() != '' && $('#content').val() != null && $('#content').val() != undefined) {
                    param.content = $('#content').val()
                }else{
                    alert("답변 내용을 입력해주세요")
                }
                if ($('#isNotice').val() != '' && $('#isNotice').val() != null && $('#isNotice').val() != undefined){
                    param.isNotice = $('#isNotice').val()
                }else{
                    param.isNotice = 'N';
                }

                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: "/admin/news/insertNews.do",
                    dataType: 'json',
                    data: JSON.stringify(param), // 객체를 JSON 문자열로 변환하여 전달
                    contentType: 'application/json', // 전달하는 데이터의 타입을 명시
                    cache: false,
                    success: function (result) {
                        if (result){
                            alert("등록이 완료되었습니다.");
                            window.location.reload();
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            },
            getDateStr : function (date = null, format = null) {
                if (date == null){
                    date = new Date();
                }else{
                    date = new Date(date)
                }
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');

                let str
                if (format == null){
                    str = `${year}-${month}-${day}`
                }else{
                    str = `${year}-${month}-${day}`
                }
                return str
            }
        }
        $(document).ready(function () {
            newsList.init();
        });

    </script>

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
                <div class="card-block-small">
                    <!-- 키워드 filter -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>유형</strong></div>
                                <div class="col-sm-12">
                                    <select name="searchCategory" id="searchCategory"
                                            class="form-select form-control form-control-round custom-select left-select">
                                        <option value="">- 전체 -</option>
                                        <option th:each="newsCategory : ${newsCategories}" th:value="${newsCategory.key}" th:text="${newsCategory.value}">value</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>제목</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <input type="text" class="form-control form-control-round" name="searchTitle"
                                           id="searchTitle"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //키워드 filter -->
                    <!-- 키워드 filter-btn -->
                    <div class="mt-1 p-t-20 text-center border-top">
                        <button class="btn btn-disabled m-r-5">초기화</button>
                        <button class="btn btn-primary" id="searchBtn">검색</button>
                    </div>
                </div>
            </form>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button class="btn btn-primary" id="insertBtn">등록</button>
                            <button type="button" class="btn btn-inverse">삭제</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <table id="newsListTable"
                                   class="col-12 hover nowrap row-border"
                                   role="grid" style="width: 100%">
                                <thead>
                                <tr role="row">
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        <div class="border-checkbox-section mt20">
                                            <div class="border-checkbox-group">
                                                <input type="checkbox" class="border-checkbox " id="checkboxAll" name="rowCheckbox" value="All">
                                                <label class="form-label border-checkbox-label" for="checkboxAll"></label>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        유형
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        제목
                                    </th>
                                    <th tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        작성자
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        고정글여부
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        등록일
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="border-bottom: 1px solid #dddddd">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>
        <div class="row" style="display: none" id="contentCard">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h4 class="sub-title"><strong>기본정보</strong></h4>
                    </div>
                    <div class="card-block-small p-t-0">
                        <div class="mb-3 form-group row required">
                            <div class="col-sm-12">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                        <strong>유형</strong>
                                    </div>
                                    <div class="col-12">
                                        <select name="category" id="category" class="form-select form-control form-control-round custom-select">
                                            <option value="">- 전체 -</option>
                                            <option th:each="newsCategory : ${newsCategories}" th:value="${newsCategory.key}" th:text="${newsCategory.value}">value</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 form-group row required">
                            <div class="col-sm-12">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                        <strong>고정글 여부</strong>
                                    </div>
                                    <div class="col-12">
                                        <select name="isNotice" id="isNotice" class="form-select form-control form-control-round custom-select">
                                            <option value="N">사용안함</option>
                                            <option value="Y">사용</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="title"><strong>제목</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-round"
                                       name="title" id="title"
                                       placeholder="Text Input Validation"/>
                            </div>
                        </div>
                        <div class="mb-3 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="content"><strong>내용</strong></label>
                            <div class="col-sm-12">
                                <textarea rows="5" cols="5"
                                          class="form-control form-control-sm"
                                          placeholder="Default textarea"
                                          id="content"
                                          name="content" mekc-ck-editor></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                           for="created_name"><strong>작성자</strong></label>
                                    <div class="col-sm-12">
                                        <input type="hidden" name="answerManagerId" id="answerManagerId" value="1"
                                                readonly/>
                                        <input type="text" class="form-control form-control-round"
                                               name="created_name" id="created_name" value=""
                                               placeholder="작성자(ID)" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                           for="created_at"><strong>작성일시</strong></label>
                                    <div class="col-sm-12">
                                        <input type="text"
                                               class="form-control form-control-round"
                                               name="createdAt" id="createdAt" placeholder="YYYY-mm-dd"
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <button class="btn btn-disabled m-r-5" id="newsCancel">취소</button>
                        <button class="btn btn-primary" id="newsInsert">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>
