<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="content">
    <style>
        .nice-select.form-select.form-control.custom-select.form-control-round {
            border-top-left-radius: 50px !important;
            border-bottom-left-radius: 50px !important;
        }

        .table-responsive {
            overflow-y: hidden;
        }
    </style>
    <!--    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/custom-design.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/ckeditor/build/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/build/UploadAdapter.js}"></script>
    <script type="text/javascript" th:src="@{/js/ckeditor/ckeditorApplication.js}"></script>
    <script th:inline="javascript">
        const newsList = {
            NewsData: null,
            AnswerData : null,
            init: function () {
                this.newsListLoad()
                this.registEvent()
            },

            registEvent: function () {
                const _this = this;
                $('#searchBtn').on('click', function () {
                    _this.newsListLoad()
                })

                $('#checkboxAll').on('change',function () {
                    if ($(this).is(':checked')){
                        $('#newsListTable').find('input[type=checkbox]').prop('checked',true)
                    }else{
                        $('#newsListTable').find('input[type=checkbox]').prop('checked',false)
                    }
                })

                $(document).on('change','input[name=rowCheckbox]',function () {
                    if ($(this).is(':checked')){
                    }else{
                        $('#checkboxAll').prop('checked',false)
                    }
                })
                $('#answerDate').val();

                $(document).on('click','#newsCancel',function (){
                    $('#contentCard').hide()
                })

                $('#insertBtn').on('click',function (){
                    $.ajax({
                        type: 'get',
                        url: `/admin/news/getNewsForm.do`,
                        enctype: 'multipart/form-data',
                        async: false,
                        cache: false,
                        dataType: 'html'
                    }).done(function (response) {
                        $('#contentPanel').html(response);
                        $('#created_name').val([[${loginSession.nickname}]]+'('+[[${loginSession.email}]]+')')
                        const category = /*[[${newsCategories}]]*/null;
                        let option = ''
                        $(category).each(function (){
                         option += '<option value="'+this.key+'">'+this.value+'</option>';
                        })
                        $(document).find('#category').append(option)
                        ckeditorApp.setckeditor();
                        $(document).find('select').niceSelect();
                        let offset = $("#contentPanel").offset(); //해당 위치 반환
                        $("html, body").animate({scrollTop: offset.top - 80},400);
                    }).fail(function (error) {
                    });
                })
                $('#deleteBtn').on('click',function (){
                    newsList.delete();
                })
            },

            newsListLoad: function () {
                const _this = this;
                let table = null
                if (table != null) {
                    table.destroy();
                }
                table = $("#newsListTable").DataTable({
                    select: {
                        selector: 'td:not(:first-child)',
                        style: 'single'
                    },
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    paging: true,
                    info: false,
                    pageLength: 10,
                    bPaginate: true,
                    bAutoWidth: true,
                    serverSide: true,
                    processing: true,
                    ajax: {
                        async: false,
                        method: 'GET',
                        url: "/admin/news/getNewsList.do",
                        data: function(d) {
                            var formData  = $('#searchForm').serializeArray();
                            for(var i = 0; i < formData.length; i++) {
                                var formName = formData[i].name;
                                var formVal = $("#"+formName).val();
                                d[formName] = formVal;
                            }
                        },
                        "dataSrc": function (res) {
                            console.log(res)
                            if (res.data.length > 0){
                                return res.data;
                            }else{
                                return false;
                            }
                        }
                    },
                    columns: [
                        {
                            render: function (data, type, row) {
                                return ` <div class="border-checkbox-section">
                                                <div class="border-checkbox-group">
                                                    <input type="checkbox" class="border-checkbox" data-id="${row.id}" name="tableCheckbox" id="checkbox${row.id}">
                                                    <label class="form-label border-checkbox-label" for="checkbox${row.id}"></label>
                                                </div>
                                            </div>`;
                            }
                        },
                        {render : function (data,type,row) {
                                return `${row.category.value}`;
                            }},
                        {data: "title"},
                        {data: "nickname"},
                        {data: "isFixed"},
                        {data: "createdAt"}
                    ],
                    "columnDefs": [
                        {className: "dt-center", targets: "_all"}
                    ],
                    language: {
                        search: '검색',
                        emptyTable: '데이터가 없습니다.',
                        info: '_START_부터 _END_까지 / 총데이터 : _TOTAL_',
                        infoEmpty: '데이터 0 부터 0 까지 / 총데이터 : 0',
                        lengthMenu: '보기',
                        loadingRecords: '로딩중..',
                    },
                    drawCallback: function () {
                        var $api = this.api();
                        var pages = $api.page.info().pages;

                        if (pages === 0) {
                            $(".paginate_button").hide();
                        }
                    }
                })

                table.on('select', function (e, dt, type, indexes) {
                    $('#contentCard').show()
                    const targetData = table.rows(indexes).data().toArray();
                    const targetId = targetData[0].id;
                    $.ajax({
                        type: 'get',
                        url: `/admin/news/getNewsById.do`,
                        enctype: 'multipart/form-data',
                        async: false,
                        cache: false,
                        data: {id : targetId},
                        dataType: 'html'
                    }).done(function (response) {
                        $('#contentPanel').html(response);
                        ckeditorApp.setckeditor();
                        let offset = $("#contentPanel").offset(); //해당 위치 반환
                        $("html, body").animate({scrollTop: offset.top - 80},400);
                    }).fail(function (error) {
                    })

                    // console.log(targetData)
                    // $('.targetNewsCon').attr('mekc-news-id', targetId)
                    // $('#category').val(targetData[0].category.key)
                    // $('#isFixed').val(targetData[0].isFixed)
                    // $('#title').val(targetData[0].title)
                    // ckeditorApp.editorList['content'].setData(targetData[0].content)
                    // $('#created_name').val(targetData[0].nickname + '(' + targetData[0].memberId + ')');
                    // $('select').niceSelect('update')
                    // $('#createdAt').val(targetData[0].modifiedAt)
                })
            },

            delete: function () {
                let checkList = '';
                $('#newsListTable').find('tbody').find('input[type=checkbox]:checked').each(function (){
                    if (checkList == ''){
                        checkList += $(this).attr('data-id')
                    }else{
                        checkList += ','
                        checkList += $(this).attr('data-id')
                    }

                })
                if (confirm('삭제하시겠습니까?')) {
                    $.ajax({
                        type: 'delete',
                        data: {ids: checkList},
                        url: `/admin/news/deleteNews.do`,
                    }).done(function () {
                        alert('삭제 되었습니다.');
                        newsList.init();
                    }).fail(function (error) {
                        alert('삭제하는데 실패하였습니다.');
                        console.log(JSON.stringify(error));
                    });
                }
            },

            newsInsert : function () {
                param = {};
                param.status = null;
                param.title = null;
                param.content = null;
                param.createdBy = 1;
                param.modifiedBy = 1;
                param.createdAt = null;
                param.id = $('input[name=id]').val();
                param.isFixed = null;

                $('#content').val(ckeditorApp.editorList['content'].getData())
                if ($('#category').val() != '' && $('#category').val() != null && $('#category').val() != undefined) {
                    param.category = $('#category').val()
                }else{
                    alert("카테고리를 입력해주세요");
                    return false;
                }
                if ($('#title').val() != '' && $('#title').val() != null && $('#title').val() != undefined) {
                    param.title = $('#title').val()
                }else{
                    alert("제목을 입력해주세요");
                    return false;
                }
                if ($('#content').val() != '' && $('#content').val() != null && $('#content').val() != undefined) {
                    param.content = $('#content').val()
                }else{
                    alert("내용을 입력해주세요")
                }
                if ($('#isFixed').val() != '' && $('#isFixed').val() != null && $('#isFixed').val() != undefined){
                    param.isFixed = $('#isFixed').val()
                }else{
                    param.isFixed = 'N';
                }

                let url = '';
                if (param.id != '' && param.id != null && param.id != undefined){
                    url = '/admin/news/UpdateNews.do'
                }else{
                    url = '/admin/news/insertNews.do'
                }


                $.ajax({
                    type: "post",
                    async: false,
                    enctype: 'multipart/form-data',
                    url: url,
                    dataType: 'json',
                    data: JSON.stringify(param), // 객체를 JSON 문자열로 변환하여 전달
                    contentType: 'application/json', // 전달하는 데이터의 타입을 명시
                    cache: false,
                    success: function (result) {
                        if (result){
                            alert("등록이 완료되었습니다.");
                            window.location.reload();
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            },
            getDateStr : function (date = null, format = null) {
                if (date == null){
                    date = new Date();
                }else{
                    date = new Date(date)
                }
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');

                let str
                if (format == null){
                    str = `${year}-${month}-${day}`
                }else{
                    str = `${year}-${month}-${day}`
                }
                return str
            }
        }
        $(document).ready(function () {
            newsList.init();
        });

    </script>

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <form name="searchForm" id="searchForm" action="" onsubmit="return false;" class="card">
                <div class="card-block-small">
                    <!-- 키워드 filter -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>유형</strong></div>
                                <div class="col-sm-12">
                                    <select name="searchCategory" id="searchCategory"
                                            class="form-select form-control form-control-round custom-select left-select">
                                        <option value="">- 전체 -</option>
                                        <option th:each="newsCategory : ${newsCategories}" th:value="${newsCategory.key}" th:text="${newsCategory.value}">value</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="mb-0 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>제목</strong></div>
                                <div class="input-group input-group-dropdown mb-0">
                                    <input type="text" class="form-control form-control-round" name="searchTitle"
                                           id="searchTitle"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //키워드 filter -->
                    <!-- 키워드 filter-btn -->
                    <div class="mt-1 p-t-20 text-center border-top">
                        <button class="btn btn-disabled m-r-5">초기화</button>
                        <button class="btn btn-primary" id="searchBtn">검색</button>
                    </div>
                </div>
            </form>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button class="btn btn-primary" id="insertBtn">등록</button>
                            <button type="button" class="btn btn-inverse" id="deleteBtn">삭제</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <table id="newsListTable"
                                   class="col-12 hover nowrap row-border"
                                   role="grid" style="width: 100%">
                                <thead>
                                <tr role="row">
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        <div class="border-checkbox-section mt20">
                                            <div class="border-checkbox-group">
                                                <input type="checkbox" class="border-checkbox " id="checkboxAll" name="rowCheckbox" value="All">
                                                <label class="form-label border-checkbox-label" for="checkboxAll"></label>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        유형
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        제목
                                    </th>
                                    <th tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        작성자
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        고정글여부
                                    </th>
                                    <th class="" tabindex="0"
                                        rowspan="1"
                                        colspan="1">
                                        등록일
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="border-bottom: 1px solid #dddddd">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>
        <div id="contentPanel">

        </div>
    </div>

</div>
</html>
