<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="content">
    <div class="page-body">
        <div class="row">
            <form id="searchForm" name="searchForm" onsubmit="return false;">
                <div class="col-12">
                    <div class="card">
                        <div class="card-block-small">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                        <div class="col-12">
                                            <select name="searchYear" id="searchYear" class="form-select form-control form-control-round custom-select">
                                                <option value="2024" selected>2024년</option>
                                                <option value="2023">2023년</option>
                                                <option value="2022">2022년</option>
                                                <option value="2021">2021년</option>
                                                <option value="2020">2020년</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1 p-t-20 text-center">
                                <button class="btn btn-gray m-r-5">초기화</button>
                                <button class="btn btn-primary" onclick="search();">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-yellow text-white">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="m-b-5">정상회원 합계</p>
                                <h4 class="m-b-0">852</h4>
                            </div>
                            <div class="col col-auto text-right">
                                    [[${totalUserStatistics.normalCount}]]
<!--                                <i class="feather icon-user f-50 text-c-yellow"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-yellow text-white">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="m-b-5">회원가입</p>
                                <h4 class="m-b-0">2023년</h4>
                            </div>
                            <div class="col text-right">
                                <div style="position:absolute; float:left; right:40px;" >10000</div>
                                <div>[[${totalUserStatistics.registrationCount}]]</div>

<!--                                <i class="feather icon-user f-50 text-c-yellow"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-yellow text-white">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="m-b-5">회원탈퇴</p>
                                <h4 class="m-b-0">2023년</h4>
                            </div>
                            <div class="col col-auto text-right">
                               [[${totalUserStatistics.leaveCount}]]
                            </div>
<!--                                <i class="feather icon-user f-50 text-c-yellow"></i>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-c-yellow text-white">
                    <div class="card-block">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="m-b-5">휴면회원</p>
                                <h4 class="m-b-0">2023년</h4>
                            </div>
                            <div class="col col-auto text-right">
                                [[${totalUserStatistics.dormantCount}]]
<!--                                <i class="feather icon-user f-50 text-c-yellow"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="listTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>구분</th>
                                        <th>회원가입</th>
                                        <th>회원탈퇴</th>
                                        <th>휴면회원</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="monthly : ${monthlyUserStatistics} ">
                                        <td>[[${monthly.yyyy}]]년 [[${monthly.mm}]]월</td>
                                        <td>[[${monthly.normalCount}]]</td>
                                        <td>[[${monthly.leaveCount}]]</td>
                                        <td>[[${monthly.dormantCount}]]</td>
                                    </tr>
                                    <tfoot>
                                    <tr>
                                        <th>합계</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>
    </div>

    <script th:inline="javascript">
        $(function () {
            $("#listTable").DataTable(
                {
                    columnDefs: [
                        {className: "dt-center", targets: "_all"}
                    ],
                    stripeClasses: [],
                    pagingType: 'full_numbers',
                    lengthChange: false,
                    responsive: true,
                    searching: false,
                    destroy: true,
                    ordering: false,
                    info: false,
                    bAutoWidth: true,
                    paging: false,
                    footerCallback: function () {
                        const api = this.api();

                        const intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };

                        const normalCountTotal = api
                            .column(1)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        const leaveCountTotal = api
                            .column(2)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        const dormantCountTotal = api
                            .column(3)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        $(api.column(1).footer()).html(normalCountTotal);
                        $(api.column(2).footer()).html(leaveCountTotal);
                        $(api.column(3).footer()).html(dormantCountTotal);
                    }

                }
            );
        })
    </script>
</div>